.login-page, .register-page {
	background: url(../images/background.jpg);
}
.content-wrapper {
	background: url(../images/background.jpg);
}
img {
	max-width: 100%;
	max-height: 100%;
}
.product-img {
	max-width: 80px;
	max-height: 80px;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
	font-size: 12px;
}
.login-box, .register-box{
	margin: 5% auto;
}