@charset "shift_jis";
#header-fixd-content.fixed-header {
	min-height: calc(100vh - 400px);
	padding-bottom: 50px;
}
#jsp-tiles-certification-c form {
	margin: 0;
	padding: 0;
}

#jsp-tiles-certification-c .certification-table {
	width: 760px;
}

#jsp-tiles-certification-c .certification-table .certification-table-left {
	padding: 10px 10px 10px 0;
	width: 400px;
}

#jsp-tiles-certification-c .certification-table .certification-table-left .alert-table {
	margin-bottom: 10px;
	background-color: #FFCCCC;
}

#jsp-tiles-certification-c .alert-table .corner {
	width: 10px;
	height: 10px;
	background-color: #FFFFFF;
}

#jsp-tiles-certification-c .alert-table .error-text1 {
	color: #dc4d4d;
	font-weight: bold;
	height: 40px;
	text-align: left;
}

#jsp-tiles-certification-c .alert-table .error-text2 {
	text-align: left;
	margin: 5px auto;
	width: 400px;
}

#jsp-tiles-certification-c .alert-table .error-text2 .text1 {
	margin: 15px auto;
	color: #000000;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

#jsp-tiles-certification-c .alert-table .error-text2 .submit-wrap {
	width: 100%;
	margin: 10px auto;
	text-align: center;
}

#jsp-tiles-certification-c .alert-table .error-text2 .text2 {
	font-size: 100%;
	font-weight: bold;
}

#jsp-tiles-certification-c .alert-table .error-text2 ul {
	margin-left: 0;
	padding-left: 25px;
}

#jsp-tiles-certification-c .alert-only .alert-table {
	margin-bottom: 10px;
	background-color: #FFCCCC;
}

#jsp-tiles-certification-c .alert-only .alert-table {
	margin-top : 30px;
}

#jsp-tiles-certification-c .alert-only .alert-table .error-text2 {
	text-align: center;
	margin: 5px 30px;
	width: auto;
}

#jsp-tiles-certification-c .alert-only .alert-table .error-text2 p {
	font-size: 80%;
}

#jsp-tiles-certification-c .certification-table .certification-table-left .input-table {
	border: solid 2px #CCCCCC;
	margin: 0 0 15px 0;
	width: 420px;
	background-color: #999999;
}

#jsp-tiles-certification-c .input-table .th1 {
	background-color: #FFFFFF;
	text-align: left;
}

#jsp-tiles-certification-c .input-table .th2 {
	background-color: #EEEEEE;
	text-align: center;
}

#jsp-tiles-certification-c .input-table td {
	background-color: #FFFFFF;
}

#jsp-tiles-certification-c .input-table .input-id {
	width: 250px;
	height: 30px;
	font-size: 18pt;
	font-family: 'MS 明朝';
	ime-mode: disabled;
}

#jsp-tiles-certification-c .input-table .input-pass {
	width: 250px;
	height: 30px;
	font-size: 12pt;
}

#jsp-tiles-certification-c .input-table .submit-wrap {
	margin: 10px 10px 15px;
}

#jsp-tiles-certification-c .input-table .other-link {
	padding-top: 5px;
	border-top: dashed 1px #999999;
	text-align:left;
}

#jsp-tiles-certification-c .certification-table .certification-table-left .dealer-link {
	margin-top: 10px;
	width: 368px;
	border: solid 1px #CCCCCC;
	padding: 5px;
	text-align: left;
}

#jsp-tiles-certification-c .certification-table .certification-table-right {
	border-left: solid 1px #999999;
	padding: 10px 10px 10px 0;
	width: 350px;
}

#jsp-tiles-certification-c .certification-table .certification-table-right .img-wrap {
	border: solid 1px #cccccc;
	width: 310px;
	padding: 3px;
}

#jsp-tiles-certification-c .certification-table .certification-table-right .info-wrap {
	margin-top: 30px;
	width: 260px;
	text-align: left;
}

#jsp-tiles-certification-c .certification-table .certification-table-right .note {
	width: 310px;
	margin: 10px 0;
	color: #999999;
	font-size: 10px;
	text-align: left;
}

/*追加20121022*/

#jsp-tiles-certification-c .login-table {
	width:520px;
}

#jsp-tiles-certification-c .login-table table {
	width:518px;
}

#jsp-tiles-certification-c .login-table table .fo-error-exclamation {
	background-position:left 0%;
}

#jsp-tiles-certification-c .login-table table tr .r .input-id {
	width:300px;
	ime-mode: disabled;
}

#jsp-tiles-certification-c .login-table table tr .r .input-pass {
	width:300px;
	ime-mode: disabled;
}

#jsp-tiles-certification-c .login-table .link-area {
	border-top:#cccccc dotted 2px;
}

#jsp-tiles-certification-c .regist-area {
	width:522px;
	border:#CCCCCC solid 2px;
}

#jsp-tiles-certification-c .regist-area .text {
	margin-top:7px;
}

#jsp-tiles-certification-c .regist-area .button a {
	line-height:1;
}

/* 小売側で企業アカウントでログインした場合のエラー枠 */
#jsp-tiles-certification-c .dealerlogin-alert {
	background: #f6f6f6;
	border :1px solid #cccccc;
	border-radius: 10px;
	max-width: 540px;
	width: 96%;
	margin: 0 auto;
	box-sizing: border-box;
}
@media screen and (max-width:670px) {
	#jsp-tiles-certification-c .dealerlogin-alert { padding: 40px 20px; }
	#jsp-tiles-certification-c .dealerlogin-alert p { font-size: 16px!important; }
}
/* ログイン画面：ログイン枠 */
#jsp-tiles-certification-c .cont-login,
#login-simple.cont-login {
	text-align: center;
	font-size: 13px;
}
#login-simple.cont-login { padding: 50px 0 70px; }
#jsp-tiles-certification-c .cont-login {
	width: 96%;
	margin: 50px auto 0;
}
#jsp-tiles-certification-c .cont-login .login-box,
#login-simple.cont-login .login-box {
	max-width: 390px;
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
#login-simple.cont-login .login-box { margin: 0 auto; }
#jsp-tiles-certification-c .cont-login .login-box .wrap,
#login-simple.cont-login .login-box .wrap {
	border:solid 1px #cccccc;
	background-color:#f6f6f6;
	padding:15px 30px;
}
#jsp-tiles-certification-c .cont-login .login-box .wrap .ttl,
#login-simple.cont-login .login-box .wrap .ttl {
	font-weight:bold;
	margin-bottom:15px;
	font-size:17px;
}
#jsp-tiles-certification-c .cont-login .login-box .wrap .err-box,
#login-simple.cont-login .wrap .err-box {
	background-color:#ffeded;
	border:solid 1px #dc4d4d;
	padding:0px 10px 0px 10px;
	text-align:left;
	margin-bottom:10px;
}
#jsp-tiles-certification-c .cont-login .login-box .wrap .input-ttl,
#login-simple.cont-login .login-box .wrap .input-ttl {
	text-align:left;
	margin-bottom:3px;
	font-size:15px;
}
#jsp-tiles-certification-c .cont-login .login-box .wrap .input-area,
#login-simple.cont-login .login-box .wrap .input-area {
	margin-bottom:10px;
}
#jsp-tiles-certification-c .cont-login .login-box .wrap .input-area input,
#login-simple.cont-login .login-box .wrap .input-area input {
	width: 100%;
	border-radius:5px;
	border:solid 1px #999999;
	padding:5px;
	text-align:left;
	box-sizing: border-box;
	font-size: 18px;
}
#jsp-tiles-certification-c .cont-login .login-box .co-tooltip-onclick.login-guide-tooltip {
	left: calc(100% - 10em);
	width: 430px;
	z-index:10;
}
#jsp-tiles-certification-c .cont-login .login-box .co-tooltip-onclick.login-pw-tooltip {
	text-align: left;
	left: 0px;
	width: 42em;
	z-index:10;
}
.login-box .err-box .login-err-txt {
	margin: 10px 0;
	text-align: left;
	font-weight: normal;
}
/* ログイン画面：会員登録促進枠 */
#jsp-tiles-certification-c .cont-login .regist-box {
	max-width:390px;
	width: 45%;
	padding:0px 0px 15px 0px;
	border:solid 1px #cccccc;
	margin-left:30px;
	display: inline-block;
	vertical-align: top;
}
#jsp-tiles-certification-c .cont-login .regist-box .ttl {
	background-color:#333333;
	color:#ffffff;
	font-size:16px;
	line-height: 1.8;
	padding: 5px;
}
#jsp-tiles-certification-c .cont-login .regist-box .about {
	margin:25px 15px 0px;
	padding-bottom:25px;
	text-align:center;
	font-size:15px;
}
#jsp-tiles-certification-c .cont-login .regist-box .about div:first-child {
	font-size:16px;
}
#jsp-tiles-certification-c .cont-login .regist-box .regist-box-btn {
	border-top: 1px solid #cccccc;
	padding-top: 15px;
	margin: 0 25px;
}
/* SP */
@media screen and (max-width: 670px) {
	#jsp-tiles-certification-c .cont-login .login-box,
	#login-simple.cont-login .login-box,
	#jsp-tiles-certification-c .cont-login .regist-box { width: 94%; }
	#jsp-tiles-certification-c .cont-login .login-box .wrap,
	#login-simple.cont-login .login-box .wrap { padding: 15px 20px; }
	#jsp-tiles-certification-c .cont-login .login-box .co-tooltip-onclick.login-guide-tooltip {
		left: 0;
		width: 100%;
	}
	#jsp-tiles-certification-c .cont-login .login-box .co-tooltip-onclick.login-pw-tooltip {
		left: calc(-44vw + 5.5em);
		width: 88vw;
	}
	/* ログイン画面：会員登録促進枠 */
	#jsp-tiles-certification-c .cont-login .regist-box { margin: 30px auto 0; }
}

/* 海外 */
#foreign-certification .co-title1 {width: 100%;}
#foreign-certification .fo-errors-box {margin-top: 3px;}
#foreign-certification .login-table .link-area {
	padding: 5px 5px 0;
	margin: 10px 10px 0;
	text-align: right;
}
#foreign-certification .fo-contents .link-area .link-area-inner {margin-top: 3px;}
#foreign-certification .regist-area {margin-top: 15px;}
#foreign-certification .regist-area .regist-area-inner {
	padding: 10px;
	text-align: center;
}
#foreign-certification .fo-submit .co-btn-m span input {padding-left: 20px;}
@media screen and (max-width: 940px) {
	#foreign-certification {margin-top: 35px;}
	#foreign-certification .co-title1 {
		border-bottom: none;
		width: 500px;
		box-sizing: border-box;
		padding: 0 20px;
	}
	#foreign-certification .fo-contents {
		width: auto;
		padding: 0 40px;
	}
	#foreign-certification .fo-contents table {
		width: 100%;
		max-width: 400px;
	}
	#foreign-certification .fo-contents,
	#foreign-certification .fo-contents table .l,
	#foreign-certification .fo-contents table .r,
	#foreign-certification .fo-contents .wrap {border: none;}
	#foreign-certification .fo-contents table tr,
	#foreign-certification .fo-contents table .l,
	#foreign-certification .fo-contents table .r {
		display: block;
		padding: 0;
	}
	#foreign-certification .fo-contents table .l {background-color: #fff;}
	#foreign-certification .fo-contents table tr {margin-bottom: 15px;}
	#foreign-certification .fo-contents table tr:last-child {margin-bottom: 0;}
	#foreign-certification .fo-contents table tr .r .input-id,
	#foreign-certification .fo-contents table tr .r .input-pass {
		width: 100%;
		box-sizing: border-box;
	}
	#foreign-certification .fo-contents .link-area {
		border: none;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#foreign-certification .fo-contents .link-area .link-area-inner {margin-top: 0;}
	#foreign-certification .fo-contents .fo-submit {margin: 30px 0 15px;}
	#foreign-certification .regist-area {
		border: none;
		width: 470px;
		box-sizing: border-box;
		margin-top: 20px;
		padding: 0 20px;
	}
	#foreign-certification .regist-area .regist-area-inner {
		padding: 25px 0 0 0;
		border-top: 1px solid #ccc;
	}
	#foreign-certification .fo-contents .fo-error-bgcolor>th {
		display: block;
		background-color: #fff;
		padding-top: 0;
	}
	#foreign-login-pankuzu {display: none;}
}
@media screen and (max-width: 670px) {
	#foreign-certification .fo-contents,
	#foreign-certification .co-title1,
	#foreign-certification .regist-area,
	#foreign-certification .fo-contents table {
		width: 100%;
		box-sizing: border-box;
	}
}