@charset "shift_jis";



/*** フッター共通 ***/
.footer-common {
	text-align: center;
	padding-top:25px;
	min-width:950px;
}
.footer-common ul{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin:0;
	padding:11px 0 11px 0;
	background-image: url(../img/common/footer/line.gif);
	background-repeat: repeat-x;
	background-color:#eeeeee;
}
.footer-common ul li{
	display: inline;
	margin: 0;
	padding-right:10px;
}
.footer-common ul li a:link{
	color:#FFFFFF;
	text-decoration:none;
}
.footer-common ul li a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.footer-common ul li a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.footer-common ul li a:active {
	color:#FFFFFF;
	text-decoration:none;
}
.footer-common .footer-copyright {
	padding: 10px 0 20px 0;
	background-color:#eeeeee;
}
.footer-common .footer-copyright p{
	color: #999999;
	margin: 0;
	padding: 0;
	line-height:1.6;
}
.footer-common .footer-copyright .text{
	margin-bottom:10px;
}
.footer-common .footer-copyright .footer-ssl{
	padding:10px 0 3px;
	color: #333333;
}

/*** TOP ***/

.footer-common .page-top-top {
	width: 950px;
	margin:10px auto 10px;
	text-align: right;
	padding-right:0px;
}
.footer-common .service-box{
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px 10px;
	text-align: center;
	display:block;
	width:780px;
}
.footer-common .service-box .domain-a{
	color: #666666;
	font-weight: bold;
}
.footer-common .service-box .domain-b{
	color: #666666;
	font-weight: bold;
	margin-left: 10px;
}

/*** /TOP ***/

/*** リキッド ***/

.footer-common .page-top-liquid {
	margin:10px auto 10px;
	text-align: right;
	padding-right: 10px;
}

/*** /リキッド ***/

/* ▼1308 TOPリニューアル改修▼ */
/* #footer-area-common → #footer-area-common2に */
#footer-area-common2 {
	min-width: 989px;
	margin: 50px 0 0 0;
	border-top: 1px solid #e6e6e6;
	background-color: #f6f6f6;
	position: relative;
	z-index: 1;
}
* html #footer-area-common2 { /* for IE6 */
	width: expression(document.body.clientWidth < 991? "989px" : "auto"); /* IE6 min-width */
}
#footer-area-common2 ul {
	list-style-type:none;
	-moz-padding-start: 0px;
	padding-left: 0;
	margin:0;
}
#footer-area-common2 p {
	margin:0;
}

#footer-area-common2 .footer-inner {
	width: 920px;
	padding-top: 27px;
	margin: 0 auto 25px;
}
#footer-area-common2 .footer-block {
	min-height: 150px;
	height: auto !important;
	height: 150px;
	float: left;
	text-align: left;
}
#footer-area-common2 .column1 ul {
	float: left;
}
#footer-area-common2 .co-head-bln {
	background: url("../img/common/footer/bg_head_bln_line01.gif") left bottom repeat-x;
}
#footer-area-common2 .co-head-bln span {
	font-weight: bold;
	color: #666666;
	font-size: 13px;
	background: url("../img/common/footer/bg_head_bln01.gif") 30px 100% no-repeat;
}
#footer-area-common2 .blog-wrap {
	margin: 0 15px 13px 0;
}
#footer-area-common2 .blog-wrap img {
	vertical-align: middle;
	padding-right: 5px;
}
#footer-area-common2 .blog {
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 6px;
	display: inline-block;
	text-decoration: none;
}
#footer-area-common2 .social {
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 4px 6px;
	text-decoration: none;
}
#footer-area-common2 .fb-wrap {
	font-size: 14px;
	letter-spacing: 0.05em;
	margin-right: 12px;
	text-decoration: none;
}
html>/**/body #footer-area-common2 .fb-wrap{
	font-size /*\**/:14px\9;
	letter-spacing /*\**/: 0.03em\9;
}
#footer-area-common2 .fb-wrap a {
	text-decoration: none;
}
#footer-area-common2 .fb-wrap img {
	vertical-align: middle;
	padding: 0px 8px 0px 3px;
}
#footer-area-common2 .qr-wrap {
	font-size: 14px;
	letter-spacing: 0.05em;
	text-decoration: none;
}
html>/**/body #footer-area-common2 .qr-wrap{
	font-size /*\**/:14px\9;
	letter-spacing /*\**/: 0.03em\9;
}
#footer-area-common2 .qr-wrap a {
	text-decoration: none;
}
#footer-area-common2 .qr-wrap img {
	vertical-align: middle;
	padding-right: 5px;
}
#footer-area-common2 .qr {
	float: left;
	margin-top: 30px;
}
#footer-area-common2 .qr dt {
	float: left;
	margin-right: 10px;
}
#footer-area-common2 .qr dd {
	color: #666666;
	float: left;
	-moz-margin-start: 0px;
	width: 147px;
	margin: 0px;
}
#footer-area-common2 .qr dd p {
	font-size: 85%;
	padding-top: 8px;
	border-top: 1px solid #cccccc;
	margin-top: 5px;
}
#footer-area-common2 .qr dd strong {
	font-size: 12px;
	font-weight: bold;
}
#footer-area-common2 .column1 {
	width: 220px;
	line-height: 2.1;
}
#footer-area-common2 .column2 {
	width: 260px;
}
#footer-area-common2 .column3 {
	width: 300px;
}
#footer-area-common2 .column4 {
	max-width: 130px;
	width: 13%;
	margin-left: 20px;
}
#footer-area-common2 .column4 .pc {display: inline;}
#footer-area-common2 .column4 .tb-sp {display: none;}
#footer-area-common2 .column4 img {width: 100%;}
#footer-area-common2 .footer-logo {
	padding: 10px 0;
	text-align: center;
	background-color: #ffffff;
	line-height: 1;
}
#footer-area-common2 .footer-info {
	padding: 5px 0;
	text-align: center;
	background-color: #333333;
	line-height: 1;
}
#footer-area-common2 .footer-info p {
	color: #cccccc;
	font-size: 11px;
	margin-bottom: 0;
}
#footer-area-common2 .footer-info img {
	vertical-align: top;
}
#footer-area-common2 .group-factory a {
	background:url("../img/common/footer/icon_group_factory.gif") 0 2px no-repeat;
	padding: 4px 10px 3px 28px;
}
#footer-area-common2 .group-sos a {
	background:url("../img/common/footer/icon_group_sd.gif") 0 2px no-repeat;
	padding: 5px 28px;
}
#footer-area-common2 .group-sos{
	margin-top: 9px;
}
#footer-area-common2 .group-paid{
	margin-top: 9px;
}
#footer-area-common2 .group-paid a{
	background:url("../img/common/footer/icon_group_paid.gif") 0 2px no-repeat;
	padding: 5px 28px;
}
#footer-area-common2 .group-urikake{
	margin-top: 9px;
}
#footer-area-common2 .group-urikake a {
	background:url("../img/common/footer/icon_group_urikake_new.gif") 0 2px no-repeat;
	padding: 5px 28px;
}
#footer-area-common2 .group-uriho{
	margin-top: 9px;
}
#footer-area-common2 .group-uriho a {
	background:url("../img/common/footer/icon_group_uriho.gif") 0 2px no-repeat;
	padding: 5px 8px 5px 28px;
}
#footer-area-common2 .group-corec{
	margin-top: 9px;
}
#footer-area-common2 .group-corec a {
	background:url("../img/common/footer/icon_group_corec.gif") 0 2px no-repeat;
	padding: 5px 28px;
}
#footer-area-common2 .footer-new-icon {
	display: inline-block;
	background: url("../img/common/footer/icon_new.gif") no-repeat 0 0px;
	width: 25px;
	height: 12px;
	cursor: pointer;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 10;
}
/* ▲1308 TOPリニューアル改修▲ */

/* ▼1606 御用聞キ屋LP用シンプルフッター▼ */
#footer-area-simple {
	margin: 74px auto 0px;
	border-top: 1px solid #e6e6e6;
	background-color: #f6f6f6;
	position: relative;
	z-index: 1;
}
#footer-area-simple .footer-inner {
	margin-top: 27px;
    margin-bottom: 27px;
    text-align: center;
    width: auto;
}
#footer-area-simple .footer-inner .txt-link {
	display: inline-block;
	margin-right: 15px;
	text-align: left;
	line-height: 1.8;
}
#footer-area-simple .footer-inner .txt-link:last-child {
	margin-right: 0px;
}
#footer-area-simple .footer-info {
    background-color: #333333;
    line-height: 1;
    padding: 5px 0;
    text-align: center;
}
#footer-area-simple .footer-info p {
    color: #cccccc;
    font-size: 11px;
    margin-bottom: 0;
}
#footer-area-simple .footer-info img {
    vertical-align: top;
}

/* TABLET */
@media screen and (min-width: 671px) and (max-width: 940px) {
/* ここにTABLETの記述 */
	#footer-area-simple {
		margin: 56px auto 0px;
	}
}

/* SP */
@media screen and (max-width: 670px) {
	/* ここにスマホの記述 */
	#footer-area-simple .footer-info p {
		font-size: 9px;
		line-height: 1.5;
	}
}
/* ▲1606 御用聞キ屋LP用シンプルフッター▲ */

/* ▼1701 国内footer改修▼ */
#footer-area-common3 {
	min-width: 989px;
	margin: 50px 0 0 0;
	padding-top: 1px;
	background-color: #eee;
	position: relative;
	z-index: 1;
}
#footer-area-common3 .pc-br {display: block;}
#footer-area-common3 .up {
	background: #445c76;
	color: #fff;
	padding: 45px 0 30px;
}
#footer-area-common3 .up .wrap {
	max-width: 830px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
#footer-area-common3 .up .wrap .title {
	border-bottom: 1px solid #798ea4;
	margin-bottom: 18px;
	padding-bottom: 4px;
}
#footer-area-common3 .up .wrap>div,
#footer-area-common3 .up .wrap>div>div {float: left;}
#footer-area-common3 .up .wrap>div:last-child {margin-right: 0;}
#footer-area-common3 .up .wrap .left-column {
	margin-right: 7%;
	box-sizing: border-box;
}
#footer-area-common3 .up .wrap .left-column {width: 27%;}
#footer-area-common3 .up .wrap .left-column a {color: #fff;}
#footer-area-common3 .up .wrap .left-column ul li {padding: 5px 0;}
#footer-area-common3 .up .wrap .left-column ul li:first-child {padding-top: 0;}
#footer-area-common3 .up .wrap .left-column .export-button {
	margin-top: 15px;
	padding: 10px 45px 10px 10px;
	background: url("../img/common/footer/export_arrow00.png") right 12px center no-repeat;
	background-size: 7px 12px;
	display: inline-block;
	border: 1px solid #798ea4;
	border-radius: 5px;
}
#footer-area-common3 .up .wrap .left-column .export-button:hover {border: 1px solid #6e849b;}
#footer-area-common3 .up .wrap .right-wrap-column {width: 66%;}
#footer-area-common3 .up .wrap .right-wrap-column .center-column {
	width: 47%;
	margin-right: 11%;
}
#footer-area-common3 .up .wrap .right-wrap-column .center-column ul li {margin-bottom: 10px;}
#footer-area-common3 .up .wrap .right-wrap-column .center-column ul li:last-child {margin-bottom: 0;}
#footer-area-common3 .up .wrap .right-wrap-column .center-column ul li a {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #798ea4;
	border-radius: 5px;
	font-size: 15px;
	vertical-align: middle;
	color: #fff;
	background: #2d4259 url("../img/common/footer/export_arrow00.png") right 12px center no-repeat;
	background-size: 7px 12px;
	min-height: 45px;
	text-decoration: none;
}
#footer-area-common3 .up .wrap .right-wrap-column .center-column ul li span {
	vertical-align: middle;
	display: inline-block;
    margin-top: 3px;
}
#footer-area-common3 .up .wrap .right-wrap-column .center-column ul li img {
	vertical-align: middle;
	margin: 0 12px -1px 0;
}
#footer-area-common3 .up .wrap .right-wrap-column .center-column .invitation img,
#footer-area-common3 .up .wrap .right-wrap-column .center-column .seminar img {width: 30px;}
#footer-area-common3 .up .wrap .right-wrap-column .center-column .invitation:hover,
#footer-area-common3 .up .wrap .right-wrap-column .center-column .seminar:hover,
#footer-area-common3 .up .wrap .right-wrap-column .right-column a:hover {
	opacity: 0.8;
}
#footer-area-common3 .up .wrap .right-wrap-column .right-column {width: 42%;}
#footer-area-common3 .up .wrap .right-wrap-column .right-column .links-wrap {margin-top: 5px;}
#footer-area-common3 .up .wrap .right-wrap-column .right-column .blog {width: 147px;}
#footer-area-common3 .up .wrap .right-wrap-column .right-column .twitter {width: 41px;}
#footer-area-common3 .up .wrap .right-wrap-column .right-column .facebook {width: 40px;}
#footer-area-common3 .up .wrap .right-wrap-column .right-column .award-nsa {margin-top:30px; width: 180px; display:block;}
#footer-area-common3 .down {
	background: #222;
	color: #ccc;
	padding: 45px 0 15px;
}
#footer-area-common3 .down .main-title {
	max-width: 850px;
	width: 100%;
	margin: 0 auto 20px;
}
#footer-area-common3 .down .wrap {
	max-width: 780px;
	width: 100%;
	margin: 0 auto 20px;
}
#footer-area-common3 .down .title {
	border-bottom: 1px solid #575757;
	margin-bottom: 18px;
	padding-bottom: 2px;
}
#footer-area-common3 .down .wrap .space {width: 5%;}
#footer-area-common3 .down .wrap a {color: #ccc;}
#footer-area-common3 .down .wrap .domain {margin-bottom: 15px;}
#footer-area-common3 .down .wrap .domain>a {
	display: inline-block;
	text-decoration: none;
	line-height: 1.2;
}
#footer-area-common3 .down .wrap .domain .name {
	font-weight: bold;
	border: none;
	padding: 0;
}
#footer-area-common3 .down .wrap .domain a:hover .name {text-decoration: underline;}
#footer-area-common3 .down .wrap .domain .explain {font-size: 85%;}
#footer-area-common3 .down .wrap .sub {
	margin-top: 7px;
	padding-left: 48px;
}
#footer-area-common3 .down .wrap .sub li {
	list-style-type: disc;
	font-weight: bold;
	margin-bottom: 3px;
}
#footer-area-common3 .down .wrap .domain>a {padding-left: 35px;}
#footer-area-common3 .down .wrap .left-column,
#footer-area-common3 .down .wrap .right-wrap-column {float: left;}
#footer-area-common3 .down .wrap .left-column {
	width: 29%;
	margin-right: 7%;
	box-sizing: border-box;
}
#footer-area-common3 .down .wrap .left-column a.sd-link {background: url("../img/common/footer/sd_icon00.png") left center / 27px no-repeat;}
#footer-area-common3 .down .wrap .left-column a.sdfactory-link {background: url("../img/common/footer/sdfactory_icon00.png") left center / 27px no-repeat;}
#footer-area-common3 .down .wrap .left-column a.corec-link {background: url("../img/common/footer/corec_icon00.png") left center / 27px no-repeat;}
#footer-area-common3 .down .wrap .right-wrap-column {width: 64%;}
#footer-area-common3 .down .wrap .right-wrap-column .center-column a.paid-link {background: url("../img/common/footer/paid_icon00.png") left center / 27px no-repeat;}
#footer-area-common3 .down .wrap .right-wrap-column .right-column a.tg-link {background: url("../img/common/footer/tg_icon00.png") left center / 27px no-repeat;}
#footer-area-common3 .down .wrap .right-wrap-column .center-column,
#footer-area-common3 .down .wrap .right-wrap-column .right-column {float: left;}
#footer-area-common3 .down .wrap .right-wrap-column .center-column {
	width: 47%;
	margin-right: 11%;
}
#footer-area-common3 .down .wrap .right-wrap-column .right-column {width: 42%;}
#footer-area-common3 .down .copyright {
	text-align: center;
	font-size: 93%;
	line-height: 1;
	margin: 0;
}
#footer-area-common3 .down .copyright .under {font-size: 85%;}
#footer-area-common3 .up .loggedin-wrap {
	max-width: 710px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
#footer-area-common3 .up .loggedin-wrap .title {
	border-bottom: 1px solid #798ea4;
	margin-bottom: 18px;
	padding-bottom: 4px;
}
#footer-area-common3 .up .loggedin-wrap .left-column,
#footer-area-common3 .up .loggedin-wrap .right-column,
#footer-area-common3 .up .loggedin-wrap .left-column .menu {float: left;}
#footer-area-common3 .up .loggedin-wrap .left-column {
	width: 58%;
	margin-right: 8%;
}
#footer-area-common3 .up .loggedin-wrap .left-column a {color: #fff;}
#footer-area-common3 .up .loggedin-wrap .right-column a:hover {opacity: 0.8;}
#footer-area-common3 .up .loggedin-wrap .left-column ul li {padding: 5px 0;}
#footer-area-common3 .up .loggedin-wrap .left-column ul li:first-child {padding-top: 0;}
#footer-area-common3 .up .loggedin-wrap .left-column .menu:first-child {margin-right: 75px;}
#footer-area-common3 .up .loggedin-wrap .right-column {width: 34%;}
#footer-area-common3 .up .loggedin-wrap .right-column .blog {width: 147px;}
#footer-area-common3 .up .loggedin-wrap .right-column .twitter {width: 41px;}
#footer-area-common3 .up .loggedin-wrap .right-column .facebook {width: 40px;}

/* ▲1701 footer改修▲ */
/* ▼新海外footer▼ */
.foreign-footer {
	margin-top: 33px;
	min-width: 989px;
}
.foreign-footer>.footer-genre-menu {display: none;}
/*--------- 1層め ------------*/
.foreign-footer>.first-row {
	background: #333;
	padding: 25px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}
.foreign-footer>.first-row>ul>li:last-child {margin-right: 0;}
.foreign-footer>.first-row>a.page-top {
	color: #fff;
	display: inline-block;
	position: absolute;
	right: 30px;
	top: -33px;
	padding: 8px 12px 10px 34px;
	border-radius: 3px 3px 0 0;
	text-decoration: none;
	background: #333 url("../img/common/footer/icon_fn_page_top_arrow00.png") no-repeat;
	background-size: 15px 14px;
	background-position: 10px center;
}
.foreign-footer>.first-row>.table {
	display: table;
	text-align: center;
	margin: 0 auto;
}
.foreign-footer>.first-row>.table,
.foreign-footer>.first-row>.table a {color: #fff;}{color: #fff;}
.foreign-footer>.first-row>.table>.group1,
.foreign-footer>.first-row>.table>.group2 {
	display: table-cell;
	text-align: left;
}
.foreign-footer>.first-row>.table>.group1>p,
.foreign-footer>.first-row>.table>.group2>p {
	color: #9bacc2;
	font-weight: bold;
	font-size: 18px;
}
.foreign-footer>.first-row>.table>.group2 {border-left: solid 1px #9bacc2; padding-left: 35px;}
.foreign-footer>.first-row>.table>.group1>.column1,
.foreign-footer>.first-row>.table>.group1>.column2,
.foreign-footer>.first-row>.table>.group1>.column2-in {
	display: inline-block;
	text-align: left;
}
.foreign-footer>.first-row>.table>.group1>.column1 li {
	margin: 0 0 8px;
}
.foreign-footer>.first-row>.table>.group1>.column1 .japanese-ver {display: none;}
/*--- バナーコーナー ---*/
.foreign-footer>.first-row>.table>.group1>.column2-in,
.foreign-footer>.first-row>.table>.group1>.column2 {vertical-align: top; margin: 0 40px;}
.foreign-footer>.first-row>.table>.group1>.column2>a {
	padding: 15px 50px 5px 20px;
	border: 1px solid #575757;
	border-radius: 5px;
	color: #fff;
	text-align: left;
	position: relative;
	display: block;
}
.foreign-footer>.first-row>.table>.group1>.column2>a:after {
	position: absolute;
	content: "";
	border-top: 2px solid #575757;
	border-right: 2px solid #575757;
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 13px;
	top: 50%;
	margin-top: -4px;
}
.foreign-footer>.first-row>.table>.group1>.column2-in>a.backgrount-ct {
	background-color:#fff;
	border-radius: 5px;
    display:block;
}
.foreign-footer>.first-row>.table>.group1>.column2>a:hover {
	text-decoration: none;
	opacity: 0.7;
}
.foreign-footer>.first-row>.table>.group1>.column2-in>a:hover.backgrount-ct img  {
	opacity: 0.7;
    filter: alpha(opacity=70);
}
.foreign-footer>.first-row>.table>.group1>.column2>a .first-sentence {
	font-size: 16px;
	margin-bottom: 5px;
}
.foreign-footer>.first-row>.table>.group1>.column2-in img {
	vertical-align: top;
	max-width: 300px;
	width: 100%;
	
}
/*--- SNSコーナー ---*/
.foreign-footer>.first-row>.table>.group2>.column3>div>p,
.foreign-footer>.first-row>.table>.group2>.column3>div>ul,
.foreign-footer>.first-row>.table>.group2>.column3 li {display: inline-block;}
.foreign-footer>.first-row>.table>.group2>.column3>div>p {width: 60px;}
.foreign-footer>.first-row>.table>.group2>.column3>div>ul {margin-bottom: 15px;}
.foreign-footer>.first-row>.table>.group2>.column3 li {
	vertical-align: middle;
	padding-right: 7px;
}
.foreign-footer>.first-row>.table>.group2>.column3 li:last-child {padding-right: 0;}
.foreign-footer>.first-row>.table>.group2>.column3 li a:hover {opacity: 0.6;}
.foreign-footer>.first-row>.table>.group2>.column3 li a {
	display: block;
	line-height: 0;
}
.foreign-footer>.first-row>.table>.group2>.column3 .fb {width: 10px; padding: 0 6px;}
.foreign-footer>.first-row>.table>.group2>.column3 .insta {width: 22px; padding: 0 2px;}
.foreign-footer>.first-row>.table>.group2>.column3 .blog {width: 33px;}
.foreign-footer>.first-row>.table>.group2>.column3 .blog-cn {width: 28px;}
.foreign-footer>.first-row>.table>.group2>.column3 .weibo {width: 60px;}
.foreign-footer>.first-row>.table>.group2>.column3 .blog-kr {width: 42px; padding: 0 0 3px;}
/*----------- 2層目は廃止 -----------*/
/*------------ 3層目 ---------------*/
.foreign-footer>.third-row {
	text-align: center;
	background-color: #efefef;
	padding: 17px 0 8px;
}
.foreign-footer>.third-row>.footer-icon {
	margin: 0 auto 13px;
	color: #666666;
}
.foreign-footer>.third-row>.footer-icon>li {
	margin: 0 0.3%;
	display: inline-block;
	vertical-align: middle;
}
.foreign-footer>.third-row>.service-link {
	margin: 0 auto 8px;
}
.foreign-footer>.third-row>.service-link>li {
	display: inline-block;
	margin: 0 10px;
}
.foreign-footer>.third-row>.sign {
	font-size: 12px;
	margin: 20px 3px 15px;
}
.foreign-footer>.third-row>.copyright {
	font-size: 11px;
	margin-bottom: 0;
}
/* ▲新海外footer▲ */
/* ▼新海外simplefooter▼ */
.foreign-simple-footer {min-width: 989px;}
.foreign-simple-footer>.first-row {
	background: #445c76;
	padding: 25px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}
.foreign-simple-footer>.first-row>ul>li {
	display: inline-block;
	margin-right: 15px;
}
.foreign-simple-footer>.first-row>ul>li:last-child {margin-right: 0;}
.foreign-simple-footer>.first-row>ul>li>a {color: #fff;}
.foreign-simple-footer>.copyright {
	font-size: 11px;
	margin-bottom: 0;
	text-align: center;
	background-color: #333;
	padding: 5px 0;
	color: #fff;
}
/* ▲新海外simplefooter▲ */
/* ▼simple-footer-gray▼ */
.footer-simple-gray {
	background: #535353;
	bottom: 0;
	width: 100%;
	font-size: 82%;
	line-height: 1.4;
	padding: 5px 0;
	box-sizing: border-box;
}
.footer-simple-gray br.br-sp {
	display: none;
}
.footer-simple-gray p {
	line-height: 1.7;
	color: #f6f6f6;
	text-align: center;
}
.footer-simple-gray span {vertical-align: middle;}
.footer-simple-gray a.link-icon {
	color: #f6f6f6;
	margin-left: 20px;
	text-decoration: underline;
	text-decoration-color: white;
}
.footer-simple-gray a.link-icon img {
	width: 11px;
	margin-right: 6px;
	vertical-align: middle;
}
/* TABLET */
@media screen and (max-width: 940px) and (min-width: 671px) {
	.footer-simple-gray {
		padding: 55px 0 5px 0;
		margin-top: 0;
	}
	.foreign-footer>.third-row.pre-login-top-pd { padding-bottom: 80px; }
}
/* SP */
@media screen and (max-width: 670px) {
	.footer-simple-gray { padding: 53px 5px 5px 5px; }
	.footer-simple-gray a.link-icon {
		display: inline-block;
		margin: 0 0 10px 0;
	}
	.footer-simple-gray br.br-sp { display: block; }
	.foreign-footer>.third-row.pre-login-top-pd { padding-bottom: 80px; }
}

/*** ラクーングループのサービス ***/
#footer-area-common3 .footer-down {
	background: #333333;
	padding: 40px 0 30px;
}
#footer-area-common3 .footer-down,
#footer-area-common3 .footer-down a { color: #cccccc; }
#footer-area-common3 .footer-down .inner {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
#footer-area-common3 .footer-down .column-all {
	padding: 20px 0 30px;
	display: table;
	table-layout: fixed;
	max-width: 980px;
	width: 100%;
}
#footer-area-common3 .footer-down .main-title {
	font-weight: normal;
	font-size: 18px;
	font-style: normal;
	text-align: left;
	margin: 0;
}
#footer-area-common3 .footer-down .title {
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px solid #999;
	padding: 0 0 4px;
	margin: 0 0 16px;
}
#footer-area-common3 .footer-down .column01,
#footer-area-common3 .footer-down .column02,
#footer-area-common3 .footer-down .column03 {
	display: table-cell;
	padding: 0 20px;
	vertical-align: top;
}
#footer-area-common3 .footer-down .dmain {
	padding: 0 0 0 30px;
	display: block;
}
#footer-area-common3 .footer-down .dmain-sd {
	background: url("../img/footer/icon_dmain_sd_l_gra.svg") left 5px no-repeat;
	background-size: 23px;
}
#footer-area-common3 .footer-down .dmain-corec {
	background: url("../img/footer/icon_dmain_co_l_gra.svg") left 5px no-repeat;
	background-size: 23px;
	margin-top: 20px;
}
#footer-area-common3 .footer-down .dmain-sdf {
	background: url("../img/footer/icon_dmain_sdf_l_gra.svg") left 5px no-repeat;
	background-size: 23px;
	margin-top: 20px;
}
#footer-area-common3 .footer-down .dmain-paid {
	background: url("../img/footer/icon_dmain_pa_l_gra.svg") left 5px no-repeat;
	background-size: 23px;
	margin-top: 20px;
}
#footer-area-common3 .footer-down .dmain-tg {/*20181101以降削除ＯＫ*/
	background: url("../img/footer/icon_dmain_tg_l_gra.svg") left 5px no-repeat;
	background-size: 26px;
}
#footer-area-common3 .footer-down .dmain-trgr {
	background: url("../img/footer/icon_dmain_trgr_l_gra.svg") left 5px no-repeat;
	background-size: 30px;
}
#footer-area-common3 .footer-down .dmain-uriho {
	background: url("../img/footer/icon_dmain_ur_l_gra.svg") left 5px no-repeat;
	background-size: 26px;
	margin-top: 20px;
}
#footer-area-common3 .footer-down .dmain-yachin {
	background: url("../img/footer/icon_dmain_ya_l_gra.svg") left 5px no-repeat;
	background-size: 26px;
	margin-top: 20px;
}
#footer-area-common3 .footer-down  .dmain-alemo {
	background:url("../img/footer/icon_dmain_al_l_gra.svg") left 3px no-repeat;
	background-size: 25px;
	margin-top:20px;
}
#footer-area-common3 .footer-down .dmain-wrap a:hover { text-decoration: none; }
#footer-area-common3 .footer-down .dmain-name { font-size: 100%; }
#footer-area-common3 .footer-down .dmain-text {
	font-size: 80%;
	display: block;
	text-decoration: none;
}
#footer-area-common3 .footer-down .dmain-wrap a:hover .dmain-name { text-decoration: underline; }
#footer-area-common3 .footer-down .service { margin: 10px 0 0; }
#footer-area-common3 .footer-down .service a:hover { text-decoration: underline; }
#footer-area-common3 .footer-down .service li {
	list-style-type: disc;
	margin-left: 40px;
	line-height: 1.6;
	font-size: 100%;
}
#footer-area-common3 .footer-down .service li span { font-size: 13px; }
#footer-area-common3 .footer-down .copyright {
	text-align: center;
	font-size: 93%;
	line-height: 1;
	margin: 0;
}
#footer-area-common3 .footer-down .copyright .under {font-size: 85%; }
/* TAB/SP */
@media screen and (max-width: 940px) {
	#footer-area-common3 .footer-down,
	#footer-area-common3 .footer-down .box02 h1,
	#footer-area-common3 .footer-down .box02 h2,
	#footer-area-common3 .footer-down .dmain-name,
	#footer-area-common3 .footer-down .service li { font-size: 100%; }
}
/* TABLET */
@media screen and (max-width: 940px) and (min-width: 671px) {
	#footer-area-common3 .footer-down .box01 .inner .link-foot {
		margin-bottom:40px;
		float: inherit;
	}
	#footer-area-common3 .footer-down .box01 .inner .link-sns {
		float: left;
		margin-left: 50px;
	}
	#footer-area-common3 .footer-down .box01 .inner .blog { margin-top: 120px; }
	#footer-area-common3 .footer-down .box01 .inner .blog li { padding: 0 10px; }
	#footer-area-common3 .footer-down .dmain-text { font-size: 80%; }
	#footer-area-common3 .footer-down .service { font-size: 100%; }
	#footer-area-common3 .footer-down .column01 {
		margin-right: 20px;
		width: 31%;
	}
	#footer-area-common3 .footer-down .column02 {
		margin-right:20px;
		width: 31%;
	}
	#footer-area-common3 .footer-down .column03 { width: 31%; }
}

/* SP */
@media screen and (max-width: 670px) {
	#footer-area-common3 .footer-down .main-title,
	#footer-area-common3 .footer-down .title { font-size:100%; }
	#footer-area-common3 .footer-down .column01 { display: block; }
	#footer-area-common3 .footer-down .column02,
	#footer-area-common3 .footer-down .column03 {
		display: block;
		margin-top: 2em;
	}
	#footer-area-common3 .footer-down .service li,
	#footer-area-common3 .footer-down .dmain-text,
	#footer-area-common3 .footer-down .service { font-size: 12px; }
}

/*** 201904 SD export資料請求へのリンク追加 ***/
#footer-area-common3 .up .wrap .right-wrap-column .center-column .txtlink {
	padding: 5px 0 17px;
	margin: -5px 0 0;
	text-align: right;
}
#footer-area-common3 .up .wrap .right-wrap-column .center-column .txtlink a {
	color: #fff;
}