@charset "shift_jis";

dl,dt {
	margin: 0;
	padding: 0;
}

#banner-sp {
	width:100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
	height: 140px;
	text-align: center;
}

#banner-sp img {
	margin-top: 10px;
}

/*** ヘッダー共通 ***/
#header-common {
	width: 100%;
	min-width: 989px;
}
#header-common h1 {
	color: #666666;
	margin: 0;
	font-weight: normal;
	font-size:10px;
	text-align:right;
	padding-top:5px;
}
#header-common h2 {
	color: #666666;
	padding: 2px 0 0 0;
	margin: 0;
	border: none;
	font-weight: normal;
	font-size: 12px;
}
#header-common h2 a {
	color: #666666;
	text-decoration: none;
}
#header-common .container2 {
	background-image: url(/img/common/header/line.gif);
	background-repeat: repeat-x;
	height: 37px;
	position: relative;
	z-index: 35;
	min-width:950px;
}
/* ▼1307～ TOPリニューアル▼ */
/*** シンプルヘッダー ***/
#header-simple {
	background-color: #f6f6f6;
	border-bottom: 1px solid #dddddd;
	padding: 5px 0 10px;
}
#header-simple .header-simple-left {
	float: left;
	width: 111px;
	text-align: center;
	margin: 5px 0 0 20px;
}

/* header-common → #header-area-commonに */
#header-area-common {
	width: 100%;
	min-width: 989px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #e6e6e6;
	zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8000;
}
#header-area-common.fixed-head { position: fixed; }
* html #header-area-common { /* for IE6 */
	width: expression(document.body.clientWidth < 991? "989px" : "auto"); /* IE6 min-width */
}
#header-area-common .header-l-wrap {
	width: 134px;
	float:left;
}
#header-area-common .header-r-wrap-pre,
#header-area-common .header-r-wrap-member {
	padding-left: 135px;
}
#header-area-common .header-logo{
	padding: 26px 0 0 20px;
	margin-bottom: 8px;
}
#header-simple .logo img {
	width: 111px;
	height: auto;
}
#header-area-common .header-menu {
	height: 22px;
	padding: 0 0px 0 24px;
	background: url("../img/common/header/bg_header_menu01.gif") #333333 no-repeat bottom left;
	line-height: 1;
	overflow: hidden;
}
#header-area-common .header-menu h1 {
	width: 40%;
	float: left;
	color: #e6e6e6;
	padding-top: 5px;
	white-space: nowrap;
	vertical-align: 0;
	font-size: 93%;
}
#header-area-common .header-menu h1 span {
	display: inline-block;
	max-width: 70%;
	white-space: nowrap;
	line-height: 1;
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	vertical-align: middle;
	margin-bottom: 1px;
}
#header-area-common .l-menu { /*ログイン後のみ*/
	float: left;
	color: #e6e6e6;
	font-size: 92%;
}
#header-area-common .r-menu { /*ログイン前のみ*/
	width: 72%;
	display: inline-block;
	color: #e6e6e6;
	text-align: right;
	white-space: nowrap;
	font-size: 93%;
}
#header-area-common .l-menu ul,
#header-area-common .l-menu li,
#header-area-common .r-menu ul,
#header-area-common .r-menu li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}
#header-area-common .r-menu ul { box-shadow: 0 0 15px 20px #333333; }
#header-area-common .l-menu ul {
	display: inline-block;
	height: 22px;
	background: url("../img/common/header/bg_header_menu_line01.gif") repeat-y top right;
	zoom: 1;
}
#header-area-common .l-menu li:first-child a {
	min-height: 16px!important;
	height: 16px!important;
	margin-left: -29px;
	padding: 5px 9px 1px 22px;
}

#header-area-common .l-menu a,
#header-area-common .r-menu a {
	display: inline-block;
	min-height: 17px;
	height:auto !important;
	height: 17px;
	background: url("../img/common/header/bg_header_menu_line01.gif") repeat-y top left;
}
#header-area-common .l-menu a {
	padding: 5px 9px 0 9px;
}
#header-area-common .r-menu a {
	padding: 5px 5px 0 5px;
}
#header-area-common .l-menu li:first-child a {
	background-image: none;
}
#header-area-common .l-menu a:link,
#header-area-common .r-menu a:link {
	color: #e6e6e6;
}
#header-area-common .l-menu a:visited,
#header-area-common .r-menu a:visited {
	color: #e6e6e6;
}
#header-area-common .l-menu a:hover,
#header-area-common .r-menu a:hover {
	background-color: #666666;
	text-decoration: none;
	color: #ffffff;
}
#header-area-common .l-menu a:active,
#header-area-common .r-menu a:active {
	background-color: #666666;
	text-decoration: none;
	color: #ffffff;
}
#header-area-common .l-menu li:first-child a:link {
	background: url("../img/common/header/bg_header_menu_ft01.gif")  no-repeat 0 0;
}
#header-area-common .l-menu li:first-child a:visited {
	background: url("../img/common/header/bg_header_menu_ft01.gif") no-repeat 0 0;
}
#header-area-common .l-menu li:first-child a:hover {
	background: url("../img/common/header/bg_header_menu_ft01.gif") #666666 no-repeat 0 -24px;
}
#header-area-common .l-menu li:first-child a:active {
	background: url("../img/common/header/bg_header_menu_ft01.gif") #666666 no-repeat 0 -24px;
}
#header-area-common .l-menu .menu-new {
	vertical-align: -1px;
}
#header-area-common .l-menu .open-blank {
	padding-left: 15px;
	background: url("../img/common/header/menu_blank.gif") no-repeat 0px 1px;
}
#header-area-common .r-menu .pre-h-wishlist>a {
	background: url("../img/common/header/wishlist_icon_heart_00.png") no-repeat 4px 4px;
	background-color: #303030;
	padding-left: 22px;
}
#header-area-common .r-menu .pre-h-help>a {
	background: url("../img/common/header/help_icon_question_00.png") no-repeat 4px 4px;
	background-color: #303030;
	border-right: 1px solid #666;
	padding: 5px 10px 0 16px;
}
#header-area-common .loggedin-help-howto {
	float: left;
}
#header-area-common .loggedin-help-howto>a {
	background: url("../img/guide/help/icon/loggedin_question_01.png") no-repeat 4px 6px;
	background-size: 9px;
	padding: 3px 5px;
	font-size: 92%;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	border-radius: 5px;
}
#header-area-common .loggedin-help-howto>a:hover {
	background: #0066cc url("../img/guide/help/icon/loggedin_question_02.png") no-repeat 4px 6px;
	color: #ffffff;
}
#header-area-common .loggedin-help-howto span {
	margin-left: 13px;
}
#header-area-common .header-count { /* 入荷アラート数、お知らせ数 */
	display: inline-block;
	width: 19px;
	height: 14px;
	margin: -1px 3px 0 0;
	background-color: #dc4d4d;
	font-weight: bold;
	color: #e6e6e6!important;
	border-radius: 4px;
	text-align: center;
	line-height: 1.2;
	font-size: 13px;
	padding-top: 1px;
}
#header-area-common #headerMemberPanel .header-count { margin: -2px 0 0 3px; }
#header-area-common .r-panel { /* ログイン後のみ */
	height: 13px;
	overflow: hidden;
	padding: 5px 24px 4px 10px;
	position: absolute;
	top: 0;
	right: 0;
	border-right: 1px solid #333333;
	color: #e6e6e6;
	text-align: right;
	white-space: nowrap;
	cursor: default;
	background: url("../img/common/header/icon_header_cursor_d01.gif") center right no-repeat;
}

#header-area-common .r-panel-on {
	overflow: hidden;
	color: #333333;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	background: url("../img/common/header/icon_header_cursor_d_on01.gif") #eeeeee center right no-repeat;
}
#header-area-common .com-name {
	display: inline-block;
	font-size: 93%;
	white-space: nowrap;
	word-wrap: normal;
	text-align: left;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* for mac:safari&chrome */
#header-area-common .com-name {
		vertical-align: top;
	}
}
#header-area-common .cn-elps {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

/* アカウント名パネル内 START */
#header-area-common .panel-contents {
	display: none;
	position: absolute;
	width: 21em;
	right: 0;
	top: 22px;
	overflow: visible;
	line-height: 1.4;
	z-index: 999;
	font-size: 100%;
	background-color: #FFFFFF;
	color: #333333;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	text-align: left;
	box-shadow: 3px 3px 7px rgba(65,65,65,0.4);
	-moz-box-shadow: 3px 3px 7px rgba(65,65,65,0.4);
}
#header-area-common .panel-content-news {
	padding: 20px 15px 10px;
	border-bottom: 1px solid #cccccc;
}
#header-area-common .panel-content-news .co-attention2 {
	font-size: 108%;
	padding: 0 0 12px 19px;
	background-position: 0 0;
}
#header-area-common .panel-content-news dt {
	clear: left;
	float: left;
	width: 3.5em;
	margin-bottom: 12px;
}
#header-area-common .panel-content-news dd {
	margin: 0 0 12px 3.5em;
	white-space: normal;
}
#header-area-common .no-news {
	padding-bottom: 7px;
}
#header-area-common .find-all {
	margin-top: 3px;
	text-align: right;
}
#header-area-common .panel-content-info {
	padding: 15px 15px 5px 15px;
	border-bottom: 1px solid #cccccc;
}
#header-area-common .panel-content-info .rank-white,
#header-area-common .panel-content-info .rank-bronze,
#header-area-common .panel-content-info .rank-silver,
#header-area-common .panel-content-info .rank-gold,
#header-area-common .panel-content-info .rank-platinum {
	width: 75px;
	float: left;
	min-height: 13px;
	height:auto !important;
	height: 13px;
	padding-left: 18px;
	text-align: left;
	font-size: 85%;
	white-space: nowrap;
	line-height: 2;
}
#header-area-common .panel-content-info .rank-white { background: #ffffff url("../img/point/mark/rank_white.gif") 0 45% no-repeat; }
#header-area-common .panel-content-info .rank-bronze { background: #ffffff url("../img/point/mark/rank_bronze.gif") 0 45% no-repeat; }
#header-area-common .panel-content-info .rank-silver { background: #ffffff url("../img/point/mark/rank_silver.gif") 0 45% no-repeat; }
#header-area-common .panel-content-info .rank-gold { background: #ffffff url("../img/point/mark/rank_gold.gif") 0 45% no-repeat; }
#header-area-common .panel-content-info .rank-platinum { background: #ffffff url("../img/point/mark/rank_platinum.gif") 0 45% no-repeat; }

#header-area-common .panel-content-info .point-num {
	float: left;
	font-weight: bold;
	line-height: 1.7;
	white-space: nowrap;
}
#header-area-common .shop-info {
	padding-top: 15px;
}
#header-area-common .shop-photo {
	width: 80px;
	height: 100px;
	float: left;
	margin-right: 10px;
	border: 1px solid #e6e6e6;
}
#header-area-common .shop-photo a {
	width: 80px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}
#header-area-common .shop-info span {
	width: 80px;
	display: block;
}
#header-area-common .link-txt {
	margin: 0 0 0 78px;
}
#header-area-common .link-txt li {
	margin-bottom: 9px;
	line-height: 1;
	padding-left: 2.5em;
	text-indent: -1.3em;
}
#header-area-common .panel-content-logout {
	padding: 12px 20px 12px 15px;
	text-align: right;
}
#header-area-common .shop-photo img {
	max-width: 80px;
	max-height: 100px;
}
* html #header-area-common .shop-photo img { /* for IE6 */
	width: expression(this.width > 100 ? 100: true);
	height: expression(this.height > 100 ? 100: true);
}
/* アカウント名パネル内 END */
/* 検索窓、会員登録ボタン、カートなどの枠 */
#header-area-common .l-search {
	clear: both;
	zoom: 1;
}
#header-area-common .header-r-wrap-pre .l-search { margin: 5px auto;}
#header-area-common .header-r-wrap-member .l-search { margin: 0 auto; }

/*** サーチボックスSTART ***/
#header-area-common .header-search {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	margin: 8px 0;
}
#header-area-common .header-r-wrap-pre .header-search { padding-left: 20px; }
#header-area-common .search-wrap {
	padding: 0 300px 0 0 !important;
	margin: 0 auto !important;
	width: 99% !important;
	display: inline-block;
	vertical-align: middle;
}
#header-area-common .header-r-wrap-member .search-wrap { padding: 0 !important; }
#header-area-common .search-wrap *,
#header-area-common .header-search * { box-sizing: border-box; }
/* サーチボックスの高さ */
#header-area-common .header-r-wrap-pre .searchbox,
#header-area-common .header-r-wrap-member .searchbox,
#header-area-common .searchbox-select-top,
#header-area-common .searchbox-select,
#header-area-common .searchbox-word,
#header-area-common .searchbox-button,
#header-area-common .search-button {
	height: 33px;
}
.searchbox-select {
	-webkit-appearance:none;
}
/* 検索窓外枠 */
#header-area-common .searchbox-select-wrap,
#header-area-common .searchbox-field-wrap {
	border-color: #cccccc;
	border-style: solid;
}
#header-area-common .logged-in-search .search-wrap {
	width: 100% !important;
	text-align: center;
	display: inline-block;
}
#header-area-common .header-r-wrap-pre .searchbox,
#header-area-common .header-r-wrap-member .searchbox {
	display: block;
	position: relative;
	max-width: 550px;
	margin: 0 auto !important;
	padding: 0 !important;
	zoom:1;
}
#header-area-common .logged-in-search .searchbox {
	display: inline-block;
	width: 58%;
	vertical-align: middle;
	margin: 0 auto;
}
/* ジャンルselect */
#header-area-common .searchbox-select-wrap {
	text-align: left;
	float: left;
	width: 150px !important;
	background-color: #dbe8f7;
	position: absolute;
	border-width: 1px 0 1px 1px;
	border-radius: 5px 0 0 5px;
	left: 0;
	top: 0;
}
#header-area-common .header-r-wrap-member .searchbox-select-wrap { width: 26% !important; }
#header-area-common .searchbox-select {
	opacity: 0;
	filter: alpha(opacity = 0);
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
	cursor: pointer;
	padding-left: 0 !important;
	width: 100% !important;
}
#header-area-common .searchbox-select-wrap:hover {
	background-color: #3f3f3f;
	color: #ffffff;
}
#header-area-common .searchbox-select-wrap-focus {
	background-color: #3f3f3f;
	color:#ffffff;
	background-position: 0 -27px;
}
#header-area-common .searchbox-select-top {
	padding: 9px 26px 0 7px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100% !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* for mac:safari&chrome */
 #header-area-common .searchbox-select-top {
		letter-spacing:-1px;
	}
}
/* selectの矢印 */
#header-area-common .searchbox-select-down {
	background: url("../img/common/header/search/search_select_down.gif") 0 center no-repeat;
	background: 0 center no-repeat;
	position: absolute;
	top: 15px;
	right: 12px;
	width: 8px;
	height: 6px;
}
#header-area-common .searchbox-select-down-focus,
#header-area-common .searchbox-select-down-hover{
	/*background: url("../img/common/header/search/search_select_down_on.gif") 0 center no-repeat;*/
	background: 0 center no-repeat;
}
/* テキストボックス */
#header-area-common .searchbox-field-wrap {
	width: 100% !important;
	border-width: 1px 1px 1px 0;
	border-radius: 5px;
	padding-left: 150px;
}
#header-area-common .header-r-wrap-member .searchbox-field-wrap { padding-left: 26%; }
#header-area-common .searchbox-field-wrap-focus,
#header-area-common .searchbox-field-wrap-hover {
	background-position: 0 -40px;
}
#header-area-common .searchbox-field {
	float: left;
	width: 84%;
	background-color: #ffffff;
}
#header-area-common .header-r-wrap-member .searchbox-field { width: 80%; }
#header-area-common .searchbox-word {
	font-size: 15px;
	border: none;
	padding: 5px 77px 5px 7px;
	width: 100%;
	overflow: hidden;
	outline: 0 none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* for mac:safari&chrome */
	#header-area-common .searchbox-word {
		font-size: 15px;
	}
}
/* プレースホルダー */
#header-area-common .watermark {
	position: relative;
	overflow: hidden;
}
#header-area-common .liquid {
	padding-right: 0px;
	margin-right: 0px;
}
#header-area-common .watermark span {
	position: absolute;
	left: 0px;
	padding: 8px 0 0 7px;
	color: #808080;
	font-size:14px;
}
#header-area-common .searchbox-select-width {
	padding: 0!important;
	position:relative;
}
/* 検索ボタン */
#header-area-common .searchbox-button {
	zoom: 1;
	background-color: #9d9d9d;
	background-image: -moz-linear-gradient(center top , #707070, #414141);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #414141),color-stop(1, #707070));
	background: -ms-linear-gradient(top, #707070 0%, #414141 100%);
	background: linear-gradient(top, #707070 0%, #414141 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#707070', endColorstr='#414141');
	float: right;
	width: 16%;
	border-radius: 0 5px 5px 0;
	overflow: hidden;
}
#header-area-common .header-r-wrap-member .searchbox-button { width: 20%; }
#header-area-common .search-button {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	background: url('../img/common/header/search/search_btn_00.png') center no-repeat;
	background-size: 16px;
}
#header-area-common .searchbox-button:hover { background: #333333; }
/* IE8 */
@media \0screen {
	#header-area-common .search-button { background-image: url('../img/common/header/search/search_btn_ie_00.png'); }
}
/*** 詳細検索 ***/
#header-area-common .searchbox-field-wrap .detailed-search-btn{
	border-radius: 3px;
	position:absolute;
	right:5px;
	top:5px;
	font-size:13px;
	color:#111111;
	background-color:#eeeeee;
	padding:3px;
	cursor: pointer;
}
#header-area-common .searchbox-field-wrap .detailed-search-btn:hover {
	color:#ffffff;
	background-color:#666666;
}
#header-area-common .searchbox-field-wrap .detailed-search-box {
	text-align:left;
	z-index:100000;
	position:absolute;
	right:0;
	top:50px;
	font-size:13px;
	color:#111111;
	background-color:#ffffff;
	display:block;
	width:505px;
	padding:15px;
	border-radius:5px;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}
#header-area-common .searchbox-field-wrap .detailed-search-box .arr{
	position:relative;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .arr img {
	position:absolute;
	right:10px;
	top:-30px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box tr th {
	font-weight:bold;
	width:110px;
	text-align:right;
	vertical-align:top;
	padding-right:18px;
	padding-top:17px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box tr td {
	padding:10px 0;
}
#header-area-common .searchbox-field-wrap .detailed-search-box input[type='text'] {
	padding:0 5px;
	border-radius:4px;
	border: 1px solid #999999;
	vertical-align: middle;
	height:25px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .genre-select select {
	padding:7px 25px 7px 7px;
	width:200px;
	border-radius: 4px;
	border: 1px #999999 solid;
	background: url(../img/button/arrow_down.gif) 94% center no-repeat;
	background: 94% center no-repeat;
	font-size: 13px;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	line-height:1.4;
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",sans-serif;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .genre-select select::-ms-expand { display: none; }
:root #header-area-common .searchbox-field-wrap .detailed-search-box .genre-select select { /* IE9 */
	appearance: normal\0/;
	padding: 3px\0/;
	background: none\0/;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .keyword .search-word {
	font-size:15px;
	width:330px;
	padding:8px;
	height:33px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .price span {
	width:3.5em;
	display: inline-block;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .price input {
	width:90px;
	margin-right:3px;
	margin-left:3px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .trading label,
#header-area-common .searchbox-field-wrap .detailed-search-box .trade-status label {
	width:85px;
	float:left;
	cursor: pointer;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .trading label:nth-child(3){
	width:120px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .trading label input[type='radio'],
#header-area-common .searchbox-field-wrap .detailed-search-box .trade-status label input[type='radio'] {
	margin:3px 5px 0 0;
	cursor: pointer;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .trading td,
#header-area-common .searchbox-field-wrap .detailed-search-box .trade-status td,
#header-area-common .searchbox-field-wrap .detailed-search-box .commitment td{
	padding:5px 0;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .commitment label {
	width:47%;
	float:left;
	cursor: pointer;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .commitment label input[type='checkbox'] {
	margin:3px 5px 0 0;
	cursor: pointer;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .button-area {
	margin:10px auto;
	width:130px;
	position:relative;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .button-area .button {
	zoom: 1;
	background-color: #9d9d9d;
	background-image: -moz-linear-gradient(center top , #707070, #414141);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #414141),color-stop(1, #707070));
	background: -ms-linear-gradient(top, #707070 0%, #414141 100%);
	background: linear-gradient(top, #707070 0%, #414141 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#707070', endColorstr='#414141');
	border-radius: 5px;
	overflow: hidden;
	width:130px;
	box-sizing: border-box;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .button-area .button:hover {
	background-color: #414141;
	background-image: -moz-linear-gradient(center top , #414141, #414141);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #414141),color-stop(1, #414141));
	background: -ms-linear-gradient(top, #414141 0%, #414141 100%);
	background: linear-gradient(top, #414141 0%, #414141 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#414141', endColorstr='#414141');
}
#header-area-common .searchbox-field-wrap .detailed-search-box .button-area .button a {
	width: 100%;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	background: url(../img/common/header/search/search_btn_00.png) 14px 10px no-repeat;
	background: 14px 10px no-repeat;
	background-size: 16px;
	color:#ffffff;
	font-size:15px;
	text-decoration: none;
	display:block;
	padding:8px 8px 8px 42px;
}
#header-area-common .searchbox-field-wrap .detailed-search-box .button-area .reset-btn {
	margin:5px;
	padding:5px;
	position:absolute;
	right:-120px;
	top:0px;
	color:#0066cc;
}
/* サーチボックスEND */

/* ログイン前：会員登録、ログインボタン */
#header-area-common .pre-btn-area {
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 5px;
}
#header-area-common .pre-btn-area .co-btn,
#header-area-common .pre-btn-area .log-btn { vertical-align: middle; }
#header-area-common .pre-btn-area .log-btn {
	background: url('../img/sp/icon/icon_login_bl.png') left center no-repeat;
	background-size: 15px;
	padding-left: 20px;
	margin-left: 5px;
	color: #0066cc;
	display: inline-block;
	font-size: 12px;
}
/* IE8 */
@media \0screen {
	#header-area-common .pre-btn-area .log-btn { background-image: url('../img/common/header/icon_login_bl_ie_00.png'); }
}

/* genre START（TOPのみ、#header-area-common以下には入らない仕様） */
#genre-menu {
	padding-left: 20px;
}
#genre-menu .all-genre a {
	width: 110px;
	height: 25px;
	line-height: 37px;
	background: url("../img/common/header/genre/btn-header-genre01.gif") 0 0 no-repeat;
	float: left;
	padding-left: 10px;
	font-weight: bold;
	font-size: 13px;
	cursor: default;
	text-decoration: none;
}
#genre-menu .all-genre a:hover {
	height: 28px;
	background: url("../img/common/header/genre/btn-header-genre_on01.gif") 0 0 no-repeat;
	text-decoration:none;
}
#genre-menu .all-genre-btn a,
#genre-menu .all-genre-btn-on a {
	width: 110px;
	height: 28px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
}
#genre-menu .all-genre-btn a {
	background: url("../img/common/header/genre/btn-header-genre01.gif") 0 0 no-repeat;
}
#genre-menu .all-genre-btn-on a {
	background: url("../img/common/header/genre/btn-header-genre_on01.gif") 0 0 no-repeat;
}
#genre-menu .dealer-genre-btn-nrl a,
#genre-menu .dealer-genre-btn a,
#genre-menu .dealer-genre-btn a:hover,
#genre-menu .dealer-genre-btn-on a,
#genre-menu .product-genre-btn-nrl a,
#genre-menu .product-genre-btn a,
#genre-menu .product-genre-btn a:hover,
#genre-menu .product-genre-btn-on a {
	width: 79px;
	height: 27px;
	margin-bottom: 2px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
}
#genre-menu .dealer-genre-btn a {
	background: url("../img/common/header/genre/dealer-genre-btn.png") 0 0 no-repeat;
}
#genre-menu .dealer-genre-btn a:hover {
	background: url("../img/common/header/genre/dealer-genre-btn-hover.png") 0 0 no-repeat;
}
#genre-menu .dealer-genre-btn-nrl a {
	background: url("../img/common/header/genre/dealer-genre-btn-nrl.png") 0 0 no-repeat;
}
#genre-menu .dealer-genre-btn-nrl a:hover {
	background: url("../img/common/header/genre/dealer-genre-btn-nrl-hover.png") 0 0 no-repeat;
}
#genre-menu .dealer-genre-btn-on a {
	background: url("../img/common/header/genre/dealer-genre-btn-on.png") 0 0 no-repeat;
}
#genre-menu .product-genre-btn a {
	background: url("../img/common/header/genre/product-genre-btn.png") 0 0 no-repeat;
}
#genre-menu .product-genre-btn a:hover {
	background: url("../img/common/header/genre/product-genre-btn-hover.png") 0 0 no-repeat;
}
#genre-menu .product-genre-btn-nrl a {
	background: url("../img/common/header/genre/product-genre-btn-nrl.png") 0 0 no-repeat;
}
#genre-menu .product-genre-btn-nrl a:hover {
	background: url("../img/common/header/genre/product-genre-btn-nrl-hover.png") 0 0 no-repeat;
}
#genre-menu .product-genre-btn-on a {
	background: url("../img/common/header/genre/product-genre-btn-on.png") 0 0 no-repeat;
}
#genre-navi-content {
	position: absolute;
	top: 74px;
	left: 14px;
	z-index: 500;
	text-align: left;
}
* html #genre-navi-content { /* for IE6 */
	position: relative;
	top: 0;
	left: -6px;
}
#genre-navi-content #genre-navi-ul {
	padding-top: 9px!important;
	border-top: 3px solid #0055aa;
}
#genre-navi-content #genre-navi-position {
	width: 230px;
	padding-left: 6px;
	position: absolute;
}
#genre-navi-content #genre-navi {
	width: 218px;
	border: 1px solid #0055aa;
	border-top: none;
	font-size: 12px;
	color: #0066CC;
	display: none;
	background-color: #ffffff;
	box-shadow: 3px 3px 7px rgba(65,65,65,0.2), -3px 3px 7px rgba(65,65,65,0.2);
	-moz-box-shadow: 3px 3px 7px rgba(65,65,65,0.2), -3px 3px 7px rgba(65,65,65,0.2);
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
}
#genre-navi-content a {
	text-decoration:none;
	color:#0066cc;
	outline:none;
}

#genre-navi-content a:hover {
	color: #0066cc;
	outline: none;
	text-decoration: underline;
}
#genre-navi-content .cursor a.list-text:hover {
	text-decoration:underline;
	cursor: pointer;
}

#genre-navi-content .sub-genre a {
	text-decoration:none;
	color:#0066cc;
	outline:none;
	font-weight:normal;
}
#genre-navi-content .sub-genre a:hover {
	text-decoration:underline;
	color:#0066cc;
	outline:none;
}

/* 国内ヘッダージャンルメニュー
------------------------------------------------------ */
#genre-list-area {
	text-align: center;
	line-height: 1;
	background-color: #445c76;
	margin-bottom: -1px;
}
#genre-list-area * { box-sizing: border-box; }
#genre-list-area .genre-list-box {
	max-width: 1400px;
	margin: 0 auto;
}
#genre-list-area .genre-list-box .genre-list-head {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 14%;
	box-shadow: 2px 0px 0px -1px #6a88a9 inset;
	border-left: 1px #1d3248 solid;
}
#genre-list-area .genre-list-box .genre-list-head:last-of-type {
	border-right: 1px #6a88a9 solid;
	box-shadow: 2px 0px 0px -1px #6a88a9 inset,-2px 0px 0px -1px #1d3248 inset;
}
/* レベル1ジャンル */
#genre-list-area .genre-list-lv1 {
	display: block;
	padding: 9px 0 8px;
	color: #ffffff;
}
#genre-list-area .genre-list-lv1:hover {
	text-decoration:none;
}
#genre-list-area .genre-list-head.genre-on .genre-list-lv1 {
	text-decoration: none;
	border-top: 0;
	border-bottom: 0;
	padding: 8px 0 9px;
	position: relative;
	z-index: 3;
	color: #0066cc;
	background-color: #ffffff;
}
/* サブジャンル */
#genre-list-area .genre-sub-list {
	display: none;
	position: absolute;
	top: 2.3em;
	background-color: #ffffff;
	height: 34em;
	width: 40em;
	text-align: left;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
	padding: 10px 0;
}
#genre-list-area .genre-sub-list.list-wide { width: 51em; }
#genre-list-area .genre-sub-list.open-left { left: 0; }
#genre-list-area .genre-sub-list.open-right { right: 0; }
#genre-list-area .genre-sub-list .row { display: table-row; }
#genre-list-area .genre-list-box .genre-list-head.genre-on .genre-list-lv1 + .genre-sub-list { display: table; }
/* レベル2ジャンル */
#genre-list-area .genre-sub-list .genre-list-lv2 {
	display: table-cell;
	width: 17.5em;
	border-right: 1px #cccccc solid;
	padding: 5px 0;
	position: relative;
}
#genre-list-area .genre-sub-list .genre-list-lv2 li a {
	display: block;
	padding: 6px 20px;
	color: #333333;
	/*background: url('../img/common/icon/tri_r_lgray_00.gif') no-repeat 94% 9px;*/
	background: no-repeat 94% 9px;
}
#genre-list-area .genre-sub-list .genre-list-lv2 .genre-lv2-on a {
	text-decoration: none;
	/*background: url('../img/common/icon/tri_r_dgray_00.gif') no-repeat 94% 9px #eeeeee;*/
	background: no-repeat 94% 9px #eeeeee;
}

/* レベル2ジャンル特集バナー */
#genre-list-area .genre-sub-list .genre-list-lv2 a .pickup-baner-area {
	width: 184px;
	height: 114px;
	border: 1px solid #dddddd;
} 
#genre-list-area .genre-sub-list .genre-list-lv2 .pickup-link-area {
	display: block;
	padding: 0;
	background: none!important;
	position: absolute;
	width: 17.5em;
	text-align: center;
	top: 34em;
	margin-top: -145px;
}
#genre-list-area .genre-sub-list .genre-list-lv2 .genre-list-bnr-on01 a {
	margin-top: -130px;
}

#genre-list-area .genre-sub-list .genre-list-lv2 .genre-list-bnr-on02 a {
	margin-top: -200px;
}

/* レベル3ジャンル */
#genre-list-area .genre-sub-list .genre-list-lv3-box {
	display: table-cell;
	padding: 0 5px;
	vertical-align: top;
}
#genre-list-area .genre-sub-list .genre-list-lv3 {
	display: none;
	margin-top: 6px;
}
#genre-list-area .genre-sub-list.list-wide .genre-list-lv3 ul {
	float: left;
	width: 50%;
}
#genre-list-area .genre-sub-list .genre-list-lv3 a {
	display: block;
	padding: 5px 13px;
}
#genre-list-area .genre-sub-list .genre-list-lv3 .genre-lv3-head {
	font-weight: bold;
	margin: 0;
}
/* レベル3ジャンル 本 */
#genre-list-area .genre-book .genre-sub-list {
	width: 230px;
	height: 26em;
}
#genre-list-area .genre-book .genre-list-lv2 {border: none;}
#genre-list-area .genre-book .genre-list-lv2 li a {
	background: none!important;
	color: #0066cc;
}
#genre-list-area .genre-book .genre-list-lv2 li a:hover {text-decoration: underline;}

/* dadway */
#genre-navi-content .sub-genre dd.bn_dadway{
	width: 173px;
	height: 150px;
	margin: 15px 0 0 -8px;
}
#genre-navi-content ul,
#genre-navi-content li {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: default;
	line-height: 1;
}
#genre-navi-content ul {
	padding: 0 0 10px;
}
#genre-navi-content .genre-navi-list li {
	list-style: none outside none;
	color: #333333;
}
#genre-navi-content .list-text {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	display: block;
	position: relative;
	padding: 7px 0 7px 10px;
	text-indent: 8px;
}
#genre-navi-content .active-on .dummy-rightbg {
	display: block;
	width: 5px;
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 0;
	line-height: 0;
	background-color: #f6f6f6;
	z-index: 500;
}
* html #genre-navi-content .active-on .dummy-rightbg { /* for IE6 */
	display: none;
}
*:first-child+html #genre-navi-content .active-on .dummy-rightbg { /* for IE7 */
	display: none;
}
#genre-navi-content .genre-navi-list .cursor {
	background: url("../img/common/header/genre/icon_header_cursor01.gif") 94% 9px no-repeat;
}
* html #genre-navi-content .genre-navi-list .cursor { /* for IE6 */
	zoom: 1;
}
#genre-navi-content .genre-navi-list li.list-lv1 {
	font-weight: bold;
	padding-top: 3px;
	background-position: 94% 12px;
}
#genre-navi-content .list-lv1 .list-text {
	text-indent: 0!important;
}
#genre-navi-content .genre-navi-list .active-on {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	text-decoration: none;
	background: url("../img/common/header/genre/icon_header_cursor01.gif") #f6f6f6 94% 8px no-repeat;
}
* html #genre-navi-content .genre-navi-list .active-on { /* for IE6 */
	background-position: 94% 9px;
}
*:first-child+html #genre-navi-content .genre-navi-list .active-on { /* for IE7 */
	background-position: 94% 9px;
}
#genre-navi-content .sub-genre {
	line-height: 1.4em;
	padding: 7px 6px 9px 0;
	width: 215px;
	z-index: 400;
	display: none;
	position: absolute;
	top: 0;
}
#genre-navi-content .sub-genre-bg {
	position: relative;
	border-top: 3px solid #0055aa;
	padding-bottom: 13px;
}
#genre-navi-content .dummy-bg {
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: 13px;
	left: 0;
	font-size: 0;
	line-height: 0;
	background-color: #0055aa;
}
* html #genre-navi-content .dummy-bg { /* for IE6 */
	filter: alpha(opacity=0);
}
#genre-navi-content .sub-genre-inner {
	padding: 18px 0 0 20px;
	border-right: 1px solid #0055aa;
	border-bottom: 1px solid #0055aa;
	border-left: 1px solid #e6e6e6;
	background-color: #f6f6f6;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	box-shadow: 3px 4px 7px rgba(65,65,65,0.3);
	-moz-box-shadow: 3px 4px 7px rgba(65,65,65,0.3);
}
* html  #genre-navi-content .sub-genre-inner { /* for IE6 */
	padding-bottom: 1px;
}
*:first-child+html #genre-navi-content .sub-genre-inner { /* for IE7 */
	padding-bottom: 1px;
}
#genre-navi-content .sub-genre dl {
	width: 170px;
	background-color: #f6f6f6;
	margin-bottom: 17px;
	white-space: nowrap;
}
#genre-navi-content .sub-genre dd {
	margin: 2px 0 7px 0;
	padding: 0;
	background-color: #f6f6f6;
	text-indent: 8px;
}
#genre-navi-content .sub-genre dd a,
#genre-navi-content .sub-genre dt a {
	display: block;
}
#genre-navi-content .sub-genre dt {
	font-weight: bold;
	margin: 0 0 9px;
	padding: 0;
	text-indent: 0;
}
#genre-navi-content .sub-genre dt a {
	font-weight: bold;
}
#genre-navi-content .sub-genre-2cols {
	width: 415px;
}
* html #genre-navi-content .sub-genre-2cols { /* for IE6 */
	width: 450px;
}
#genre-navi-content .sub-genre-multicols {
	width: 595px;
}
* html #genre-navi-content .sub-genre-multicols { /* for IE6 */
	width: 595px;
}

#genre-navi-content .sub-genre-2cols-irregular dl {
	width: 190px;
}
#genre-navi-content .sub-genre .half-block {
	float: left;
	width: 160px;
	margin-right: 30px;
}
#genre-navi-content .genre-bg-btm {
	position: absolute;
	width: 232px;
	height: 16px;
	left: 0;
	bottom: -16px;
}
#genre-navi-content .genre-btm {
	background-color: #ffffff;
	border-top: 1px #e6e6e6 solid;
	padding: 10px 0 10px 14px;
	line-height: 1;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
}
#genre-navi-content .genre-btm a {
	display: block;
}
/* 「什器・資材市場」バナー */
#genre-navi-content .sub-genre-inner .fixture-materials-sgbn {
	position: absolute;
	bottom: 10px;
	padding-right: 20px;
	text-align: center;
}
/* genre END */

/* カート START */

/*--▼【JSで制御】
 合計金額桁数によって「.cart-price-area」の幅が変わる --*/
#header-area-common .logged-in-search .cart-price-area {
	display: inline-block;
	vertical-align: middle;
	max-width: 35%;
	padding-left: 15px;
	z-index: 998;
}
#header-area-common .price-btn-area {
	min-width: 60px;
	text-align: right;
	position: relative;
}

#header-area-common  #cart2 {
	margin: 0px;
	width: 70px;
}

#header-area-common #cart2 a {
	display: block;
	width: 70px;
	height: 41px;
	background: url("../img/common/header/cart/btn_cart_button01.gif") no-repeat 0 0 ;
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#header-area-common #cart2 a:hover {
	background-position: 0 -41px;
}

#header-area-common #cart2.exists a {
	background-image : url("../img/common/header/cart/btn_cart_button_in01.gif");
}

#header-area-common #cart2.exists a:hover {
	background-position: 0 -41px;
}

#header-area-common .price-box {
	position: relative;
	background: url("../img/common/header/cart/bg_search_total_bg01.gif") repeat-x 0 0;
	height: 41px;
	padding: 0 27px 0 11px;
	cursor: default;
	z-index: 99;
}
#header-area-common .price-box .bg-price1 {
	position: absolute ;
	width: 1px;
	height: 41px;
	background: url("../img/common/header/cart/bg_search_ditch_gray01.gif") no-repeat 0 0;
	left: 0;
}
#header-area-common .price-box .bg-price2 {
	position: absolute ;
	width: 17px;
	height: 41px;
	background: url("../img/common/header/cart/btn_cart_button_right01.gif") no-repeat 0 0;
	right: 0;
}

#header-area-common .nowprice {
	margin-bottom: 0px;
	padding-top: 11px;
}

#header-area-common .nowprice a {
	text-decoration: none;
	font-weight: bold;
	color: #e63a3a;
	cursor: default;
}

#header-area-common .nowprice img {
	margin-right: 5px;
	vertical-align: middle;
	width:26px;
}

/*▽合計金額オンマウス時*/
#header-area-common .price-box-on {
	position: relative;
	z-index: 100;
	height: 41px;
	padding: 0 27px 0 11px;
	background: url("../img/common/header/cart/bg_search_total_bg01.gif") repeat-x 0 -41px;
	cursor: default;
	overflow: visible;
}
#header-area-common .price-box-on .bg-price1 {
	position: absolute ;
	width: 1px;
	height: 41px;
	background: url("../img/common/header/cart/bg_search_ditch_gray01.gif") no-repeat 0 -41px;
	left: 0;
}
#header-area-common .price-box-on .bg-price2 {
	position: absolute;
	width: 17px;
	height: 41px;
	background: url("../img/common/header/cart/btn_cart_button_right01.gif") no-repeat 0 -41px;
	right: 0;
}

#header-area-common .price-detail-box {
	display: none;
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
	border-top: 1px #CCC solid;
	border-left: 1px #CCC solid;
	box-shadow: 1px 2px 2px #999;
	top: 35px;
	width:390px;
	right: 3px;
}
* html #header-area-common .price-detail-box {
	border: 1px #bbb solid;
}
html>body #header-area-common .price-detail-box {
    -ms-filter/**/: progid:DXImageTransform.Microsoft.Shadow(Color='#bbbbbb', Direction=135, Strength=3);
	filter/**/: progid:DXImageTransform.Microsoft.Shadow(Color='#bbbbbb', Direction=135, Strength=3);
}
*:first-child+html #header-area-common .price-detail-box {
	right/**/: -3px\9;
}
#header-area-common .price-box-on .price-detail-box {
	display: block!important;
}

#header-area-common .wrap-search-login .price-box-on {
	position: relative;
	z-index: 100;
	background: #f6f6f6;
	height: 41px;
	padding: 0px 10px;
	display: block;
	cursor: default;
}

#header-area-common .price-detail-box .detail-inner {
	padding: 20px 17px 15px;
}

#header-area-common .price-detail-box .price-table {
	font-weight: normal;
	text-align: left;
	margin: 0px auto 10px auto;
	width:100%;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}

#header-area-common .price-detail-box .table-sdship-only {
	border-bottom:none;
}

#header-area-common .price-detail-box td {
	padding: 2px 8px;
	vertical-align:top;
}

#header-area-common .price-detail-box .sdship-area .td02-price2 {
	border-bottom:1px solid #999;
}

#header-area-common .price-detail-box .sdship-area .td01-company {
	border-bottom:none;
}

#header-area-common .price-detail-box .td01 {
	border-right:1px dotted #999;
}

#header-area-common .price-detail-box .td01-company {
	border-bottom:none;
	width:150px;
}

#header-area-common .price-detail-box .td02 {
	text-align: right;
}

#header-area-common .price-detail-box .td02 span {
	font-weight: bold;
}

#header-area-common .price-detail-box .td02-price{
	font-weight:bold;
	vertical-align:middle;
	border-bottom:none;
}

#header-area-common .price-detail-box .td02-price2{
	font-size:85%;
	color:#666;
	border-top:none;
	padding-top:0;
	border-bottom: 1px dotted #999;
}

#header-area-common .price-detail-box .td02-price2 span{
	font-weight:bold;
}

#header-area-common .price-detail-box .btn-fromprice-tocart {
	text-align: center;
}

#header-area-common .price-detail-box .last-td{
	border-bottom:1px solid #fff !important;
}

#header-area-common .price-detail-box .notfree .td01-company {
	border-bottom:1px dotted #999;
}

#header-area-common .price-detail-box .notfree .td02-price{
	border-bottom:1px dotted #999;
}

#header-area-common .price-detail-box .notfree .last-td{
	border-bottom:1px solid #999;
}

#header-area-common .price-detail-box .rest-of-table {
	padding: 0px 0px 10px 0px;
	text-align: center;
}

#header-area-common .price-detail-box .table-over5 {
	border-bottom:1px solid #fff;
}

#header-area-common .price-detail-box .table-over5 .last-td {
	border-bottom: 1px solid #fff;
}


#header-area-common .price-detail-box .sd_ship_text { /*エラー文言*/
	text-align: center;
	padding:10px 0 20px;
}
/* カート END */

/* ポイント表記 */
#header-area-common .logged-in-search .point-area {
	font-weight:bold;
	margin-left:15px;
	display: inline-block;
	vertical-align: middle;
	background-color: #eee;
	padding: 2px 7px;
}
#header-area-common .logged-in-search .point-area span {
	font-weight:normal;
	font-size: 11px;
}
#header-area-common .logged-in-search .point-area a {
	font-size:12px;
}

#header-btm-common{
	width: 100%;
	min-width: 989px;
	zoom: 1;
	position: fixed;
	top: 81px;
	left: 0;
	z-index: 7999;
	-webkit-text-size-adjust: 100%;
}
#header-btm-common.no_fixed_header {
	position: static;
	top: auto;
	left: auto;
}
* html #header-btm-common { /* for IE6 */
	width: expression(document.body.clientWidth < 991? "989px" : "auto"); /* IE6 min-width */
}
#header-btm-common strong {
	font-weight: bold;
}
#header-btm-common .haeder-about {
	height: 98px;
	background: url("../img/common/header/bg_haeder_about_btm01.gif") #FFF bottom center no-repeat;
}
#header-btm-common .haeder-about-inner {
	height: 83px;
	background: url("../img/common/header/bg_haeder_about_top01.jpg") #f6f6f6 center center no-repeat;
}
#header-btm-common .about-txt-wrap {
	position: relative;
	width: 610px;
	height: 83px;
	margin: 0 auto;
}
#header-btm-common .about-txt1 {
	width: 100%;
	height: 45px;
	padding-top: 3px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;
	white-space: nowrap;
	text-align: center;
}
#header-btm-common .about-txt1 p {
	margin-bottom: 0;
}
#header-btm-common .about-txt2 {
	width: 100%;
	margin-top: 11px;
	text-align: center;
}
#header-btm-common .about-txt2 span {
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
}
#header-btm-common .about-txt2 a {
	margin-left: 10px;
}

/* 会員登録ボタン復帰 */

#header-btm-common .haeder-about-member-register2 {
	height: 88px;
	background: url("../img/common/header/bg_header_btm03.png") transparent bottom center no-repeat;
}
#header-btm-common .haeder-about-inner-member-register {
	height: 70px;
	background: url("../img/common/header/bg_haeder_about_top03.jpg") #f6f6f6 top center no-repeat;
}
#header-btm-common .about-txt1-member-register {
	height: 70px;
	padding-top: 3px;
	vertical-align: middle;
	text-align: center;
	max-width: 730px;
	margin: 0 auto;
}
#header-btm-common .about-txt1-member-register p {
	margin-bottom: 0;
	line-height: 1.25;
}
#header-btm-common .about-txt1-member-register span {
	font-weight: bold;
	white-space: nowrap;
}
#header-btm-common .about-txt2-member-register {
	width: 100%;
	text-align: center;
	padding-top:7px;
}
#header-btm-common .about-txt2-member-register .txt {
	vertical-align:middle;
}
#header-btm-common .about-txt2-member-register .txt img {
	margin: 0 5px 2px 0;
	vertical-align: middle;
}
#header-btm-common .about-txt2-member-register a img {
	vertical-align: middle;
}
#header-btm-common .about-txt1-member-register .pr-regist-btn { height: 47px; }
#header-btm-common .haeder-about-inner-member-register .pr-regist-sp { display: none; }

/* 会員登録ボタン復帰 END */

/* 「什器・資材市場」専用 */
.fixture-materials-area {
	background: url('../img/common/header/bg_haeder_btm02.png') no-repeat center bottom #ffffff;
	height: 114px;
	padding: 0 0 23px;
}
.fixture-materials-box {
	background: url('../img/common/header/bg_haeder_fixture_materials.png') no-repeat center bottom #ece6da;
	height: 114px;
}
.fixture-materials-box table {
	margin: 0 auto;
	height: 114px;
}
.fixture-materials-box table td { vertical-align: middle; }
.fixture-materials-box .fixture-materials-banner {
	padding-right: 25px;
	line-height: 0;
	width: 295px;
}
.fixture-materials-box .fixture-materials-regist {
	padding: 5px 0;
	border-top: 1px #333333 solid;
	text-align: center;
}
/* 「什器・資材市場」専用 END */

#header-btm-common .co-notice-area {
	border: none;
	border-bottom: 1px solid #E6E6E6;
	border-radius: 0;
	-moz-border-radius: 0;
	text-align: center;
	margin-bottom: 0;
}
#header-btm-common .co-notice-area .notice-area-inner {
	display: inline-block;
}
* html #header-btm-common .co-notice-area .notice-area-inner { /* for IE6 */
	display: inline;
}
*:first-child+html #header-btm-common .co-notice-area .notice-area-inner { /* for IE7 */
	display: inline;
}
/* ▲1307～ TOPリニューアル▲ */


/* ▼1311～ 売れるかわかるDOCTYPE変更に伴う表示の乱れ修正用▼ */
#header-margin-adjust {
	margin-top: -25px;
}
*:first-child+html #header-margin-adjust { /* for IE7 */
	position: relative;
}
/* ▲1311～ 売れるかわかるDOCTYPE変更に伴う表示の乱れ修正用▲ */


/* ▼1404～ TOPリニューアル▼ */
#header-area-common .r-menu a.register { padding: 5px 20px 0 ; }
#header-area-common .r-menu a.login { padding: 5px 20px 0; }
#header-area-common .r-menu a.about { padding: 5px 5px 0 5px; }
#header-area-common .r-menu a.about,
#header-area-common .r-menu a.login {
	background-color: #333333;
}
#header-area-common .r-menu a.change-lang {
	padding: 5px 0 0 10px;
	border-left: 1px solid #666;
	background-repeat: no-repeat;
	background-color: #202020;
}
#header-area-common .r-menu a.change-lang.to-en img {
	margin: -2px 0 0 0;
	vertical-align: middle;
}
#header-area-common .r-menu a.change-lang:link,
#header-area-common .r-menu a.change-lang:visited { background-position: 0 0; }
#header-area-common .r-menu a.change-lang:hover,
#header-area-common .r-menu a.change-lang:active {
	background-position: 0 -24px;
	background-color: #585858;
}
#header-area-common .r-menu a.about:hover,
#header-area-common .r-menu a.login:hover { background-color: #666; }
#header-area-common .r-menu .change-link:hover+li a.change-lang {
	background-position: 0 -48px;
}
#header-area-common .r-menu a.register:link {
	background-color: #dc4d4d;
	color: #ffffff;
}
#header-area-common .r-menu a.register:visited {
	background-color: #dc4d4d;
	color: #ffffff;
}
#header-area-common .r-menu a.register:hover {
	background-color: #ff6161;
	color: #ffffff;
}
/* ▲1404～ TOPリニューアル▲ */

/* ▼150126～ヘッダー固定▼ */
/* 全体を囲う場合：<div id="header-fixd-content" class="wrapper fixed-header"> */
/* headerだけを囲う場合：<div id="header-fixd-content" class="fixed-header"> */
#header-fixd-content.fixed-header {
	padding-top: 108px;
}
/* ▲150126～ヘッダー固定▲ */

/* ▼海外headerのみの指定 */
#header-area-common.foreign-header-area-common .r-menu a.about {
	padding: 5px 10px 0;
}
#header-area-common.foreign-header-area-common .r-menu a.contact {
	padding: 5px 5px 0 11px;
}
/* ▲海外headerのみの指定 */

/* ▼1606～ 御用聞キ屋LP▼ */
/*** ヘッダー共通 ***/

/*** シンプルヘッダー ***/
#header-common #header-simple-lp {
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
	padding: 5px 0 5px;
	margin-top: -81px;
}
#header-common #header-simple-lp .header-simple-center {
	text-align: center;
	margin: 5px auto;
}
#header-common #header-simple-lp .header-simple-center .logo {
	display: inline-block;
	vertical-align: middle;
	width: 111px;
	text-align: center;
}
#header-common #header-simple-lp .header-simple-center .logo img {
	width: 111px;
}
#header-common #header-simple-lp .header-simple-center .logo-x {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	text-align: center;
	padding: 0px 10px;
}
#header-common #header-simple-lp .header-simple-center .logo-x img {
	width: 15px;
}
#header-common #header-simple-lp .header-simple-center .logo-x img {
	width: 15px;
}

/* TABLET */
@media screen and (min-width: 671px) and (max-width: 940px) {
/* ここにTABLETの記述 */
	#header-common #header-simple-lp {
		margin-top: 0px;
	}
}

/* SP */
@media screen and (max-width: 670px) {
/* ここにスマホの記述 */
	#header-common #header-simple-lp {
		margin-top: 0px;
	}
	#header-common #header-simple-lp .header-simple-center .logo {
		width: 80px;
		text-align: center;
	}
	#header-common #header-simple-lp .header-simple-center .logo img {
		width: 80px;
		height: auto;
	}
	#header-common #header-simple-lp .header-simple-center .logo-x {
		width: 10px;
		padding: 0px 5px;
		vertical-align: top;
	}
	#header-common #header-simple-lp .header-simple-center .logo-x img {
		width: 10px;
	}
}
/* ▲1606～ 御用聞キ屋LP */

/* Google翻訳ツール */
.pre-google-trans-wrap {
	float: right;
	width: 55%;
}
.pre-google-trans-wrap .pre-inline-b {
	display: inline-block;
	width: 8%;
}
.google-translate-wrap {
	background: #333333;
	position: relative;
	height: 35px;
}
.loggedin-inline-b {
	display: inline-block;
	margin-left: -2px;
}
.simple-google-trans-wrap {
	position: absolute;
	right: 10px;
	top: 13px;
	width: auto;
}

/* クーポン帯（sp/unique.cssにも記載あります）
----------------------------------------------------------------------------------------------- */
.h-coupon-bar {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	line-height: 1.2;
	padding-right: 10px;
}
.h-coupon-bar * { vertical-align: middle; }
.h-coupon-bar p,
.h-coupon-bar dt,
.h-coupon-bar dd { margin: 0; }
/* はさみ付の枠 */
.h-coupon-bar .coupon-tkt {
	overflow: hidden;
	height: 40px;
	width: 100px;
	padding: 0 10px 0 19px;
	margin-right: 10px;
	position: relative;
}
.h-coupon-bar .coupon-tkt:before {
	content: '';
	display: block;
	width: 17px;
	height: 32px;
	background: url('../img/common/icon/sisors_00.svg') center center no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
}
.h-coupon-bar .coupon-tkt p,
.h-coupon-bar .coupon-tkt p:before,
.h-coupon-bar .coupon-tkt p:after {
	background-position: top left 2px;
	background-size: 12px;
}
.h-coupon-bar .coupon-tkt p {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transform: rotate(-13deg);
	margin-top: 3px;
	letter-spacing: 1px;
	opacity: 0.9;
}
.h-coupon-bar .coupon-tkt p:before,
.h-coupon-bar .coupon-tkt p:after {
	content: '';
	height: 6px;
	width: 100%;
	transform: rotate(90deg);
	position: absolute;
	top: 0;
}
.h-coupon-bar .coupon-tkt p:before { left: calc(50% + 1px); }
.h-coupon-bar .coupon-tkt p:after { right: calc(50% + 1px); }
.h-coupon-bar .coupon-tkt p span {
	margin: 2px 0;
	padding: 8px 15px 4px;
	display: block;
}
/*** 紫クーポン ***/
/* はさみ付の枠 */
.h-coupon-bar[class*='h-coupon-ppl-'] { background-color: #914da5; }
.h-coupon-bar[class*='h-coupon-ppl-'] .coupon-tkt p,
.h-coupon-bar[class*='h-coupon-ppl-'] .coupon-tkt p:before,
.h-coupon-bar[class*='h-coupon-ppl-'] .coupon-tkt p:after {
	background-image: linear-gradient(to right,#ffffff 50%,#9a6fa7 50%,#9a6fa7 80%);
}
.h-coupon-bar[class*='h-coupon-ppl'] .coupon-tkt p span { background-color: #9a6fa7; }
/* クーポン情報部分（ログイン前） */
.h-coupon-bar.h-coupon-ppl-pre dl {
	display: flex;
	padding: 11px 0 9px;
}
.h-coupon-bar.h-coupon-ppl-pre dt,
.h-coupon-bar.h-coupon-ppl-pre dd {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.h-coupon-bar.h-coupon-ppl-pre dt {
	padding-right: 5px;
	justify-content: center;
}
.h-coupon-bar.h-coupon-ppl-pre dt:before,
.h-coupon-bar.h-coupon-ppl-pre dt:after { content: '-'; }
.h-coupon-bar.h-coupon-ppl-pre dd p {
	display: inline-block;
	margin-left: 10px;
}
.h-coupon-bar.h-coupon-ppl-pre dd p:last-child {
	font-size: 107%;
	font-weight: bold;
}
/*** 青/黄クーポン ***/
/* はさみ付の枠（黄） */
.h-coupon-bar.h-coupon-ylw { background-color: #cca400; }
.h-coupon-bar.h-coupon-ylw .coupon-tkt p,
.h-coupon-bar.h-coupon-ylw .coupon-tkt p:before,
.h-coupon-bar.h-coupon-ylw .coupon-tkt p:after {
	background-image: linear-gradient(to right,#ffffff 50%,#dfc149 50%,#dfc149 80%);
}
.h-coupon-bar.h-coupon-ylw .coupon-tkt p span { background-color: #dfc149; }
/* はさみ付の枠（青） */
.h-coupon-bar.h-coupon-blu { background-color: #659cd8; }
.h-coupon-bar.h-coupon-blu .coupon-tkt p,
.h-coupon-bar.h-coupon-blu .coupon-tkt p:before,
.h-coupon-bar.h-coupon-blu .coupon-tkt p:after {
	background-image: linear-gradient(to right,#ffffff 50%,#87b0de 50%,#87b0de 80%);
}
.h-coupon-bar.h-coupon-blu .coupon-tkt p span { background-color: #87b0de; }
/** クーポン情報部分 **/
.h-coupon-bar .h-coupon-name .coupon-name { font-weight: bold; }
.h-coupon-bar .h-coupon-name { margin-right: 9px; }
.h-coupon-bar .h-coupon-name p { display: inline-block; }
.h-coupon-bar .h-coupon-name p:not(.coupon-name) { font-size: 13px; }
.h-coupon-bar .h-coupon-name .coupon-name { font-size: 17px; }
.h-coupon-bar .h-coupon-limit {
	font-size: 14px;
	margin-top: 2px;
}
.h-coupon-bar .h-coupon-limit span span {
	font-size: 136%;
	vertical-align: baseline;
	display: inline-block;
	margin-top: -4px;
}
/* 表に出る企業リスト */
.h-coupon-bar .h-coupon-dealer {
	display: flex;
	margin-right: 10px;
	width: 21.5%;
	max-width: 295px;
}
.h-coupon-bar .coupon-dlist-h { font-size: 12px; }
.h-coupon-bar .coupon-dlist {
	font-size: 12px;
	width: calc(100% - 5em);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
/** クーポン詳細（青/黄/ログイン後紫） **/
.h-coupon-bar .h-coupon-dtl-area { position: relative; }
.h-coupon-bar .h-coupon-dtl-area #coupon-dtl-show {
	font-size: 13px;
	border: 1px #ffffff solid;
	border-radius: 3px;
	padding: 3px 6px 1px;
	margin-top: -2px;
	margin-left: 14px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.h-coupon-bar .h-coupon-dtl-area #coupon-dtl-show:hover { background-color: rgba(255,255,255,0.2); }
.h-coupon-bar .coupon-dlist li { display: inline; }
.h-coupon-bar .coupon-dlist li:not(:first-child):before {
	content: ',';
	margin: 0 3px;
}
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl {
	position: absolute;
	right: 0;
	top: calc(100% + 3px);
	background-color: #ffffff;
	border-radius: 5px;
	padding: 15px;
	width: 290px;
	z-index: 31;
	font-size: 13px;
	box-shadow: 0 0 4px 1px rgba(150,150,150,0.4);
	display: none;
}
.h-coupon-bar .coupon-dtl p { color: #777777; }
/* 各クーポン */
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt {
	display: flex;
	margin: 10px 7px 0;
}
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt {
	min-width: 55px;
	font-size: 11px;
	padding: 6px 12px 1px 6px;
	background-image: radial-gradient(#ffffff 30%,transparent 0);
	background-position: top 3px right;
	background-repeat: repeat-y;
	background-size: 5px 5px;
	text-align: center;
}
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt span { white-space: nowrap; }
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt span:first-of-type { display: block; }
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt .txt-coupon-limit {
	margin: -2px 2px 0 1px;
	font-size: 16px;
	vertical-align: baseline!important;
	display: inline-block;
}
.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dd {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3px 7px 0;
}
/* 紫クーポン */.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt.coupon-d-ppl { background-color: #914da5; }
/* 青クーポン */.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt.coupon-d-blu { background-color: #659cd8; }
/* 黄クーポン */.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt.coupon-d-ylw { background-color: #cca400; }
/* ツールチップ内の企業リスト */
.h-coupon-bar .coupon-dtl-dlist {
	background-color: #cca400;
	padding: 0 1px 1px;
	margin: 0 7px;
}
.h-coupon-bar .coupon-dtl-dlist p,
.h-coupon-bar .coupon-dtl-dlist ul { background-color: rgba(255,255,255,0.9); }
.h-coupon-bar .coupon-dtl-dlist p {
	padding: 7px 5px 3px;
	margin: 0 9px;
}
.h-coupon-bar .coupon-dtl-dlist ul {
	margin: 0 9px 9px;
	padding: 0 10px 5px;
	background-color: rgba(255,255,255,0.9);
}
.h-coupon-bar .coupon-dtl-dlist ul li a {
	display: block;
	padding: 8px 0 6px;
}
.h-coupon-bar .coupon-dtl-dlist ul li:not(:first-child) a { border-top: 1px #cccccc solid; }
/* 注記 */
.h-coupon-bar .coupon-dtl .coupon-dtl-notice {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px #999999 solid;
	font-size: 12px;
}
/* ツールチップの表示制御 */
.h-coupon-bar .coupon-dtl .coupon-dtl-cls {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: #999999;
	border-radius: 3px;
	font-weight: bold;
	padding: 0.3em 0.4em;
	font-size: 10px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	line-height: 1;
}

/* TAB/SP */
@media screen and (max-width: 940px) {
	.h-coupon-bar .coupon-tkt p span { padding: 7px 15px 5px; }
	.h-coupon-bar .h-coupon-name p { display: inline-block; }
	.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt { padding: 4px 12px 3px 6px; }
	.h-coupon-bar .coupon-dtl .coupon-dtl-cls {
		font-size: 22px;
		padding: 0.2em 0.4em;
	}
	.h-coupon-bar .h-coupon-dtl-area .coupon-dtl-tkt dt {
		background-size: 3px 4px;
		background-image: radial-gradient(#ffffff 40%,transparent 0);
	}
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
/** クーポン情報部分 **/
	.h-coupon-bar .coupon-tkt { margin-right: 5px; }
	.h-coupon-bar .h-coupon-name .coupon-name {
		font-size: 15px;
		display: block;
	}
	.h-coupon-bar .h-coupon-limit { font-size: 13px; }
	.h-coupon-bar .h-coupon-dealer {
		display: block;
		width: 27%;
		margin: 0 8px 0 0;
	}
	.h-coupon-bar .coupon-dlist { width: 100%; }
	.h-coupon-bar .h-coupon-dtl-area #coupon-dtl-show { margin-left: 8px; }
}
/* SP */
@media screen and (max-width: 670px) {
	.h-coupon-bar {
		font-size: 13px;
		padding: 0;
	}
/*** 紫クーポン（ログイン前） ***/
	.h-coupon-bar.h-coupon-ppl-pre dl {
		padding: 0;
		width: 100%;
	}
	.h-coupon-bar.h-coupon-ppl-pre dt,
	.h-coupon-bar.h-coupon-ppl-pre dd,
	.h-coupon-bar .h-coupon-limit { min-height: 33px; }
	.h-coupon-bar.h-coupon-ppl-pre dt,
	.h-coupon-bar .h-coupon-limit {
		background-image: radial-gradient(#ffffff 40%,transparent 0);
		background-position: top 3px right;
		background-size: 3px 4px;
		background-repeat: repeat-y;
		min-width: 4.3em;
	}
	.h-coupon-bar.h-coupon-ppl-pre dt {
		padding: 4px 10px 3px 6px;
		width: calc(22% - 28px);
	}
	.h-coupon-bar.h-coupon-ppl-pre dt:before,
	.h-coupon-bar.h-coupon-ppl-pre dt:after { content: ''; }
	.h-coupon-bar.h-coupon-ppl-pre dd {
		padding: 5px 3%;
		width: 72%;
	}
	.h-coupon-bar.h-coupon-ppl-pre dd p {
		display: block;
		margin: 0;
	}
/*** 青/黄クーポン ***/
	/** クーポン情報部分 **/
	.h-coupon-bar .h-coupon-limit {
		order: -1;
		font-weight: normal;
		font-size: 11px;
		padding: 4px 7px 3px 2px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: calc(24% - 9px);
	}
	.h-coupon-bar .h-coupon-name {
		display: block;
		padding: 0 1.5% 0 2%;
		width: calc(72.5% - 49px);
		margin-right: 0;
	}
	.h-coupon-bar .h-coupon-name .coupon-name { font-size: 13px; }
	.h-coupon-bar .h-coupon-limit > span { display: inline-block; }
	.h-coupon-bar .h-coupon-dtl-area #coupon-dtl-show {
		margin: 0 7px 0 0;
		padding: 4px 5px 2px;
		width: 30px;
		text-align: center;
	}
	.h-coupon-bar .h-coupon-dtl-area .coupon-dtl {
		right: 7px;
		width: calc(100vw - 44px);
	}
	.h-coupon-bar .coupon-dtl-dlist ul { padding: 0 7px 3px; }
	.h-coupon-bar .coupon-dtl-dlist ul li a { padding: 10px 0 9px; }
}

/* 企業広告エリア
----------------------------------------------------------------------------------------------- */
.dealer-ad-area {
	display: inline-block;
	width: 120px;
	height: 40px;
	background-color: #ffffff;
	margin: 0 0 0 10px;
	vertical-align: middle;
	position: relative;
}
.dealer-ad-area:hover .dealer-ad-onmouse {
	display: block;
}
.dealer-ad-area .dealer-ad-onmouse {
	display: none;
	width: 300px;
	background-color: #ffffff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
	border: 1px solid #cccccc;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	overflow: hidden;
}
.dealer-ad-area .dealer-ad-onmouse .catch {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: #dc4d4d;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 25px;
	position: relative;

}
.dealer-ad-area .dealer-ad-onmouse .catch:after {
	content: "";
	display: block;
	border-color: #dc4c4c transparent transparent;
	border-width: 8px 8px 0;
	border-style: solid;
	position: absolute;
	bottom: -8px;
	left: calc(50% - 4px);
	z-index: 11;
}
.dealer-ad-area .dealer-ad-onmouse .catch .now-only {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	color: #dc4c4c;
	font-size: 11px;
	vertical-align: top;
	padding: 18px 0;
	border-radius: 50%;
	margin: 0 10px 0 0;
	transform: rotate(-10deg);
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image {
	display: block;
	width: 240px;
	text-decoration: none;
	text-align: left;
	color: #333333;
	border-radius: 5px;
	margin: 0 auto 25px;
	overflow: hidden;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image:hover {
	opacity: 0.75;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .inner {
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc #cccccc transparent;
	border-radius: 5px 5px 0 0;
	position: relative;
	overflow: hidden;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .inner:after {
	content: "PR";
	display: block;
	width: 25px;
	height: 15px;
	background-color: #ffffff;
	font-size: 11px;
	color: #333333;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .genre {
	font-size: 11px;
	padding: 10px 12px 0;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .dealer-name {
	font-size: 16px;
	font-weight: bold;
	padding: 2px 12px 12px;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .watch-items {
	background-color: #333333;
	color: #ffffff;
	font-size: 11px;
	text-align: center;
	padding: 3px 0;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .watch-items .watch-items-text {
	position: relative;
}
.dealer-ad-area .dealer-ad-onmouse .dealer-ad-image .watch-items .watch-items-text:after {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff #ffffff transparent transparent;
	transform: rotate(45deg);
	position: absolute;
	top: 5.3px;
	right: -0.8em;
}

/* 201902 旧海外登録フォーム多言語化：翻訳バー
----------------------------------------------------------------------------------------------- */
#header-fixd-content .language {
	top: 7px;
	right: 20px;
	font-size: 14px;
	position: absolute;
	z-index: 11;
}
#header-fixd-content .language .now-lang-txt {
	display: none;
}
#header-fixd-content .language ul{
	background: #76a9c8 none repeat scroll 0 0;
    display: table-cell;
    padding: 0;
    margin: 0;
	border-radius: 3px;
	color: #ffffff;
	overflow: hidden;
}
#header-fixd-content .language li{
	display: table-cell;
    font-weight: bold;
    padding: 5px 10px;
    border-left: solid 1px #aecee2;
    margin: 0;
}
#header-fixd-content .language li:nth-of-type(1){
	border-left: none;
}
#header-fixd-content .language li a{
    font-size: 14px;
    line-height: 0;
	color: #ffffff;
}
#header-fixd-content .language .select{
	background-color: #417697;
	border-radius: 0 3px 3px 0;
}

@media screen and (max-width: 670px) {
	/* 言語選択 */
	#header-fixd-content .language {
		display: block;
		border-left: 0;
		width: 7em;
		border-radius: 5px;
		background-color: #ffffff;
		border: 1px #cccccc solid;
		overflow: hidden;
		height: auto;
		text-align: center;
	}
	#header-fixd-content .language ul,
	#header-fixd-content .language li .now-lang { display: none; }
	#header-fixd-content .language .now-lang-txt {
		display: block;
		border-bottom: 1px #cccccc solid;
		margin-bottom: -1px;
		color: #666666;
		font-size: 14px;
		box-sizing: border-box;
	}
	#header-fixd-content .language li a:hover { text-decoration: underline !important; }
	#header-fixd-content .language li {
		display: block;
		padding: 0;
		margin: 0;
		border-left: none;
		background-color: #ffffff;
	}
	#header-fixd-content .language .select {
		display: none;
	}
	#header-fixd-content .language .now-lang-txt p {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		box-sizing: border-box;
		margin: 0;
	}
	#header-fixd-content .language p{
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		box-sizing: border-box;
	}
	#header-fixd-content .language li a {
		padding: 15px;
		display: block;
		text-align: center;
		border-top: 1px #e3e3e3 solid;
		font-size: 14px;
		font-weight: normal;
		color: #666666 !important;
		border-color: #cccccc;
	}
	#header-fixd-content .language .lang-arw{
		padding: 7px 0;
		border-left: 1px #cccccc solid;
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		font-size: 10px;
		box-sizing: border-box;
	}
	#header-fixd-content .language.language-jp{
		top: -42px;
		right: 10px;
	}
	#header-fixd-content .language.language-en{
		top: -35px;
		right: 10px;
	}
}