@charset "shift_jis";

/*************************************** レイアウト ***************************************/
#cart-area-tab .fix-cart.cart-box,
#cart-area .fix-cart.cart-box { display: none!important; }
#product-detail-wrap.product-detail-table {
	width: 96%;
	margin: 25px auto 20px;
}
#product-detail-wrap.product-detail-table * { box-sizing: border-box; border-collapse: collapse; }
.push { background-color: #ffffff; }
/* 商品画像 */
#product-detail-wrap.product-detail-table .product-image-wrap { float: left; }
#product-detail-wrap.product-detail-table .product-image-wrap {
	margin-right: 20px;
	width: 505px;
}
#product-detail-wrap.product-detail-table .product-image-wrap .large-image-clear {
	position: absolute;
	width: 456px;
	height: 456px;
}
/* ボタン*/
#product-detail-wrap .btn-wht-ss {
	margin-top: 3px;
	text-align:center;
	white-space: nowrap;
	zoom: 1;
	vertical-align: bottom;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	border-color: #59717f;
	border-width: 1px;
	border-style: solid;
	text-shadow: 1px 1px 0 #ffffff;
	color: #222222!important;
	background-color: #e9e9f2;
	background-image: -moz-linear-gradient(center top , #ffffff 45%, #f0f0f7 70%, #e9e9f2 85%);
	background-image: -webkit-gradient(linear,left bottom,left top, from(#e9e9f2), color-stop(0.3, #f0f0f7),color-stop(0.6, #ffffff));
	background: -ms-linear-gradient(top, #ffffff 0%, #e9e9f2 100%);
	background: linear-gradient(top, #ffffff 0%, #e9e9f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e9e9f2');
	display: block;
	position: relative;
	padding: 4px 7px;
	font-size: 13px;
}

#product-detail-wrap .add-alert-action {
	margin-top: 3px;
}
#product-detail-wrap .add-alert-action:hover,
#product-detail-wrap .add-alertSet-action:hover,
#product-detail-wrap .alert-added:hover {
	text-decoration:none!important;
}
#product-detail-wrap .btn-wht-ss:hover{
	padding: 5px 7px 3px;
	color: #222222!important;
	background-color: #e0e0e9;
	background-image: -moz-linear-gradient(center top , #e0e0e9, #e0e0e9);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e0e0e9),color-stop(1, #e0e0e9));
	background: -ms-linear-gradient(top, #e0e0e9 0%, #e0e0e9 100%);
	background: linear-gradient(top, #e0e0e9 0%, #e0e0e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e0e0e9', endColorstr='#e0e0e9');
	cursor: pointer!important;
}

/* 商品情報（商品テーブル、詳細情報） */
#product-detail-wrap.product-detail-table .product-setinfo-wrap,
#product-detail-wrap.product-detail-table .product-details { width: calc(100% - 525px); }
#product-detail-wrap.product-detail-table .product-setinfo-wrap { float: left; }
#product-detail-wrap.product-detail-table .product-details { float: right; }
/* TAB/SP */
@media screen and (max-width: 940px) {
	#dl-info-area,
	.sds-plist-head-wrap { display: none; }
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	#product-detail-wrap.product-detail-table { margin-bottom: 30px; }
	/* 商品画像 */
	#product-detail-wrap.product-detail-table .product-image-wrap,
	#product-detail-wrap.product-detail-table #product_comment,
	#product-detail-wrap.product-detail-table #product_comment *,
	#product-detail-wrap.product-detail-table .product-image-wrap .large-image-clear { width: 360px; }
	#product-detail-wrap.product-detail-table .product-image-wrap .large-image-clear { height: 360px; }
	/* 商品情報（商品テーブル、詳細情報） */
	#product-detail-wrap.product-detail-table .product-setinfo-wrap,
	#product-detail-wrap.product-detail-table .product-details { width: calc(100% - 380px); margin-bottom: 10px; }
}
/* SP */
@media screen and (max-width: 670px) {
/* モーダル*/
	#arrivalDialog{top:35px;}
	#product-detail-wrap.product-detail-table,
	#product-detail-wrap.product-detail-table .product-image-wrap,
	#product-detail-wrap.product-detail-table .product-setinfo-wrap {
		display: block;
		width: 100%;
		float: none;
	}
	#product-detail-wrap.product-detail-table { margin: 0 auto 40px; }
	.co-pankuzu-list { display: none; }
	#product-detail-wrap.product-detail-table .product-image-wrap .large-image-clear {
		height: 100vw;
		width: 100%;
	}
}

/*************************************** 商品画像 ***************************************/
.product-detail-table .image-box-wrap {
	position: relative;
	text-align: center;
}
/* 画像（大） */
.product-detail-table .large-image-relative {
	position: relative;
	width: 458px;
	height: 458px;
	float: right;
	border: solid 1px #cccccc;
	cursor: pointer;
	line-height: 0;
}
.product-detail-table .large-image-zoom-button {
	position: absolute;
	top: 422px;
	left: 422px;
	width: 25px;
	height: 25px;
	z-index: 3;
}
.product-detail-table .large-image-absolute {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 456px;
	height: 456px;
}
.product-detail-table .large-image-absolute > div { display: inline-block; }
.product-detail-table .large-image-absolute img {
	display: block;
	margin: 0!important;
	max-width: 100%;
	max-height: 1001%;
	width: auto;
	height: auto;
}
.product-detail-table .large-image-pic-block {
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.product-detail-table .large-image-pic-none {
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	display: none;
}
/* 画像（サムネイル） */
#product-detail-wrap.product-detail-table .thum-image-box {
	width: 44px;
	position: relative;
	float: right;
	margin-right: 3px;
}
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float {
	width: 44px;
	height: 44px;
	margin: 0 3px 2px 0;
	position: relative;
}
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float img { display: block; }
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected {
	width: 44px;
	height: 44px;
	border: 1px solid #dc4d4d;
	position: relative;
	left: 0;
	bottom: 0;
}
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-normal {
	width: 42px;
	height: 42px;
}
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical {
	width: 44px;
	height: 44px;
	border: 1px solid #cccccc;
}
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical img,
#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected img {
	border-width: 0px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	max-height: 42px;
	max-width: 42px;
}
/* 画像送り */
#product-detail-wrap.product-detail-table .navi-prev-box,
#product-detail-wrap.product-detail-table .navi-next-box {
	position: absolute;
	z-index: 3;
	cursor: default;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 129px;
}
#product-detail-wrap.product-detail-table .navi-prev-box span,
#product-detail-wrap.product-detail-table .navi-next-box span{
	display: block;
	height: 200px;
	width: 20px;
	border: 1px #dddddd solid;
	font-size: 0;
	background-color: #f8f8f8;
}
.product-detail-table .navi-prev-box { right: 438px; }
.product-detail-table .navi-next-box { right: 0; }
#product-detail-wrap.product-detail-table .navi-prev-box span:before,
#product-detail-wrap.product-detail-table .navi-next-box span:before {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	border-top: 2px #dddddd solid;
	border-right: 2px #dddddd solid;
	position: absolute;
	top: calc(50% - 6px);
	left: 50%;
}
#product-detail-wrap.product-detail-table .navi-prev-box span:before {
	margin-left: -4px;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
#product-detail-wrap.product-detail-table .navi-next-box span:before {
	margin-left: -9px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* 有効なとき */
#product-detail-wrap.product-detail-table .navi-prev-box.detail-navi-active,
#product-detail-wrap.product-detail-table .navi-next-box.detail-navi-active { cursor: pointer; }
#product-detail-wrap.product-detail-table .navi-prev-box.detail-navi-active span,
#product-detail-wrap.product-detail-table .navi-next-box.detail-navi-active span {
	border: 1px #888888 solid;
	background-color: rgba(0,0,0,0.3);
}
#product-detail-wrap.product-detail-table .navi-prev-box.detail-navi-active span:before,
#product-detail-wrap.product-detail-table .navi-next-box.detail-navi-active span:before {
	border-top: 2px #ffffff solid;
	border-right: 2px #ffffff solid;
}
#product-detail-wrap.product-detail-table .navi-prev-box.detail-navi-active:hover span,
#product-detail-wrap.product-detail-table .navi-next-box.detail-navi-active:hover span { background-color: rgba(110,110,110,0.7); }
/* 動画 */
#product-detail-wrap.product-detail-table .youtube-box {
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 10px auto;
}
#product-detail-wrap.product-detail-table .youtube-box {
	padding-top: 70.25%;
	position: relative;
	overflow: hidden;
}
#product-detail-wrap.product-detail-table .youtube-box:empty { display: none; }
#product-detail-wrap.product-detail-table .youtube-box iframe {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
/* 画像転載不可の注記 */
.product-detail-table .pic-caution {
	margin-top: 0;
	text-align: right;
	color: #dc4d4d;
}
/*** ログイン前画像掲載不可 ***/
#product-detail-wrap.product-detail-table .pre-image-not-see-wrap {
	display: table;
	width: 400px;
	height: 400px;
	margin: 0 auto 20px;
}
#product-detail-wrap.product-detail-table .pre-image-not-see {
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #e9e9e9;
	font-size: 16px;
	line-height: 1.9;
	color: #999;
	text-shadow: 1px 1px 1px #fff;
}

/* TAB/SP */
@media screen and (max-width: 940px) {
	/* 大画像の枠 */
	#product-detail-wrap.product-detail-table .large-image-relative {
		float: none;
		border: 0;
	}
	#product-detail-wrap.product-detail-table .large-image-absolute img {
		width: auto;
		height: auto;
	}
	/* サムネイル画像の枠 */
	#product-detail-wrap.product-detail-table .thum-image-box {
		float: none;
		width: 100%;
		margin: 20px 0 0;
	}
	#product-detail-wrap.product-detail-table .thum-image-float {
		display: inline-block;
		vertical-align: middle;
	}
	#product-detail-wrap.product-detail-table .large-image-zoom-button { display: none; }
	/* 画像送り */
	#product-detail-wrap.product-detail-table .navi-prev-box,
	#product-detail-wrap.product-detail-table .navi-next-box {
		width: 60px;
		padding: 70px 10px;
	}
	#product-detail-wrap.product-detail-table .navi-prev-box span,
	#product-detail-wrap.product-detail-table .navi-next-box span {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 0!important;
	}
	#product-detail-wrap.product-detail-table .navi-prev-box { left: 0; }
	#product-detail-wrap.product-detail-table .navi-next-box { right: 0; }
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	/*** 商品画像 ***/
	#product-detail-wrap.product-detail-table .large-image-relative,
	#product-detail-wrap.product-detail-table .large-image-absolute,
	#product-detail-wrap.product-detail-table .large-image-absolute .no-img-path {
		width: 360px;
		height: 360px;
	}
	#product-detail-wrap.product-detail-table .large-image-absolute img {
		max-width: 358px;
		max-height: 358px;
	}
	#product-detail-wrap.product-detail-table .pre-image-not-see-wrap {
		width: 360px;
		height: 360px;
	}
	/* サムネイル画像の枠 */
	#product-detail-wrap.product-detail-table .thum-image-box { margin: 20px 0 0; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float,
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical,
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected {
		width: 62px;
		height: 62px;
	}
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float { margin: 0 12px 12px 0; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float:nth-child(5),
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float:nth-child(10) { margin-right: 0; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical,
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected { border-width: 1px; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical img,
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected img {
		max-width: 60px;
		max-height: 60px;
	}
	#product-detail-wrap.product-detail-table .thum-image-box {
		text-align: left;
		padding: 0;
	}
	/* コメント */
	#product-detail-wrap.product-detail-table .product-image-box table { width: 100%; }
	/* 画像送り */
	#product-detail-wrap.product-detail-table .navi-prev-box,
	#product-detail-wrap.product-detail-table .navi-next-box { top: 85px; }
}
/* SP */
@media screen and (max-width: 670px) {
	/*** 商品画像 ***/
	#product-detail-wrap.product-detail-table .large-image-absolute,
	#product-detail-wrap.product-detail-table .no-img-path-wrap,
	#product-detail-wrap.product-detail-table .no-img-path-wrap .large-image-absolute,
	#product-detail-wrap.product-detail-table .large-image-absolute .no-img-path,
	#product-detail-wrap.product-detail-table .pre-image-not-see-wrap {
		width: 100%;
		height: 100vw;
	}
	#product-detail-wrap.product-detail-table .large-image-relative {
		width: auto;
		height: 100vw;
	}
	#product-detail-wrap.product-detail-table .large-image-absolute img {
		max-width: 100vw;
		max-height: 100vw;
	}
	#product-detail-wrap.product-detail-table .product-image-box {
		margin: 0 0 15px;
		width: 100%;
	}
	#product-detail-wrap.product-detail-table.image-box-inner { display: block; }
	#product-detail-wrap.product-detail-table .large-image-relative { display: inline-block; }
	#product-detail-wrap.product-detail-table .product-image-box table { width: 100%; }
	#product-detail-wrap.product-detail-table .large-image-absolute { top: 0; }
	/* サムネイル画像の枠 */
	#product-detail-wrap.product-detail-table .thum-image-box { margin: 0; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical,
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 0;
	}
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float {
		width: auto;
		height: auto;
		margin: 0 7px;
	}
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-vertical { background-color: #cccccc; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-selected { background-color: #666666; }
	#product-detail-wrap.product-detail-table #thumbImageBox .thum-image-float img { display: none; }
	/* 画像送り */
	#product-detail-wrap.product-detail-table .navi-prev-box,
	#product-detail-wrap.product-detail-table .navi-next-box { top: calc(50vw - 90px); }
	#product-detail-wrap.product-detail-table .youtube-box iframe {
		width: 90%;
		height: 90%;
		left: 5%;
		top: 5%;
	}
	/* 画像転載不可の注記 */
	.product-detail-table .pic-caution {
		margin: 0 10px;
	}
}

/*************************************** 商品企業コメント ***************************************/
#product-detail-wrap.product-detail-table .product-comment-wrap,
#product-detail-wrap.product-detail-table .product-comment-wrap * {
	width: 505px;
	word-wrap: break-word!important;
	word-break: break-all!important;
}
#product-detail-wrap.product-detail-table #product_comment { margin: 40px 0 20px; }
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	#product-detail-wrap.product-detail-table .product-comment-wrap,
	#product-detail-wrap.product-detail-table .product-comment-wrap * { width: 360px; }
}
/* SP */
@media screen and (max-width: 670px) {
	#product-detail-wrap.product-detail-table .product-comment-wrap,
	#product-detail-wrap.product-detail-table .product-comment-wrap * { width: 100%; }
	#product-detail-wrap.product-detail-table #product_comment {
		border: 0;
		padding: 0;
		margin: 0;
	}
}

/*************************************** 商品情報詳細 ***************************************/
/*** 見出し ***/
#product-detail-wrap.product-detail-table .product-details-ttl div {
	display: inline-block;
	vertical-align: middle;
}
#product-detail-wrap.product-detail-table .product-details-ttl .co-title2 { width: 200px; }
/* 登録日 */
#product-detail-wrap.product-detail-table .product-details-ttl .product-entry-date {
	text-align: right;
	width: calc(100% - 200px);
}
/*** 商品情報表 ***/
#product-detail-wrap.product-detail-table .product-detail-infolist { border-bottom: 1px #cccccc solid; }
#product-detail-wrap.product-detail-table .product-detail-infolist dt,
#product-detail-wrap.product-detail-table .product-detail-infolist dd {
	border-style: solid;
	border-color: #cccccc;
}
#product-detail-wrap.product-detail-table .product-detail-infolist dt {
	padding: 6px 10px;
	background-color: #eeeeee;
	border-width: 1px 1px 0;
	box-shadow: 0 1px 0 0 #ffffff inset;
}
#product-detail-wrap.product-detail-table .product-detail-infolist dd {
	padding: 10px;
	border-width: 0 1px;
	margin: 0;
	position: relative;
}
/*** 続きを見る ***/
#product-detail-wrap.product-detail-table #product-comment-show-pt,
#product-detail-wrap.product-detail-table .product-detail-information input,
#open-set-table { display: none; }

/* TAB/SP */
@media screen and (max-width: 940px) {
	#product-detail-wrap.product-detail-table .product-detail-information { margin-bottom: 30px; }
	#product-detail-wrap.product-detail-table .product-details {
		float: none;
		clear: both;
	}
	/*** 商品情報表 ***/
	#product-detail-wrap.product-detail-table .product-detail-infolist { margin-top: 30px; }
	#product-detail-wrap.product-detail-table .product-detail-infolist,
	#product-detail-wrap.product-detail-table .product-detail-infolist dt,
	#product-detail-wrap.product-detail-table .product-detail-infolist dd { border: 0; }
	#product-detail-wrap.product-detail-table .product-detail-infolist dt,
	#product-detail-wrap.product-detail-table .product-detail-infolist dd {
		background: none;
		padding: 0 0 5px;
	}
	#product-detail-wrap.product-detail-table .product-detail-infolist dt {
		font-size: 16px;
		font-weight: bold;
	}
	#product-detail-wrap.product-detail-table .product-detail-infolist dt:not(:first-child) { margin-top: 20px; }
	/*** 続きを見る ***/
	#product-detail-wrap.product-detail-table #product-comment-show-pt + .product-comment label,
	#product-detail-wrap.product-detail-table .product-detail-infolist label,
	.product-information-box .open-set-table-trgr {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 5px 0;
		background-color: #ffffff;
		box-shadow: 0 -10px 17px 11px #ffffff;
		color: #0066cc;
		display: none;
	}
	.product-information-box .open-set-table-trgr {
		display: block;
		text-align: center;
		font-size: 13px;
	}
	#product-detail-wrap.product-detail-table #product-comment-show-pt + .product-comment label:after,
	#product-detail-wrap.product-detail-table .product-detail-infolist label:after,
	.product-information-box .open-set-table-trgr:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 6px;
		margin: 0 0 2px 5px;
		border-style: solid;
		border-color: #0066cc;
		border-width: 0 2px 2px 0;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#product-detail-wrap.product-detail-table #product-comment-show-pt + .product-comment,
	#product-detail-wrap.product-detail-table .product-detail-infolist .product-comment-txt,
	#product-detail-wrap.product-detail-table .product-detail-infolist .product-dealer-caution-txt {
		overflow: hidden;
		transition: all 0.3s ease-in;
	}
	#product-detail-wrap.product-detail-table #product-comment-show-pt + .product-comment {
		max-height: 250px;
		position: relative;
	}
	#product-detail-wrap.product-detail-table .product-detail-infolist .product-comment-txt,
	#product-detail-wrap.product-detail-table .product-detail-infolist .product-dealer-caution-txt { max-height: 120px; }
	#product-detail-wrap.product-detail-table #product-comment-show-pt:checked + .product-comment,
	#product-detail-wrap.product-detail-table .product-detail-information #product-comment-show:checked ~ dl .product-comment-txt,
	#product-detail-wrap.product-detail-table .product-detail-information #product-dealer-caution-show:checked ~ dl .product-dealer-caution-txt { max-height: 9000px; }
	#product-detail-wrap.product-detail-table #product-comment-show-pt:checked + .product-comment label,
	#product-detail-wrap.product-detail-table .product-detail-information #product-comment-show:checked ~ dl .product-comment-txt label,
	#product-detail-wrap.product-detail-table .product-detail-information #product-dealer-caution-show:checked ~ dl .product-dealer-caution-txt label { display: none!important; }
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap.fold-set-table {
		max-height: 1800px;
		overflow: hidden;
		transition: max-height 0.3s ease-in;
	}
	#open-set-table:checked ~ .info-list-wrap.fold-set-table { max-height: 90000px!important; }
	#open-set-table:checked ~ .open-set-table-trgr { display: none; }
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	#product-detail-wrap.product-detail-table .product-details { width: 100%; }
}
/* SP */
@media screen and (max-width: 670px) {
	#product-detail-wrap.product-detail-table .product-details {
		width: 96%;
		margin: 0 auto;
	}
}

#jsp-tiles-productdetail-c .product-text-box .sold-out-big {
	color: #dc4d4d;
	font-size: 180%;
}

#jsp-tiles-productdetail-c .product-text-box .appear-end-big {
	color: #666666;
	font-size: 180%;
}

#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info {
	padding-bottom: 5px;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area {
	border:1px solid #333;
	background: #333;
	color: #fff;
	display: inline-block;
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area span {
	vertical-align: baseline;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area > span {
	display: table-cell;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-rate {
	font-size: 128%;
	font-weight: bold;
	margin-left: 3px;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-date-last,
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-date-period {
	background: #fff;
	padding: 3px 7px;
	font-weight: bold;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-date-period {
	background: #fff;
	font-weight: bold;
	color: #333;
	font-size: 97%;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-date-last {
	color: #dc4d4d;
}

/* PC ----------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 941px) {
	/*** 商品名・ブランド・ジャンル周り ***/
	#jsp-tiles-productdetail-c .product-text-box .product-name {
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}
	#jsp-tiles-productdetail-c .product-text-box .brand-genre tr td:first-child {
		width: 8em;
	}
	#jsp-tiles-productdetail-c .product-text-box .brand-genre {
		padding-top: 5px;
	}
	#jsp-tiles-productdetail-c .product-text-box .product-name-wrap {
		padding: 0 0 20px 0;
	}
	#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info {
		padding-bottom: 10px;
	}
}	
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
/*** 商品情報表 ***/
#product-detail-wrap.product-detail-table .product-detail-infolist { border-top: 1px #cccccc solid; margin-top: 30px;}
}
/* SP */
@media screen and (max-width: 670px) {
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap {
	padding: 0 10px 5px;
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area {
	border:1px solid #333;
	background: #333;
	color: #fff;
	padding: 0 0 0 5px;
	margin-bottom: 5px;
	display: inline-block;
	}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .cp-info-area .cp-rate{
	font-weight: bold;
}
}
#jsp-tiles-productdetail-c .product-text-box .product-name-wrap .campaign-info .discount-info .date .today {
	background-color: #dc4d4d;
	border: solid 1px #dc4d4d;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	margin-top: -1px;
	padding: 1px 10px;
}

#jsp-tiles-productdetail-c .product-information-box {
	position:relative;
	width:100%;
	margin-bottom: 10px;
}

#jsp-tiles-productdetail-c .product-information-box .info-list-wrap tr td:not(.co-ts-only) {
	word-break: break-all;
	white-space: normal;
}

#jsp-tiles-productdetail-c .product-information-box .back-color {
	background-color: #eeeeee;
	font-weight:normal;
	padding:5px;
	vertical-align:top;
}

#jsp-tiles-productdetail-c .product-information-box .td-jan {
	word-break: break-all;
}

#jsp-tiles-productdetail-c .product-information-box .set-list {
	border-collapse: collapse;
	width: 100%;
}
#jsp-tiles-productdetail-c .product-information-box .set-list input {
	width: 100%;
}

#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-error01 {
	padding: 0 0 0 17px;
	background: url('../img/icon/error.gif') no-repeat scroll left 5% transparent;
	color:#dc4d4d;
	text-align: left;
}

#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-error02 {
	background: url('../img/icon/error.gif') no-repeat scroll left 50% transparent;
	padding-left:17px;
	color:#dc4d4d;
}

#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-error02 span {
	font-size:11px;
}

#jsp-tiles-productdetail-c .float-left {
	float: left;
}

#jsp-tiles-productdetail-c .float-right {
	float: right;
}

#jsp-tiles-productdetail-c .ts-webexp{
	background: #d09b55;
	color: #ffffff;
	padding: 4px 10px;
	text-align: center;
	font-size: 14px;
}

#jsp-tiles-productdetail-c a:link .ts-webexp{
	color: #ffffff;
}

#jsp-tiles-productdetail-c a:visited .ts-webexp{
	color: #ffffff;
}

#jsp-tiles-productdetail-c  a:hover .ts-webexp{
	text-decoration: underline;
	color: #ffffff;
}

#jsp-tiles-productdetail-c .product-name-wrap {
	height: auto;
	padding-bottom: 5px;
}
/* ranking */
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] {
	margin-bottom: 20px;
}
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] .rank-title {
	font-size: 11px;
	font-weight: normal;
}
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a {
	display: inline-block;
	height: 40px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.3;
	padding: 2px 28px 2px 62px;
	margin-top: 10px;
	position: relative;
}
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a:hover {
	opacity: 0.8;
}
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a:before {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 47px;
	height: 43px;
	font-size: 22px;
	font-family: 'arial';
	font-weight: normal;
	padding-right: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a:after {
	content: "";
	display: block;
	border-right: 15px solid #ffffff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	top: 0;
	right: 0;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-01 a {
	background-color: #ffbb33;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-01 a:before {
	content: "1";
	background: #ffffff url('../img/ranking/domestic/icon_gold.png') no-repeat left;
	background-size: contain;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-02 a {
	background-color: #a6b5ba;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-02 a:before {
	content: "2";
	background: #ffffff url('../img/ranking/domestic/icon_silver.png') no-repeat left;
	background-size: contain;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-03 a {
	background-color: #e39a7d;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-03 a:before {
	content: "3";
	background: #ffffff url('../img/ranking/domestic/icon_bronze.png') no-repeat left;
	background-size: contain;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-04-10 a {
	background-color: #76bdf5;
	padding: 2px 28px 2px 46px;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-04-10 a:before {
	width: 35px;
	height: 40px;
	background-color: #76bdf5;
	align-items: center;
	padding: 0;
	border-right: 3px solid #ffffff;
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-04 a:before {
	content: "4";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-05 a:before {
	content: "5";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-06 a:before {
	content: "6";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-07 a:before {
	content: "7";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-08 a:before {
	content: "8";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-09 a:before {
	content: "9";
}
#jsp-tiles-productdetail-c .product-name-wrap .ranking-10 a:before {
	content: "10";
}
#jsp-tiles-productdetail-c .product-text-box .product-name {
	font-size: 120%;
}
#jsp-tiles-productdetail-c .product-text-box .area {
	margin:3px 0 0 0;
}

#jsp-tiles-productdetail-c .product-text-box .open-price {
	padding:5px 0 2px 0;
}

#jsp-tiles-productdetail-c .product-text-box .price {
	color: #dc4d4d;

}

#jsp-tiles-productdetail-c .product-text-box .bold {
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-text-box .price-text {
	font-size: 120%;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-text-box .price-large {
	font-size: large;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-text-box .point {
	margin: 5px 0;
	font-weight: bold;
	font-size: 120%;
	color: #333333;
}

#jsp-tiles-productdetail-c .product-text-box .sold-out {
	font-weight: bold;
	color:#dc4d4d;
	padding:5px 0 0 0;
}

#jsp-tiles-productdetail-c .product-text-box .product-detail-information td {
	padding:5px 10px;
}

#jsp-tiles-productdetail-c .product-setinfo-wrap .h-td {
	text-align: center;
	white-space: nowrap;
	background-color: #EEEEEE;
	width: 80px;
}

#jsp-tiles-productdetail-c .product-details-font {
	font-size: x-small;
}

#jsp-tiles-productdetail-c .msgbox {
	margin-top:10px;
}

#jsp-tiles-productdetail-c .add-wishlist {
	margin:5px 0px 10px 0px;
}

#jsp-tiles-productdetail-c .cart {
	margin: 3px;
}

#jsp-tiles-productdetail-c .product-set-table-wrap {
	margin: 20px 0 20px;
	padding: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
}

#jsp-tiles-productdetail-c .product-set-table {
	margin: 0;
	width: 100%;
}

#jsp-tiles-productdetail-c .product-set-table th {/*全体のth設定*/
	background-color: #EEEEEE;
	border-width:1px;
	border-color:#999999;
}

#jsp-tiles-productdetail-c .product-set-table .th1 {
	text-align: center;
	border-style: solid solid solid none;
	width:10%;
}

#jsp-tiles-productdetail-c .product-set-table .th2 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-table .th3 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-table .th4 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table .th5 {
	text-align: center;
	border-style: solid solid solid none;
	width: 5%;
}

#jsp-tiles-productdetail-c .product-set-table .th6 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table .th7 {
	text-align: center;
	border-style: solid none solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-table .th8 {
	text-align: center;
	border-style: none solid solid none;
	width:37%;
}

#jsp-tiles-productdetail-c .product-set-table .th9 {
	text-align: center;
	border-style: none solid solid none;
	width:8%;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table td {/*全体のtd設定*/
	background-color: #FFFFFF;
	border-color: #999999;
	border-width: 1px;
}

#jsp-tiles-productdetail-c .product-set-table .td1 {
	text-align: left;
	border-style: none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-table .td2 {
	text-align: left;
	border-style: none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-table .td3 {
	text-align: right;
	border-style: none solid solid none;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table .td4 {
	text-align: right;
	border-style: none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-table .td5 {
	white-space: nowrap;
	border-style: none solid solid none;
	color: #dc4d4d;
}

#jsp-tiles-productdetail-c .product-set-table .td5 .trading {
	text-align: right;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table .td6 {
	text-align: right;
	border-style: none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-table .td7 {
	text-align: right;
	border-style: none solid solid none;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-table .td8 {
	text-align: right;
	border-style: none none solid none;
}

#jsp-tiles-productdetail-c .product-set-table .td9 {
	text-align: center;
	border-style: none none solid none;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .product-set-pretable th {/*全体のth設定*/
	background-color: #EEEEEE;
	border-width:1px;
	border-color:#999999;
}

#jsp-tiles-productdetail-c .product-set-pretable .th1 {
	text-align: center;
	border-style: solid solid solid none;
}

#jsp-tiles-productdetail-c .product-set-pretable .th2 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-pretable .th3 {
	text-align: center;
	border-style: solid solid solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-pretable .th4 {
	text-align: center;
	border-style: solid none solid none;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-pretable .th5 {
	text-align: center;
	border-style: solid none solid solid;
	width: 10%;
}

#jsp-tiles-productdetail-c .product-set-pretable .th6 {
	text-align: center;
	border-style: none solid solid none;
	width: 37%;
}

#jsp-tiles-productdetail-c .product-set-pretable .th7 {
	text-align: center;
	border-style: none solid solid none;
	width: 8%;
}

#jsp-tiles-productdetail-c .product-set-pretable td {/*全体のtd設定*/
	background-color: #FFFFFF;
	border-color: #999999;
	border-width: 1px;
}

#jsp-tiles-productdetail-c .product-set-pretable .td1 {
	text-align: left;
	border-style:none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-pretable .td2 {
	text-align: left;
	border-style:none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-pretable .td3 {
	text-align: right;
	border-style:none solid solid none;
	color: #dc4d4d;
}

#jsp-tiles-productdetail-c .product-set-pretable .td4 {
	text-align: right;
	border-style:none solid solid none;
}

#jsp-tiles-productdetail-c .product-set-pretable .td5 {
	text-align: center;
	border-style:none none solid none;
}

#jsp-tiles-productdetail-c .product-set-pretable .td6 {
	white-space: nowrap;
	border-style:none none solid solid;
}

#productDeatilImage {
	top:4%;
	position:absolute;
	z-index: 100003;
}
#modalDialogMask { z-index: 100002; }

#jsp-tiles-productdetail-c .product-salesdata-box .area {
	margin-top: 30px;
	width: 500px;
}

#jsp-tiles-productdetail-c .product-salesdata-box .state-disabled {
	color:#999999;
	background:#eeeeee;
	border:1px #cccccc solid;
}

#jsp-tiles-productdetail-c .product-salesdata-box .tab {
	background-image:url(../img/jsp/tab_numstores_bg.gif);
	margin-top: 20px;
}

#jsp-tiles-productdetail-c .product-salesdata-box .loading {
	width: 387px;
	height:200px;
	border: solid 1px #CCCCCC;
	margin: 30px 0 0 50px;
	text-align: center;
	position:relative;
}

#jsp-tiles-productdetail-c .product-salesdata-box .loading .img {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-10px;
	margin-top:-10px;
}

#jsp-tiles-productdetail-c .product-salesdata-box .comment {
	font-size:77% !important;
	text-align: center;
	margin-top: 10px;
}

/* 在庫限り */
#jsp-tiles-productdetail-c .stock-icon {
	line-height: 0;
	margin-bottom: 3px;
	vertical-align: bottom;
}

/* 海外出荷可 */
#jsp-tiles-productdetail-c .icon-intl {
	line-height: 0;
	margin-bottom: 3px;
	vertical-align: bottom;
}

/* インフォメーション */
#jsp-tiles-productdetail-c .wholesale-notice-area {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #FFF5E0;
	color: #333333;
	padding: 10px 0 10px 10px;
	margin-top: 10px;
}

/* 装飾タグ打ち消し */
.product-detail-information font,
.product-detail-information basefont,
.product-detail-information b,
.product-detail-information span,
.product-detail-information div,
#product_comment font,
#product_comment basefont,
#product_comment b,
#product_comment span,
#product_comment div {
	color: inherit!important;
	font-weight: normal!important;
	font-size: inherit!important;
	line-height: inherit!important;
	font-family: inherit!important;
	word-break: break-all!important;
	word-wrap: break-word!important;
	/* Standard browsers */
	color: expression(this.parentNode.currentStyle['color']);
	/* IE */
	font: inherit;
	/* Standard browsers. Font instead of font-size for Opera */
	font-family: expression(this.parentNode.currentStyle['fontFamily']);
	/* IE */
	font-size: 100%;
	/* All browsers. Sizes are inherited */
}
.product-detail-information .detail-wrap div,
.product-detail-information .detail-wrap p {
	background: inherit!important;
}

#product-detail-wrap.product-detail-table .product-detail-tr { display: table-row; }
#product-detail-wrap.product-detail-table .product-detail-tr .product-detail-td {
	display: table-cell;
	vertical-align: top;
}
/*** 商品詳細：ブランド名/ジャンル ***/
.product-detail-genre { display: table; }
.product-detail-genre dl { display: table-row; }
.product-detail-genre dt:after {
	content: ':';
	float: right;
	padding-right: 5px;
}
.product-detail-genre dt,.product-detail-genre dd {
	display: table-cell;
	vertical-align: top;
}
.product-detail-genre dt { width: 7em; }
.product-detail-genre dd a { display: inline-block; }

#jsp-tiles-productdetail-c .purchase-count {
	vertical-align: middle;
	text-align: center;
}

#jsp-tiles-productdetail-c .purchase-count>div:first-of-type {
	display: table;
}
#jsp-tiles-productdetail-c .purchase-count>div:first-of-type>div {
	display: table-cell;
	text-align: center;
	margin: 0;
	vertical-align: middle;
}
#jsp-tiles-productdetail-c .purchase-count>div:first-of-type>div:not(.quantity-button) { width: 40%; }
#jsp-tiles-productdetail-c .purchase-count .quantity-button { width: 30%; }
#jsp-tiles-productdetail-c .purchase-count input {
	border: #dadada solid 1px;
	width: 100%;
	height: 26px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	border-radius: 0;
}
#jsp-tiles-productdetail-c .purchase-count .quantity-button a {
	height: 26px;
	display: inline-block;
	width: 100%;
	background: #eeeeee; /* Old browsers用 */
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
	border: #dadada solid 1px;
	border-width: 1px 0 1px 1px;
	text-align: center;
	font-weight: bold;
	border-radius: 5px 0 0 5px;
	padding: 3px;
	min-width: 25px;
}
#jsp-tiles-productdetail-c .purchase-count .quantity-button:last-child a {
	border-width:1px 1px 1px 0;
	border-radius: 0 5px 5px 0;
}
#jsp-tiles-productdetail-c .purchase-count .quantity-button a img {
	height: 10px;
	width: 10px;
}
#jsp-tiles-productdetail-c .product-information-box .product-num-alert {
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-productdetail-c .prodact-detail-action-box .whole-sale-text {
	color: #dc4d4d;
	font-weight: bold;
}
#jsp-tiles-productdetail-c .product-text-box .fo-error-exclamation {
	background: url("../img/icon/error.gif") no-repeat scroll left 50% transparent;
	color: #dc4d4d;
	font-weight: bold;
	margin-left: 5px;
	padding-left: 16px;
}

#jsp-tiles-productdetail-c .product-information-box .td-quantities .errors p{
	display: inline-block;
	margin: 5px auto;
	text-align: left;
	background-position: left 0.2em;
}

/* PC ----------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 941px) {
	/*** セット表 ***/
#jsp-tiles-productdetail-c .product-information-box .info-list-wrap {
	border: 1px solid #CCCCCC;
}

	#jsp-tiles-productdetail-c .product-information-box .border-r {
		border-right: 1px solid #cccccc;
	}

	#jsp-tiles-productdetail-c .product-information-box .border-rt {
		border-right: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
	}

	#jsp-tiles-productdetail-c .product-information-box .border-t {
		border-top: 1px solid #cccccc;
	}

	#jsp-tiles-productdetail-c .product-information-box .border-b {
		/*border-bottom: 1px solid #cccccc;*/
	}
	
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail,
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail + td {
		padding: 5px;
	}

	#jsp-tiles-productdetail-c .product-information-box .maker-product-price {
		border-top: 1px solid #cccccc;
		min-width: 3em;
		padding: 5px;
	}
	
	#jsp-tiles-productdetail-c .product-information-box:not(.pre-set):not(.not-trading) .maker-product-price {
		border-right: 1px dotted #cccccc;
		padding: 5px 5px 0;
	}

	#jsp-tiles-productdetail-c .product-information-box .product-num-alert-stock {
		color: #dc4d4d;
	}

	#jsp-tiles-productdetail-c .product-information-box .errors td {
		text-align: right;
		padding:5px;
		border-top:#CCCCCC solid 1px;
		border-right:#CCCCCC solid 1px;
	}

	#jsp-tiles-productdetail-c .product-information-box .maker-wholesale-price {
		border-right: 1px dotted #cccccc;
		padding: 0 5px 5px;
	}

	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap tr td.maker-wholesale-set-price {
		border-right: 1px solid #cccccc;
		border-top: 1px dotted #cccccc;
		font-size: 15px;
		font-weight: bold;
		text-align: right;
		padding: 5px;
		word-break: normal;
	}

	#jsp-tiles-productdetail-c .product-information-box .td-price01,
	#jsp-tiles-productdetail-c .product-information-box .td-price02 {
		text-align: right;
		padding: 5px;
		word-break: break-all;
		min-width: 3em;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .td-price02 {
		padding: 5px;
	}

	#jsp-tiles-productdetail-c .product-information-box .maker-wholesale-set-price-last {
		border-right: 1px solid #cccccc;
		border-top: 1px dotted #cccccc;
		color: #dc4d4d;
		font-weight: bold;
	}

	#jsp-tiles-productdetail-c .product-information-box .maker-product-price .float-right.co-fs11{ font-size: 100%!important;}
	
	#jsp-tiles-productdetail-c .product-information-box .cmp-price {
		font-weight: bold;
		line-height: 1;
		margin: 3px 0 0;
		color: #dc4d4d;
	}

	#jsp-tiles-productdetail-c .product-information-box .set-num {
		border-right: 1px dotted #cccccc;
		border-top: 1px dotted #cccccc;
		font-weight: bold;
		padding: 5px;
		text-align: right;
	}

	#jsp-tiles-productdetail-c .product-information-box .set-num span {
		white-space:nowrap;
	}

	#jsp-tiles-productdetail-c .product-information-box .set-num-last {
		border-right: 1px dotted #cccccc;
		border-top: 1px dotted #cccccc;
		font-weight: bold;
		padding: 5px;
		text-align: right;
	}

	#jsp-tiles-productdetail-c .product-information-box .alert {
		border-top: 1px solid #CCCCCC;
		padding: 5px;
		text-align: right;
	}
	#jsp-tiles-productdetail-c .purchase-count > span {
		margin-top: 5px;
		display: inline-block;
	}

	#jsp-tiles-productdetail-c .product-information-box .td-quantities{
		padding-right: 10px;
		padding-left: 10px;
	}
	#jsp-tiles-productdetail-c .product-information-box .td-quantities > div:not(.errors){
		width: 85px;
		margin: 0 auto;
		text-align: center;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .td-quantities .errors p{
		max-width: 250px;
	}

	#jsp-tiles-productdetail-c .product-information-box .num-stores {
		font-size:93%;
		text-align: right;
		border-top: 1px dotted #cccccc;
		border-right: 1px solid #cccccc;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box {
		text-align: right;
		margin-bottom: 8px;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-button {
		display: inline-block;
		vertical-align: middle;
		text-align:center;
		margin-left:10px;
		height:3.2em;
	}
	#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-button [class^='loadingImage'] { min-width: 158px!important; }
	#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-button [class^='loadingImage'] img { margin-top: 12px!important; }

	#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-button .add-cart-item {
		cursor:pointer;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .wishlist-button {
		float:right;
		width:129px;
		text-align:center;
		height:3em;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box loading-img {
		text-align:center;
		margin:10px auto;
		width:118px;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box loadingImage {
		text-align:center;
		margin:10px auto;
		width:118px;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .apply-button a {
		background: url(../img/common/button/wholesale_price_apply.gif) no-repeat 50% 0;
		width: 116px;
		height: 23px;
		display: inline-block;
		overflow: hidden;
		cursor: pointer;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .apply-button a:hover {
		background: url(../img/common/button/wholesale_price_apply.gif) no-repeat 50% -23px;
		width: 116px;
		height: 23px;
		display: inline-block;
		overflow: hidden;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .apply-button a span {
		text-indent: 100%;
		display: block;
		overflow: hidden;
		white-space: nowrap;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .text-underline {
		text-decoration: underline;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .add-cart {
		text-align: center;
	}

	#jsp-tiles-productdetail-c .prodact-detail-action-box .add-cart a {
		color:#0066cc;
		font-weight:bold;
	}
	#jsp-tiles-productdetail-c .product-text-box .ts-td-col02{
		text-align: center;
		vertical-align: middle;
		min-width: 0;
		height: 100%;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .set-list tr td.stock-info{
		white-space: nowrap;
		padding: 5px;
	}
	
	#jsp-tiles-productdetail-c .prodact-detail-action-box{
		text-align:right;
	}
	#jsp-tiles-productdetail-c .prodact-detail-action-box + .co-mt15,
	#jsp-tiles-productdetail-c .product-information-box .alert-added{
		min-width: 4em;
	}
	
}
/* TAB/SP ----------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 940px) {
	/*** 商品名・ブランド・ジャンル周り ***/
	

	/*** セット表 ***/
	#jsp-tiles-productdetail-c .product-information-box .set-list {
		table-layout: fixed;
	}
	#jsp-tiles-productdetail-c .product-text-box .set-list tr td {
		display: block;
	}
	#jsp-tiles-productdetail-c .product-information-box .ts-tr02 {
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	}
	#jsp-tiles-productdetail-c .product-information-box .set-list .ts-tr02:nth-of-type(2) {
	margin-top: 5px;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail{
		border-top: 1px solid #dadada;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail > div {
		border-bottom: 1px solid #dadada;
	}
#jsp-tiles-productdetail-c .product-information-box .td-jan {
	font-size: 75%;
}
	#jsp-tiles-productdetail-c .product-text-box .ts-td-col01 {
		padding: 10px;
		height: 100%;
		flex-grow: 2;
	}
	#jsp-tiles-productdetail-c .product-text-box .ts-td-col02{
		float: right;
		margin: 10px auto;
		text-align:right;
		min-width: 100px;
		padding-right: 10px;
		flex-grow: 1;
	}
	#jsp-tiles-productdetail-c .product-information-box .set-num {
		word-break: break-all;
	}
	#jsp-tiles-productdetail-c .product-information-box .set-num span {
		vertical-align: top;
	}
	#jsp-tiles-productdetail-c .product-information-box .co-ts-only .set-num span:first-child {
		vertical-align: middle;
	}
	#jsp-tiles-productdetail-c .product-information-box .co-ts-only .set-num > span:first-child {
		font-size: 80%;
		margin-top: 5px;
		display: inline-block;
	}
	#jsp-tiles-productdetail-c .product-information-box .set-num span .list-price {
		display: block;
		margin: 0;
		text-align: right;
	}
	
	#jsp-tiles-productdetail-c .product-text-box .co-ts-only .ts-price-wrap {
		background: #f6f6f6;
		color:#666666;
		font-size: 70%;
		padding: 5px 8px;
		margin: 5px 0 0;
	}
	
	#jsp-tiles-productdetail-c .product-text-box .co-ts-only .ts-price-wrap tr td {
		vertical-align: top;
		display: table-cell;
	}
	#jsp-tiles-productdetail-c .product-text-box .co-ts-only .ts-price-wrap tr td:first-child {
		min-width: 5em;
	}
	
	#jsp-tiles-productdetail-c .product-information-box.pre-set .maker-product-price,
	#jsp-tiles-productdetail-c .product-information-box.not-trading .maker-product-price{
		padding: 10px 10px 0;
		width: 100%;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .co-ts-only .maker-wholesale-set-price,
	#jsp-tiles-productdetail-c .product-information-box.pre-set .maker-product-price .float-right,
	#jsp-tiles-productdetail-c .product-information-box.not-trading .maker-product-price .float-right{
		font-size: 110%;
		font-weight: bold;
		white-space: nowrap;
		display: inline-block;
	}
	
	#jsp-tiles-productdetail-c .product-information-box.pre-set .maker-product-price .float-right .co-ts-only,
	#jsp-tiles-productdetail-c .product-information-box.not-trading .maker-product-price .float-right .co-ts-only{
		font-size: 15px;
		font-weight: normal;
	}
	
	
	#jsp-tiles-productdetail-c .product-information-box.pre-set .maker-product-price .float-left,
	#jsp-tiles-productdetail-c .product-information-box.not-trading .maker-product-price .float-left {
		font-size: 14px;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .product-num-alert-stock {
		color: #dc4d4d;
		display: block;
		text-align: right;
		font-size: 85%;
		margin-right: 23px;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .stock-info{
		padding: 5px 10px 10px;
		width: 100%;
		text-align: right;
	}
	#jsp-tiles-productdetail-c .purchase-count {
		margin: 0 auto;
		position: relative;
		bottom: 50%;
		text-align: right;
	}

	#jsp-tiles-productdetail-c .purchase-count>div:first-of-type {
		display: inline-table;
	}
	#jsp-tiles-productdetail-c .purchase-count>div:first-of-type>div {width: auto;}
	#jsp-tiles-productdetail-c .purchase-count>div:first-of-type>div:not(.quantity-button) {
		width: 45px;
	}
	#jsp-tiles-productdetail-c .purchase-count input {
		border: #dadada solid 1px;
		height: 40px;
		font-size: 108%;
		padding: 3px 2px;
	}
	#jsp-tiles-productdetail-c .purchase-count .quantity-button a {
		height: 40px;
		width: 39px;
		padding: 9px 3px;
	}
	#jsp-tiles-productdetail-c .purchase-count .quantity-button a img {
		height: 12px;
		width: 12px;
	}
	#jsp-tiles-productdetail-c .product-information-box .td-quantities .errors p{
		max-width: 100%;
		margin-left: 10px;
	}
	
	#jsp-tiles-productdetail-c .product-information-box .add-alertSet-action ,
	#jsp-tiles-productdetail-c .product-information-box .add-alert-action ,
	#jsp-tiles-productdetail-c .product-information-box .alert-added{
		font-size: 73%;
	}
	
	
	#jsp-tiles-productdetail-c .product-information-box{
		font-size: 125%;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap {
		border-bottom: 0px;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail {
		padding: 10px 10px 0;
		flex-basis: 100%;
		flex-shrink: 1;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .td-set-detail > div {
		padding-bottom: 8px;
	}

	#jsp-tiles-productdetail-c .product-information-box .ts-arrival {
		margin-right: 1em;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .tr-last {
		width: 100%;
		display: block;
		clear: both;
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
		text-align: center;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .tr-last table {
		margin: 0 auto;
	}
	#jsp-tiles-productdetail-c .product-information-box .info-list-wrap .tr-last td {
		text-align: left;
		width: 100%;
		border-collapse: collapse;
		padding: 5px 10px 3px;
		color: #8f8f8f;
		font-size: 73%;
		display: inline-block;
	}
	
	#jsp-tiles-productdetail-c .prodact-detail-action-box{
		text-align:right;
		margin-right: 10px;
	}
	
	#jsp-tiles-productdetail-c .prodact-detail-action-box .co-btn-wht{
		margin-top: 5px;
	}
	/* ranking */
	#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] {
		min-width: 256px;
	}
	#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a {
		height: 37px;
		font-size: 13px;
		padding: 2px 25px 1px 57px;
	}
	#jsp-tiles-productdetail-c .product-name-wrap .ranking-04-10 a {
		padding: 2px 25px 1px 41px;
	}
	#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a:before {
		width: 44px;
		height: 40px;
		line-height: 1.4;
		font-size: 20px;
	}
	#jsp-tiles-productdetail-c .product-name-wrap .ranking-04-10 a:before {
		width: 32px;
		height: 37px;
	}
	#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a:after {
		border-top: 18.5px solid transparent;
		border-bottom: 18.5px solid transparent;
	}
}


/* SP ----------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 670px) {
	/*** 商品名・ブランド・ジャンル周り ***/
	#jsp-tiles-productdetail-c .ts-webexp{
		margin-top: 10px;
	}
	/* 在庫限り */
	#jsp-tiles-productdetail-c .stock-icon {
		margin-left: 10px;
	}
	
	/*** セット表 ***/
	#jsp-tiles-productdetail-c .product-information-box {
		margin: 0 10px 10px;
		width: calc(100% - 20px)
	}
	/* ranking */
	#jsp-tiles-productdetail-c .product-name-wrap [class^=ranking] a {
		font-size: 13px;
	}
}

/* set-table下 */
	#jsp-tiles-productdetail-c .prodact-detail-action-box .cart-button {
		display: inline-block;
		vertical-align: middle;
		text-align:center;
		margin-left:10px;
		height:3.2em;
	}
/* Web展内覧会 */
#webexpo-viewlink {
	display: table;
	width: 35em;
	border: 1px #cccccc solid;
	font-size: 12px;
}
#webexpo-viewlink .wx-row { display: table-row; }
#webexpo-viewlink .wx-viewlink-cap,
#webexpo-viewlink .wx-viewlink-txt {
	display: table-cell;
	vertical-align: middle;
}
#webexpo-viewlink .wx-viewlink-cap {
	width: 5em;
	background-color: #dbe8f8;
	font-weight: bold;
	text-align: center;
}
#webexpo-viewlink .wx-viewlink-txt { padding: 7px 10px; }
#webexpo-viewlink .wx-viewlink-txt p.wx-viewlink { margin: 3px 0 0; }


/* 商品詳細「このジャンルのほかの商品」「この商品に関連する検索ワード」 */
#jsp-tiles-productdetail-c .product-word-link {
	text-align: left;
	margin: 0 auto;
	width: 96%;
	margin: 0 auto 25px;
}
#jsp-tiles-productdetail-c .product-other-link {
	text-align: left;
	margin: 0 auto 35px;
	width: 96%;
}
#product-word,
#product-other {
	width: 70%;
	font-size: 75%;
	color: #666666;
	padding: 0;
	text-align: left;
}
#product-word p,
#product-other p {
	margin: 0 0 5px 0;
	padding: 2px 0 2px 7px;
	border-left: 5px solid #cccccc;
}
#product-word ul,
#product-other ul {
	margin: 0;
	padding: 0 0 0 5px;
}
#product-word li,
#product-other li {
	list-style: none;
	margin-bottom: 2px;
}
#product-word li {
	float: left;
	margin-right: 10px;
}
/* TAB/SP */
@media screen and (max-width: 940px) {
	#product-word,
	#product-other { width: 100%; }
}

/* SDSプレセール　商品詳細ページからの導線 */
#sds-presale-banner {
	height: 54px;
	margin-bottom: 10px;
}
#sds-presale-banner a {
	position: relative;
}
#sds-presale-banner img {
	position: absolute;
	left: -10px;
}

/************************* 商品画像拡大モーダル *************************/
#pdeatil-image-modal {
	position: fixed;
	left: 0!important;
	top: 4%;
	width: 100%;
	z-index: 100003;
	display: none;
}
#pdeatil-image-modal * { box-sizing: border-box; }
#pdeatil-image-modal .co-tooltip-text {
	background-color: #ffffff;
	border-radius: 5px;
	border-color: #bbbbbb;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	box-shadow: 1px 1px 3px 0 #bbbbbb;
	padding: 1px;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
#pdeatil-image-modal .detail-modal-wrap {
	text-align: center;
	padding: 25px 0;
	position: relative;
}
/* ×ボタン */
#pdeatil-image-modal .co-tooltip-cancel {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 5;
	width: 1.6em;
	height: 1.6em;
	padding: 1px 2px 2px;
}
/*** 拡大画像 ***/
#pdeatil-image-modal .detail-modal-image-wrap {
	display: inline-block;
	vertical-align: top;
	width: 420px;
	margin-right: 20px;
	position: relative;
}
#pdeatil-image-modal .detail-modal-large-box {
	display: block;
	vertical-align: middle;
	width: 420px;
	height: 420px;
	border: 1px #cccccc solid;
	overflow: hidden;
	position: relative;
}
#pdeatil-image-modal .detail-modal-large-box img {
	width: auto;
	height: auto;
	position: relative;
}
#pdeatil-image-modal .detail-modal-large-box .defaultImage {
	width: auto;
	height: 100%;
	border-width: 0px;
	margin: auto;
	top: 0;
	bottom: 0;
	position: absolute;
}
#pdeatil-image-modal .detail-modal-large-box .zoomImg { display: none; }
#pdeatil-image-modal .detail-modal-large-box .defaultImage:hover { cursor: url('../js/product/zoom/img/click_1.cur'),pointer; }
#pdeatil-image-modal .detail-modal-large-box .zoomImg:hover { cursor: url('../js/product/zoom/img/click_2.cur'),pointer; }
#pdeatil-image-modal .detail-modal-large-box .zoom {
	width: 100%;
	display: none;
}
#pdeatil-image-modal .modal-image-clear {
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../img/mark/clear.gif');
}
#pdeatil-image-modal .detail-modal-large-box .modal-image-clear { display: none; }
/*** 画像送り ***/
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next {
	cursor: default;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	z-index: 5;
	display: block;
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev span,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next span {
	height: 200px;
	width: 20px;
	border: 1px #dddddd solid;
	font-size: 0;
	background-color: #f8f8f8;
	display: block;
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev { left: 0; }
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next { right: 0; }
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev span:before,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next span:before {
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	border-top: 2px #dddddd solid;
	border-right: 2px #dddddd solid;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -6px;
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev span:before {
	margin-left: -4px;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next span:before {
	margin-left: -9px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* 有効なとき */
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev.detail-navi-active span,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next.detail-navi-active span {
	border: 1px #888888 solid;
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev.detail-navi-active span:before,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next.detail-navi-active span:before {
	border-top: 2px #ffffff solid;
	border-right: 2px #ffffff solid;
}
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev.detail-navi-active:hover span,
#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next.detail-navi-active:hover span { background-color: rgba(110,110,110,0.7); }

/*** サムネイル ***/
#pdeatil-image-modal .detail-modal-thum-wrap,
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum-box {
	display: inline-block;
	vertical-align: top;
}
#pdeatil-image-modal .detail-modal-thum-wrap {
	width: 180px;
	margin-top: -5px;
	line-height: 0;
	text-align: left;
	position: relative;
	z-index: 2;
}
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum-box { margin: 5px; }
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum-box.modal-thum-on,
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum-box.modal-thum-on .detail-modal-thum { border-color: #dc4d4d; }
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 65px;
	height: 65px;
	border: 1px #cccccc solid;
	position: relative;
}
#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum img {
	display: inline-block;
	max-width: 63px;
	max-height: 63px;
	width: auto;
	height: auto;
	border: 0;
}
/* 画像転載不可の文言 */
#pdeatil-image-modal .detail-image-noprint {
	color: #dc4d4d;
	margin-top: 3px;
	line-height: 1.4;
	padding-left: 130px;
}
/* TAB/SP */
@media screen and (max-width: 940px) {
	#pdeatil-image-modal,
	#pdeatil-image-modal * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
	#pdeatil-image-modal {
		height: 100%;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}
	#pdeatil-image-modal .co-tooltip-text {
		min-height: 100%;
		width: 100%;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}
	#pdeatil-image-modal .detail-modal-wrap {
		height: 100%;
		padding: 0;
	}
	/* ×ボタン */
	#pdeatil-image-modal .co-tooltip-cancel {
		background-color: transparent;
		color: transparent;
		font-size: 15px;
		width: 65px;
		height: 55px;
		top: 0;
		right: 0;
	}
	#pdeatil-image-modal .co-tooltip-cancel:before,
	#pdeatil-image-modal .co-tooltip-cancel:after {
		content: '';
		display: block;
		position: absolute;
		top: 28px;
		right: 20px;
		width: 30px;
		height: 0.2em;
		background-color: #666666;
		border-radius: 2px;
		-ms-transform-origin: 50% 0.1em 0;
		-webkit-transform-origin: 50% 0.1em 0;
		transform-origin: 50% 0.1em 0;
	}
	#pdeatil-image-modal .co-tooltip-cancel:before { transform: rotate(45deg); }
	#pdeatil-image-modal .co-tooltip-cancel:after { transform: rotate(-45deg); }
	
	/*** 拡大画像 ***/
	#pdeatil-image-modal .detail-modal-image-wrap {
		width: 100%;
		margin: 0 auto;
		padding: 5px 0 15px;
	}
	#pdeatil-image-modal .detail-modal-large-box {
		width: 100%;
		height: 100vw;
		max-height: 500px;
		border-width: 0;
		margin: 50px auto 20px;
	}
	/* 画像送り */
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev,
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next {
		width: 60px;
		top: calc(50% - 115px);
		padding: 90px 10px;
		margin-top: 0;
		top: calc(50% - 115px);
	}
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev span,
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next span {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 0!important;
	}
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-prev { left: 0; }
	#pdeatil-image-modal .detail-modal-image-wrap .detail-modal-next { right: 0; }
	/*** サムネイル ***/
	#pdeatil-image-modal .detail-modal-thum-wrap {
		text-align: left;
		margin: 0;
	}
	#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum-box {
		width: 20%;
		margin: 0;
		padding: 0 6px 15px;
	}
	/* 画像転載不可の文言 */
	#pdeatil-image-modal .detail-image-noprint { padding: 0 10px; text-align: right; }
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	/*** サムネイル ***/
	#pdeatil-image-modal .detail-modal-thum-wrap { width: 560px; }
	#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum {
		width: 100px;
		height: 100px;
	}
	#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum img {
		max-width: 98px;
		max-height: 98px;
	}
}
/* SP */
@media screen and (max-width: 670px) {
	/*** サムネイル ***/
	#pdeatil-image-modal .detail-modal-thum-wrap { width: 100%; }
	#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum {
		width: calc(20vw - 14px);
		height: calc(20vw - 14px);
	}
	#pdeatil-image-modal .detail-modal-thum-wrap .detail-modal-thum img {
		max-width: calc(20vw - 16px);
		max-height: calc(20vw - 16px);
	}
}

/************************* その他 *************************/
/*** 企業問い合わせリンク ***/
#jsp-tiles-productdetail-c .product-text-box .question-box {
	border: 1px solid #cccccc;
	padding: 10px 0 10px 12px;
	margin: 10px 0 15px 0;
	text-align: left;
}
/* TAB/SP用ジャンル一覧 */
#co-bottom-genre-wrap { margin-top: -20px; }
/* TAB/SP */
@media screen and (max-width: 940px) {
	/*** 下部の企業情報モーダルボタン ***/
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap { border: 1px #cccccc solid; }
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap p {
		margin-bottom: 5px;
		font-weight: bold;
	}
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap .dealer-info-list li { display: inline-block; }
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap .dealer-info-list .dl-infobtn-mdl {
		padding: 3px 10px 1px;
		background-image: none;
	}
}
/* TAB */
@media screen and (min-width: 671px) and (max-width: 940px) {
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap { padding: 12px 15px 15px; }
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap p { font-size: 15px; }
}
/* SP */
@media screen and (max-width: 670px) {
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap {
		padding: 10px 10px 12px;
		text-align: center;
	}
	#product-detail-wrap.product-detail-table .dealer-info-list-wrap p { font-size: 14px; }
}

/* 2019春新作展示会バナー */
.product-setinfo-wrap .webexp-productdetail {
	display: flex;
	justify-content: flex-start;
	flex-wrap: no-wrap;
}
.product-setinfo-wrap .webexp-productdetail .left {
	width: 100%;
	max-width: 205px;
}
.product-setinfo-wrap .webexp-productdetail .right {
	width: 100%;
	max-width: 126px;
}
/* SP */
@media screen and (max-width: 670px) {
	.product-setinfo-wrap .webexp-productdetail {
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 331px;
		height: 44px;
		box-sizing: border-box;
		padding: 10px 10px 0;
		margin: 0 auto 10px;
	}
}