@charset "shift_jis";
.point .mark{
	text-align : center;
}
/**ポイントの背景**/
.point .rank_white{
}
.point .rank_bronze{
	/*background: url(/img/point/background_b.gif) no-repeat center top;*/
}
.point .rank_silver{
	/*background: url(/img/point/background_s.gif) no-repeat center 0px;*/
}
.point .rank_gold{
	/*background: url(/img/point/background_g.gif) no-repeat center top;*/
}
.point .rank_plutinum{
	/*background: turl(/img/point/background_p.gif) no-repeat center top;*/
}

/** CSSが読み込まれないときの代替文字対応 **/
.navi-subtitle span{
	display: none !important;
}

.point .point-rank{
	float:left;
	padding-left:10px;
	height:2em;
	line-height:2em;
	margin-top:1px;
}

.point .point-text{
	float:left;
	margin-left:0.5em;
	font-weight:bold;
	height:2em;
	line-height:2em;
}