@charset "shift_jis";

/* body -------------------------------------------------------------- */

html, body {
	margin: 0;
	height: 100%;
	background-color: #FFFFFF;
	color: #333333;
}

form{
	margin:0px;
}

.wrapper {
	min-height: 100%;
	height:auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
th {
	font-weight:normal;
}
img {
	border: 0px;
}
.footer, .push {
	height: 60px;
}
.footer {
	background-color: #CCCCCC;
}

/* link -------------------------------------------------------------- */

a:link {
	color:#0066cc;
	text-decoration: none;
}
a:visited {
	color:#800080;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}


a:link.writing,
a:visited.writing,
a:active.writing,
a:hover.writing {
	text-decoration: underline;
}

a:link.writing-icon010,
a:visited.writing-icon010,
a:active.writing-icon010 {
	text-decoration: underline;
	background-image: url(/img/icon/010.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:15px;
}

a:hover.writing-icon010 {
	text-decoration: underline;
	background-image: url(/img/icon/010_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.icon010,
a:visited.icon010,
a:active.icon010 {
	background-image: url(/img/icon/010.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:hover.icon010 {
	background-image: url(/img/icon/010_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.icon010-2,
a:visited.icon010-2,
a:active.icon010-2 {
	background-image: url(/img/icon/010_2.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:hover.icon010-2 {
	background-image: url(/img/icon/010_2_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.writing-icon011,
a:visited.writing-icon011,
a:active.writing-icon011 {
	text-decoration: underline;
	background-image: url(/img/icon/011.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:hover.writing-icon011 {
	text-decoration: underline;
	background-image: url(/img/icon/011_on.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:link.icon011,
a:visited.icon011,
a:active.icon011 {
	background-image: url(/img/icon/011.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
}

a:hover.icon011 {
	background-image: url(/img/icon/011_on.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
}

a:link.icon013,
a:visited.icon013,
a:active.icon013 {
	background-image: url(/img/icon/013.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:hover.icon013 {
	background-image: url(/img/icon/013_on.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:link.icon014,
a:visited.icon014,
a:active.icon014 {
	background-image: url(/img/icon/014.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:hover.icon014 {
	background-image: url(/img/icon/014_on.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:link.icon015,
a:visited.icon015,
a:active.icon015 {
	background-image: url(/img/icon/015.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:hover.icon015 {
	background-image: url(/img/icon/015_on.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 17px;
}

a:link.writing-icon012,
a:visited.writing-icon012,
a:active.writing-icon012 {
	text-decoration: underline;
	background-image: url(/img/icon/012.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:15px;
}

a:hover.writing-icon012 {
	text-decoration: underline;
	background-image: url(/img/icon/012_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.icon012,
a:visited.icon012,
a:active.icon012 {
	background-image: url(/img/icon/012.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:hover.icon012 {
	background-image: url(/img/icon/012_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.writing-icon016,
a:visited.writing-icon016,
a:active.writing-icon016 {
	text-decoration: underline;
	background-image: url(/img/icon/016.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:15px;
}

a:hover.writing-icon016 {
	text-decoration: underline;
	background-image: url(/img/icon/016_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.icon016,
a:visited.icon016,
a:active.icon016 {
	background-image: url(/img/icon/016.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:hover.icon016 {
	background-image: url(/img/icon/016_on.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

a:link.icon_point,
a:visited.icon_point,
a:active.icon_point {
	text-decoration: none;
	background-image: url(/img/icon/head_point_01.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 3px 0 0 25px;
	height: 23px;
	display: block;
}

a:hover.icon_point {
	text-decoration: underline;
	background-image: url(/img/icon/head_point_01_on.gif);
}

a:link.icon_souryou,
a:visited.icon_souryou,
a:active.icon_souryou {
	text-decoration: none;
	background-image: url(/img/icon/head_souryou_01.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 3px 0 0 25px;
	height: 23px;
	display: block;
}

a:hover.icon_souryou {
	text-decoration: underline;
	background-image: url(/img/icon/head_souryou_01_on.gif);
}


a.tab_count
{
	font-size: 12px;
	text-decoration:none;
}
a.toppr {
	text-decoration:none;
	font-size: 80%;
	color: #009900;
}

A:hover.onMouse,
A:active.onMouse {
	_width: auto;/* IEのバグ対策 */
	/* IEはA:hoverやA:activeにサイズ指定しないと画像が切換らない */
	text-decoration: none;
}

IMG.onMouseOver,
IMG.onMouseOut {
	/* 画像の枠線なし */
	border: 0;
}
A:link    IMG.onMouseOver,
A:visited IMG.onMouseOver {
	display: none;
}
A:hover   IMG.onMouseOver,
A:active  IMG.onMouseOver {
	display: inline;
}
A:link    IMG.onMouseOut,
A:visited IMG.onMouseOut {
	display: inline;
}
A:hover   IMG.onMouseOut,
A:active  IMG.onMouseOut {
	display: none;
}

/* formSubmit用 */
A:link input.onMouseOver,
A:visited input.onMouseOver {
	display: none;
}
A:hover input.onMouseOver,
A:active  input.onMouseOver {
	display: inline;
}
A:link input.onMouseOut,
A:visited input.onMouseOut {
	display: inline;
}
A:hover input.onMouseOut,
A:active input.onMouseOut {
	display: none;
}

a.continue{
	background : url("/img/icon/011.gif") no-repeat scroll 0 1px transparent;
	padding-left : 16px;
	color : #666666;
}

/* text size --------------------------------------------------------- */

.box1214
{
	font-size: 80%;
	line-height: 130%;
}
.box80110
{
	font-size: 80%;
	line-height: 110%;
}
.box90130
{
	font-size: 90%;
	line-height: 130%;
}
.box90150
{
	font-size: 90%;
	line-height: 150%;
}
.box80150
{
	font-size: 80%;
	line-height: 150%;
}
.box80200
{
	font-size: 80%;
	line-height: 200%;
}

.box80300
{
	font-size: 80%;
	line-height: 300%;
}


/* border ------------------------------------------------------------ */

.border_01
{
	border-bottom:1px dotted #666666;
}
.border_02
{
	border-left:2px dotted #999999;
}
.border_03
{
	border-bottom:1px dashed #999999;
	font-size: 80%;
	line-height: 130%;
}
.border_04
{
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
}
.border_05
{
	border-left:1px solid #666666;
}
.border_06
{
	border-top:1px solid #666666;
}
.border_08
{
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-bottom:1px dotted #666666;
}
.border_09
{
	border-bottom:1px solid #cccccc;
}
.border_10
{
	border-left:5px solid #C93232;
	border-bottom:2px solid #C93232;
}
.border_11
{
	border-bottom:1px solid #CCCCCC;
}
.border_12
{
	border-left:3px solid #C5D1F3;
	border-bottom:1px solid #C5D1F3;
}
.border_13
{
	border-left:3px solid #F2BFE8;
	border-bottom:1px solid #F2BFE8;
}
.border_14
{
	border-left:1px solid #CCCCCC;
}
.border_15
{
	border-bottom:1px solid #999999;
}

/* li ------------------------------------------------------------ */

li.search_off
{
	background-position: center left;
	background-repeat: no-repeat;
	list-style: none;
	list-style-image: url(/img/icon/round_link.gif);
	color: black;
	font-weight: normal;
}

li.search_on
{
	background-position: center left;
	background-repeat: no-repeat;
	list-style: none;
	list-style-image: url(/img/icon/round_link_on.gif);
	color: #dc4d4d;
	font-weight: bold;
}

div.refine_list {
	margin-left: 20px;
}

div.refine_list ul {
	padding-left: 10px;
	margin: 0px;
}

li.search_off span {
	margin-left: 3px;
}

/* calendar ------------------------------------------------------------ */

.oneday
{
	vertical-align: top;
	background-color: #FFFFFF;
	height: 100px;
	text-align: left;
}
.oneday_today
{
	vertical-align: top;
	background-color: seashell;
	height: 100px;
	text-align: left;
}
.oneday ul
{
	margin: 0;
	padding: 3px;
}
.oneday li
{
	margin: 0 0 5px 15px;
	list-style-image: url(/img/icon/009.gif);
}
.oneday_today ul
{
	margin: 0;
	padding: 3px;
}
.oneday_today li
{
	margin: 0 0 5px 15px;
	list-style-image: url(/img/icon/009.gif);
}

/* event ------------------------------------------------------------ */

.event_new {
	position: relative;
	width:160px;
	height:90px;

}

.event_newmark {

	position: absolute;
	background-image: url("/event/new.gif");
	width: 35px;
	height: 35px;
	left:124px;
	top:1px;
	background-repeat:no-repeat;
}

/*  ------------------------------------------------------------ */

.vmiddle
{
	vertical-align:middle;
}
.vtop
{
	vertical-align:top;
}
.vbottom
{
	vertical-align:bottom;
}

/*  日刊・週刊---------------------------------------------------- */

.publication_box
{
	width:930px;
	text-align: center;
	margin: 0 auto;
}
.publication_line1
{
	float:left;
	border:solid 7px #ffffff;
	width:172px;
	position: relative;
}
.publication_line2
{
	border:solid 1px #cccccc;
	height:280px;
	font-size:80%;
	margin-bottom:0;
	valign:bottom;
}
.publication_title
{
	border-bottom : solid 1px #cccccc;
	margin:5px;
	cellpadding:5;
	background:#eeeeee;
	height:37px;
	padding:3px;
}
.publication_button
{
	position: absolute;
	top: auto;
	right: 5px;
	bottom: 8px;
	left: auto;
}

/* etc --------------------------------------------------------------- */

/* 商品検索 */

.serchword
{
width: 160px;
}
.serchsubmit
{
width: 80px;
}

/* ヘッダの企業数商品数 */

.header_count
{
	font-size: 14px;
	border-top:2px dotted #FF9900;
	border-bottom:2px dotted #FF9900;
}

/* SEO */

h1
{
font-size:12px; margin:0px; COLOR: #666666;
font-weight: lighter;
}
h2
{
	padding: 0px;
	margin:0px;
	border-bottom: dotted 3px #666666;
	font-size: 22px;
	color: #666666;
}
strong
{
font-size:14px; font-weight: normal;
}

/* 企業お知らせ */
div.dealer_information_pr
{
	margin: 8px 0 5px 0;
}

div.dealer_information_pr a
{
	color: rgb(204, 0, 0);
	font-size: 17px;
	line-height: 19px;
	text-decoration: none;
	font-weight: bold;
}

/* 商品詳細 ムービータグ */
#product_comment span#movie_code {
	display: none;
}

/* 商品詳細 追加画像タグ */
#product_comment span#extra_image {
	display: none;
}

/* abolition(撲滅方向) --------------------------------------------------------- */

TABLE.70 {
	FONT-SIZE: 70%; LINE-HEIGHT: 120%
}
TABLE.80 {
	FONT-SIZE: 80%; LINE-HEIGHT: 120%
}
TABLE.90 {
	FONT-SIZE: 90%; LINE-HEIGHT: 120%
}
TABLE.71 {
	FONT-SIZE: 70%; LINE-HEIGHT: 150%
}
TABLE.81 {
	FONT-SIZE: 80%; LINE-HEIGHT: 150%
}
TABLE.91 {
	FONT-SIZE: 90%; LINE-HEIGHT: 150%
}
TABLE.92 {
	FONT-SIZE: 90%; LINE-HEIGHT: 200%
}
TABLE.mail {
	FONT-SIZE: 80%; LINE-HEIGHT: 110%
}
.cornertitle {
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
}
.borderleft {
	border-left:1px solid #666666;
}

DIV.lthrough {
text-decoration:line-through;
}

div.fixedLay
{
    position         : absolute   ;
    z-index          : 100       ;
    left             : -200px     ;
    top              : -200px     ;
}

a.fixedLay
{
    text-decoration  : none       ;
    font-size        : 14px       ;
    font-weight      : bold       ;
}

/* IE5.5対策 bodyセンタリング */
	div.center_for_ie{
		text-align: center;
	}
	div.body_dum{
		margin: 0 auto;
		text-align: left;
		width: 780px;
	}
/* ********************** */
