@charset "shift_jis";

/*** マイページ＆検討中リスト専用css ***/

.jsp-layout-base-layout { width: 96%; }
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap {
	width: 93%;
	margin: 0 auto 0 35px;
	padding: 40px 0;
	border-bottom: dotted 1px #999999;
	text-align: left;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap:last-of-type { border-bottom: 0; }
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box01 {
	width:100%;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .cp-topic {
	margin: 5px 0 15px 10px;
	font-size: 11px;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .cp-topic .campaign-topic,
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .cp-topic .pricedown-topic {
	background-color: #eeeeee;
	color: #333333;
	padding: 2px 8px;
	margin-left: 10px;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .dealer-info-text {
	position: absolute;
	width: 400px;
	background-color: #ffffff;
	padding: 5px;
	border: solid 2px #cccccc;
	top: 0;
	left: 0;
	display: none;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .l {
	float:left;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .info {
	margin: 0 0 10px 20px;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 span {
	line-height:1.6;
}

#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips {
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	margin: 0 20px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips th {
	padding:3px;
	border-bottom:1px solid #cccccc;
	min-width: 5em;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td {
	padding:3px;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	text-align: left;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td > table {
	width: 100%;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td > table td {
	border: none;
	padding:3px 20px;
	text-align: left;
	white-space: normal;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td > table td:first-child {
	border-right: dotted 1px #cccccc;
	box-sizing: border-box;
	padding:3px 7px;
	width: 215px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td > table td:last-child {
	width: 250px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td > table td a:last-child {
	margin-right: 0 !important;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .tips td .new {
	font-size: 15px;
	margin-left: 5px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .notice-headline {
	font-weight: bold;
	line-height: 1;
	margin: 15px 0 5px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .campaign-box {
	margin: -2px 0 -3px;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .campaign-box .cp-info {
	background-color: #eee;
	margin: 15px 0 0;
	padding: 4px 0;
	text-align: center;
	width: 58%;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .news-box {
	line-height: 1;
}
#jsp-tiles-tradinglist-list .tradinglist-delaer-wrap .box02 .r{
	float:right;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-mark span {
	margin:0;
}


#jsp-tiles-tradinglist-list .tradinglist-dealer-image {
	width: 120px;
	margin: 0 20px;
	float:right;
}
#jsp-tiles-tradinglist-list .tradinglist-dealer-image .item-image-box {
	width: 120px;
	height: 120px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	transition: opacity 0.1s ease-in;
}
#jsp-tiles-tradinglist-list .tradinglist-dealer-image .item-image-box:hover { opacity: 0.8; }
#jsp-tiles-tradinglist-list .tradinglist-dealer-out-line {
	border:1px solid #cccccc;
	width: 124px;
	height: 124px;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-out-line .dealer-product-img {
	margin: 0;
	height: 120px;
	width: 120px;
	position:relative;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-out-line .product-img-border {
	border: 1px solid #ffffff;
	margin: 1px;
	cursor: pointer;
	background-color:#ffffff;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-name-box{
	padding: 5px 0;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-name {
	font-size: 15px;
	font-weight: bold;
	height:22px;
	float:left;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-name .mark {
	float:left;
	padding-right:5px;
	padding-top:2px;
}

* html #jsp-tiles-tradinglist-list .tradinglist-dealer-name .mark { /* for -IE6 */
	padding-right: 0;
}

#jsp-tiles-tradinglist-list .cpmark-box {
	margin:3px 0;
	float:right;
	white-space:nowrap;
	position:relative;
	z-index:1;
}

#jsp-tiles-tradinglist-list .cpmark-box span {
	margin:0;
}

html>/**/body #jsp-tiles-tradinglist-list .cpmark-box .co-tooltip-onmouse a:hover span {/* for -IE8 */
	top/*\**/: 3px\9;
	left:0;
}

#jsp-tiles-tradinglist-list .cpmark-box .co-tooltip-onmouse a:hover span {
	top: 14px;
	*top: 20px;/* for -IE6・7 */
	left:0;
}

#jsp-tiles-tradinglist-list .over-about {
	width: 18em;
	text-align: left !important;
}

.dealer-satisfaction {
	margin: 0 10px 0 0;
	vertical-align: top;
	right:0;
}
.dealer-satisfaction-score { right: 0; }
#jsp-tiles-tradinglist-list .tradinglist-dealer-status-icon {
	float: right;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-status-icon img {
	margin: 0 0 0 5px;
	vertical-align: -1px;
}

#jsp-tiles-tradinglist-list .tradinglist-dealer-status {
	margin: 10px 0;
}

#jsp-tiles-tradinglist-list #dealer_pr_body_2 {
	margin: 10px 0 10px 3px;
	padding: 0 5px;
	border-left: 3px solid #999999;
	color: #666666;
}

#jsp-tiles-tradinglist-list .maintenance{
	margin: 5px auto;
	width: 98%;
}

#jsp-tiles-tradinglist-list .contactlist-important{
	padding: 0 40px 0 0;
	background: #ffffff;
	background: url("/img/message/important.gif");
	background-repeat: no-repeat;
	background-position: right;
	line-height: 200%;
}

#jsp-tiles-tradinglist-list .contactlist-beginner{
	padding-left: 40px;
	background: #ffffff;
	background: url("/img/guide/beginner/beginner_icon.gif");
	background-repeat: no-repeat;
	background-position: 15px;
	line-height: 200%;
}

.character-genre a {
	padding-left: 10px;
}

.character-genre a:hover {
	padding-left: 10px;
	background-image: url("/img/button/list_bg_left_on.gif");
	background-position: left center;
	background-repeat: no-repeat;
}

.genre-selected{
	padding-left:10px;
	background-image: url("/img/button/list_bg_left_on.gif");
	background-position: left center;
	background-repeat: no-repeat;
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-links {
	width: 98%;
	padding: 1px 0;
	text-align: left;
	border-bottom: solid 2px #CCCCCC;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-wrap {
	width: 100%;
	border-right: 0;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-links span {
	padding: 2px;
	background-color: #dc4d4d;
	color: #FFFFFF;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-sort {
	width: 98%;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-sort div {
	padding: 3px;
	background-color: #EEEEEE;
	text-align: left;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-sort span {
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-tradinglist-list .selected {
	color: #dc4d4d;
	font-weight: bold;
}

#jsp-tiles-tradinglist-list .errormsg {
	font-weight: bold;
	font-size: large;
	line-height: 160%;
}

#jsp-tiles-tradinglist-list .refinement-table01{
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	border-top: solid 1px #999999;
	font-size: 80%;
}

#jsp-tiles-tradinglist-list .refinement-table01 tr{
	background: #999999;
	color: #ffffff;
}

#jsp-tiles-tradinglist-list .refinement-table01 td{
	font-weight: bold;
}

#jsp-tiles-tradinglist-list .refinement-table02{
	border-left:solid 1px #999999;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #999999;
	font-size:80%;
}

#jsp-tiles-tradinglist-list .favarite-genre-td{
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
	border-top: solid 1px #ffffff;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .headline-area{
	margin: 0 auto;
	padding: 4px 8px ;
	background: #eeeeee;
	border-top: solid 1px #999999;
	font-weight: bold;
	line-height: 200%;
}


#jsp-tiles-tradinglist-list .favarite-genre-td .headline-text{
	width: 100%;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .ul-style{
	margin: 0;
	padding: 8px;
	list-style: none;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .ul-ul-style{
	margin: 0;
	padding: 4px 0 0;
	list-style: none;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .ul-ul-li-style{
	padding:3px 0 3px 10px;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .li-style{
	padding: 10px 0 0 5px;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .li-style a{
	display:block;
	width: 100%;
}


#jsp-tiles-tradinglist-list .favarite-genre-td .favorite-flag{
	margin: 3px 0 3px 20px;
}

#jsp-tiles-tradinglist-list .favarite-genre-td .favorite-flag-icon{
	vertical-align:middle;
}

#jsp-tiles-tradinglist-list .dealer-name-sort{
	width: 45%;
	padding: 6px 0 0 5px;
	float: left;
}

#jsp-tiles-tradinglist-list .dealer-name-sort a{
	display:block;
	width: 90%;
}

#jsp-tiles-tradinglist-list .dealer-name-sort-bottom{
	width: 45%;
	padding: 6px 0 10px 5px;
	float: left;
}

#jsp-tiles-tradinglist-list .dealer-name-sort-bottom a{
	display:block;
	width: 90%;
}

#jsp-tiles-tradinglist-list .side-navi-wrap {
	margin-top: 20px;
}

#jsp-tiles-tradinglist-list .recommend-item  {
	width: 200px;
	margin: 10px auto 15px;
	text-align: center;
}

#jsp-tiles-tradinglist-list .recommend-item .thumbnail {
	width: 120px;
	margin: 0 auto 5px;
	padding: 2px;
}
#jsp-tiles-tradinglist-list .recommend-item .thumbnail a {
	display: table-cell;
	border: 1px #cccccc solid;
	width: 120px;
	height: 120px;
	text-align: center;
	vertica-align: middle;
	line-height: 0;
	transition: opacity 0.1s ease-in 0s;
}
#jsp-tiles-tradinglist-list .recommend-item .thumbnail a:hover { opacity: 0.8; }
#jsp-tiles-tradinglist-list .recommend-item .company-name { text-align: center; }

/*notice*/

#jsp-tiles-tradinglist-list .notice{/*親違いがindex.cssにあります*/
	text-align:left;
	margin-bottom:5px;
	margin-left:15px;
}

#jsp-tiles-tradinglist-list .notice a{
	padding-top:1px;

}

/*message*/

#jsp-tiles-tradinglist-list .contactlist-style-wrap {
	width: 98%;
	margin: 0 auto 20px;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	text-align: left;
	font-size: 80%;
}

#jsp-tiles-tradinglist-list-message .subtitle {
	width: 98%;
	margin: 0 auto 7px;
	border-top: solid 1px #999999;
	text-align: left;
	font-size: 90%;
}

#jsp-tiles-tradinglist-list-message .subtitle-text {
	padding-left: 10px;
	border-top: solid 1px #ffffff;
	background: #eeeeee;
	line-height: 200%;
	font-weight: bold;
}

#jsp-tiles-tradinglist-list-message .subtitle-text .list{
	font-size:100%;
	font-weight:normal;
}

#jsp-tiles-tradinglist-list-message .subtitle-text .list-cursor{
	font-size:90%;
}

#jsp-tiles-tradinglist-list-message .subtitle-notice-area {
	width: 98%;
	margin: 0 auto 7px;
	border-top: solid 1px #cccccc;
	text-align: left;
	font-size: 90%;
}

#jsp-tiles-tradinglist-list-message .subtitle-notice-area .subtitle-text {
	padding-left: 10px;
	border-top: solid 1px #ffffff;
	background: #eeeeee;
	line-height: 200%;
	font-weight: bold;
}

#jsp-tiles-tradinglist-list-message .subtitle-notice-area .list{
	font-size:100%;
	font-weight:normal;
}

#jsp-tiles-tradinglist-list-message .subtitle-notice-area .list-cursor{
	font-size:90%;
}

#jsp-tiles-tradinglist-list-message .message-area{
	width: 98%;
	margin: auto 0;
	border-bottom:#cccccc 1px solid;
}

#jsp-tiles-tradinglist-list-message .message-area .beginner{
	margin: 0 0 5px 5px;
	text-align:left;
	padding-bottom: 5px;
}

#jsp-tiles-tradinglist-list-message .message-notice-area{
	margin-left: 10px;
	clear:both;
}

#jsp-tiles-tradinglist-list-message .message-notice-area .message{
	margin: 5px 5px 10px 5px;
	text-align:left;
	float:left;
}

#jsp-tiles-tradinglist-list-message .message-notice-area .message .dot{
	color:#666666;
	font-size:80%;
}

#jsp-tiles-tradinglist-list-message ul {
	margin : 0;
	padding : 0 0 40px 5px;
	text-align:left;
}

#jsp-tiles-tradinglist-list-message ul li {
	list-style: none;
	float:left;
}

#jsp-tiles-tradinglist-list-message ul.msg-list {
	margin:0 10px 0px auto;
	padding:0;
}
#jsp-tiles-tradinglist-list-message ul.msg-list li {
	padding-bottom: 5px;
	padding-left: 5px;
	background: #ffffff;
	line-height: 150%;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .pager-box {
	border-top: solid 4px #999999;
	background-color: #eeeeee;
	font-size: 82%;
	line-height: 1.4;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .pager {
	float:right;
	font-size:14px;
	line-height:1.5;
	padding:5px;
}

.list-bottom-useful {
	width: 98%;
	margin-top:20px;
	text-align:right;
}

.list-bottom-useful img {
	vertical-align:middle;
}

/*絞り込み*/
#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .list .favorite-mark {
	color:#dc4d4d;
	font-weight:bold;
	margin-left:3px;
	background-image: url('/img/icon/favorite_on.gif');
	background-repeat: no-repeat;
	padding-left: 17px;
}
#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .list label .sdship-mark {
	margin: 2px 0 0 3px;
	vertical-align: sub;
}
#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .list .campaign-search {
	display: inline-block;
	margin-top: -1px;
	vertical-align: top;
}
#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .list .co-popup-link-03 {
	display:inline;
	padding-left:0;
}

#jsp-tiles-tradinglist-list .tradinglist-serch-wrap .list .co-popup-link-03 .inner-text {
	width: 20em;
	font-weight:normal;
}
/*絞り込み*/

/*** 海外 ***/
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-delaer-frame {
	text-align: left;
	padding: 25px 0 0 25px;
	margin-bottom: 30px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-delaer-wrap {
	width: 16em;
	display: inline-block;
	margin: 0 20px 20px 0;
	border: 1px solid #ccc;
	padding: 10px 0 0;
	box-sizing: border-box;
	vertical-align: top;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction {
	margin: 0;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .cpmark-box {
	height: 20px;
	float: none;
	padding: 0 10px;
	line-height: 1;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score table {
	border-collapse: collapse;
	font-size: 10px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score th,
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score td {
	padding: 0;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score .tbl-head {
	padding-top: 5px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score .tbl-content {
	padding-top: 5px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-star {
	cursor: default;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .dealer-satisfaction-score {
	position: absolute;
	right: 0;
	top: 16px;
	width: 370px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .trading-info-wrap {
	margin-top: 10px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table {
	width: 100%;
	border-top: 1px solid #CCC;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table tr:first-child th,
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table tr:first-child td {
	border-bottom: 1px solid #fff;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table th,
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table td {
	vertical-align: middle;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table th {
	background-color: #efefef;
	width: 6.5em;
	padding: 2px 8px;
	text-align: left;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap table.info-table td {
	background-color: #f7f7f7;
	text-align: center;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .list-layout-wrap {
	width: 100%;
	display: table;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-serch-wrap .list .favorite-mark {
	background-image: none;
	padding-left: 0;
	margin-left: 0;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-serch-wrap .list .favorite-mark .inner-text {
	z-index: 2;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-dealer-name {
	height: 4.2em;
	float: none;
	padding: 0 10px;
	font-size: 100%;
	overflow: hidden;
	font-weight: normal;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .cate-search-dealer-name {
	height: 5em;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .cate-search-dealer-name strong {
	max-height: 2.8em;
	overflow: hidden;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .tradinglist-dealer-name strong {
	display: block;
	font-weight: bold;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .mark {
	height: 3.8em;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .favorite-vendor-thum {
	width: 168px;
	height: 168px;
	background-color: #f6f6f6;
	margin: 0 auto 20px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .favorite-vendor-thum a {
	width: 168px;
	height: 168px;
	display: table-cell;
	vertical-align: middle;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap .favorite-vendor-thum a .no-image {
	display: block;
	text-align: center;
	width: 168px;
}
#jsp-tiles-tradinglist-list.foreign-member-list-wrap p.bg-list-link {
	height: 1.4em;
	background-color: #f7f7f7;
	margin-bottom: 0;
	border-top: 1px solid #fff;
	padding: 3px 8px;
	font-size: 13px;
}

/* SD Selection */
#jsp-tiles-tradinglist-list .sd-selection {
	background-color: #f0ebe5;
	border-bottom: dotted 1px #cccccc;
	box-sizing: border-box;
	padding: 20px;
}
#jsp-tiles-tradinglist-list .sd-selection > div {
	display: table;
	width: 100%;
}
#jsp-tiles-tradinglist-list .sd-selection > div > .info-text-wrap {
	display: table-cell;
	vertical-align: middle;
	width: 55%;
}
#jsp-tiles-tradinglist-list .sd-selection > div > .info-text-wrap p {
	font-size: 13px;
	margin: 0;
	margin-top: 30px;
}
#jsp-tiles-tradinglist-list .sd-selection > div > .banner-wrap {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
#jsp-tiles-tradinglist-list .sd-selection > div > .banner-wrap > div {
	border: solid 1px #cccccc;
	margin: 0 0 0 auto;
	width: 234px;
}
#jsp-tiles-tradinglist-list .sd-selection > div > .banner-wrap > div img {
	border: solid 2px #ffffff;
	vertical-align: middle;
	width: 230px;
}

/************************* SDセレクション *************************/
#sds-tradbnr-wrap {
	border-radius: 10px;
	color: #ffffff;
	width: 98%;
	height: 170px;
	margin: 0 auto 30px;
	display: block;
	transition: all 0.1s ease-in;
	background: url('/img/contents/selection/special_event/sale_2018ss/bg_01.png');
	overflow: hidden;
	border: 1px #cccccc solid;
	background-color: #333333;
}
#sds-tradbnr-wrap:hover {
	opacity: 0.8;
	text-decoration: none;
}
#sds-tradbnr-wrap .txt {
	height: 100%;
	background: url('/img/contents/selection/special_event/sale_2018ss/title_tradlist_01.png') center bottom no-repeat;
	background-size: auto 170px;
	color: transparent;
}
#sds-tradbnr-wrap.final {
	background: url('/img/contents/selection/special_event/sale_2018ss/bg_02.png');	
}
#sds-tradbnr-wrap .txt.final {
	background: url('/img/contents/selection/special_event/sale_2018ss/title_tradlist_02.png') center bottom no-repeat;
}

/*** 201902 一括申請導線強化 ***/
.request-all {
	display: inline-block;
	font-size: 13px;
	float: right;
}
.request-all .bigred {
	color: #dc4d4d;
	font-size: 20px;
	font-weight: bold;
}