@charset "shift_jis";

/* レイアウト（commonのリセットなど）
-------------------------------------------------------- */
.co-plist-layout-wrap{width: 100%;}
#jsp-tiles-wishlist-c textarea:focus {
  outline: 0;
}
#jsp-tiles-wishlist-c .list-bottom-useful {
	text-align: right;
	padding: 1px;
	margin: 20px auto;
}
.co-notice-nobrdr-area {
	margin: 15px 0;
}
.recommend-box-wrap .recommend-item-box .cp-target, .item-box-area .itembox-parts .cp-target{margin-bottom: 3px;}


/* wishlist 
-------------------------------------------------------- */
	.item-box-area{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 0;
	}
	#jsp-tiles-wishlist-c .trade-price-apply {
		font-weight: bold;
	}
#jsp-tiles-wishlist-c .trade-price-apply span {
	font-size: 78%;
}

/*メモ*/
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents {
	display: table;
	cursor: pointer;
	width: 150px;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .pencil-icon,
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .sentence {
	display: table-cell;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .sentence span {
	transition: background-color 1.2s ease-out;
	margin: 0 -4px 0 -1px;
	padding: 0 4px 0 1px;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents.memo-saved .sentence span{
	background: #bee6ff;
	transition: background-color 0s ease-out;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .pencil-icon>img {width: 17px;}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .sentence {
	vertical-align: top;
	word-break: break-all;
	color: #999;
	font-style: oblique;
	width: 86%;
	margin-bottom: 0;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .sentence>span {
	border-bottom: 1px dashed #999;
	display: inline-block;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation {display: none;}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-input {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	width: 100%;
	height: 4em;
	padding: 3px;
	vertical-align: top;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
	resize: vertical;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-check,
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-clear {
	margin-top: 5px;
	color: #fff;
	width: 26px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-check {
	background: url('../img/wishlist/wishlist_select_icon_clear_mini_00.png') no-repeat center;
	background-color: #0066cc;
	background-size: 14px;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-check:hover {background-color: #1145aa;}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-clear {
	background: url('../img/wishlist/wishlist_select_icon_clear_00.png') no-repeat center;
	background-color: #fff;
	background-size: 18px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
#jsp-tiles-wishlist-c .wishlist-memo-area .memo-operation .memo-clear:hover {background-color: #eee;}

/*ペケとバツアイコン*/
#jsp-tiles-wishlist-c .itembox-out-line {position: relative;}
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-check span,
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-clear span{
	box-sizing: content-box;
}
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-clear {
	display: block;
}
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-clear span:nth-of-type(2) {
	right: 11px;
	top: 9px;
	position: absolute;
	color: #fff;
	width: 28px;
	height: 26px;
	background: url('../img/wishlist/wishlist_select_icon_clear_01.png') no-repeat center 5px;
	border-radius: 30px;
	border: 2px solid #888;
	background-color: #fff;
	background-size: 17px;
	cursor: pointer;
	opacity: 0;
}
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-check {
	display: none;
}
#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-check span {
	right: 11px;
	top: 9px;
	position: absolute;
	color: #fff;
	width: 28px;
	height: 26px;
	background: url('../img/wishlist/wishlist_select_icon_check_00.png') no-repeat center 6px;
	border-radius: 30px;
	border: 2px solid #dc4d4d;
	background-color: #fff;
	background-size: 17px;
	cursor: pointer;
}
/* 吹き出し */
.remove-check-txt {
	position: absolute;
	top: -26px;
	margin-left: 13px;
	white-space: nowrap;
	line-height: 1.2;
	background-color: #333333;
	color: #ffffff;
	padding: 6px 10px 4px;
	border-radius: 5px;
	font-size: 12px;
	z-index: 0;
	box-sizing: content-box;
	display: none;
}
.wishlist-select-icon-clear:hover .remove-check-txt {
	right: -1.4em;
	z-index: 30;
	display: block;
}
.wishlist-select-icon-clear .remove-check-txt:before,
.wishlist-select-icon-clear .remove-check-txt:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7px 0;
	position: absolute;
	left: 50%;
	margin-left: -6px;
}
.remove-check-txt:before {
	bottom: -10px;
	border-color: #ffffff transparent transparent;
}
.remove-check-txt:after {
	bottom: -9px;
	border-color: #333333 transparent transparent;
}

@media screen and (max-width: 940px) {
	.remove-check-txt { 
	display: none!important;
	}
}
/*固定削除ボタン*/
.wishtlist-fixed-delete-button {
	background: #eee;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 7999;
	text-align: center;
	padding: 18px 0;
	display: none;
	box-sizing: border-box;
}
.wishtlist-fixed-delete-button>a {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-size: 16px;
}
.wishtlist-fixed-delete-button>span {
	font-size: 17px;
	background: url('../img/wishlist/wish_dust_icon_00.png') no-repeat 28px 9px;
	background-color: #dc4d4d;
	border-radius: 1.5em;
	color: #fff;
	display: inline-block;
	padding: 7px 45px 5px 65px;
	min-height: 24px;
	line-height: 1.5;
	cursor: pointer;
	margin: 0 10px 0 10px;
}
/* PC */
@media screen and (min-width: 941px) {
	

	/* レイアウト（commonのリセットなど） */
	.co-plist-layout-wrap{width: 100%;}
	#jsp-tiles-wishlist-c { padding: 0 0 10px 2%;}
	.item-box-area .itembox-parts .item-dealer{min-height: 0;}
	
	
	/* wishlist */
	.jsp-layout-base-layout { width: 96%; }
	#jsp-tiles-wishlist-c .wishlist-delaer-wrap {
		margin-top: 10px;
		border-bottom: 1px dotted #CCCCCC;
		width: 93%;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-out-line {
		margin:0.5em;
		border:1px solid #cccccc;
		width: 164px;
		height: 164px;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-image-box p {
		margin: 0pt;
		position: relative;
		height: 170px;
		width: 160px;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-image-box .trade-icon {
		position: absolute;
		top: 0;
		left: 0;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-image-box .status-icon {
		position: absolute;
		top: -10px;
		left: -10px;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-image-box a img {
		position: absolute;
		top: 0;
		left: 0;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-text-box {
		padding: 25px 5px;
		text-align: left;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-del-box {
		width: 100px;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-item-name {
		margin-left: 22px;
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .wishlist-star-icon {
		float: left;
	}

	#jsp-tiles-wishlist-c .wishlist-dealer-name {
		line-height: 24px;
		margin: 8px 0 0 8px;
	}

	#jsp-tiles-wishlist-c .wishilist-dealer-item-status {
		margin: 8px 0 0 8px;
		line-height: 24px;
	}

	#jsp-tiles-wishlist-c .trade-status {
		color: #dc4d4d;
	}

	#jsp-tiles-wishlist-c .trade-status-applied {
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .trade-price-notopen {
		color: #666666;
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .trade-status-large {
		color: #333333;
		font-weight: bold;
		font-size: 17px;
	}

	#jsp-tiles-wishlist-c .trade-status-bold {
		color: #333333;
		font-size: 11px;
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .wishilist-serch-sort {
		width: 98%;
		border-bottom: solid 1px #cccccc;
	}

	#jsp-tiles-wishlist-c .wishilist-serch-sort div {
		padding: 3px;
		text-align: left;
		background-color: #EEEEEE;
	}

	#jsp-tiles-wishlist-c .wishilist-serch-sort span {
		color: #dc4d4d;
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .wishlist-option-box {
		width: 100%;
		padding: 8px 0;
		margin-bottom:10px;
		border-bottom:1px solid #ddd;
	}

	#jsp-tiles-wishlist-c .listorder-box + form .wishlist-option-box {
		padding: 10px 0;
	}

	#jsp-tiles-wishlist-c .wishlist-option-box .chk-wrap {
		margin: 4px 10px 0 0;
		float:right;
	}

	#jsp-tiles-wishlist-c .wishlist-option-box .image-wrap{
		float:right;
	}

	#jsp-tiles-wishlist-c .smd-listorder-box .wishlist-option-box .chk-wrap {
		margin: 4px 10px 0 0;
		float:left;
	}

	#jsp-tiles-wishlist-c .smd-listorder-box .wishlist-option-box .image-wrap{
		float:left;
	}

	#jsp-tiles-wishlist-c .smd-listorder-box + .co-notice-nobrdr-area{margin-top: 0;}


	#jsp-tiles-wishlist-c .wishlist-option-box .alert {
		margin: 9px 0 0 15px;
		color: #dc4d4d;
		font-weight: bold;
		float: left;
	}

	#jsp-tiles-wishlist-c .wishlist-image-itembox {
		width: 16em;
		float: left;
		margin: 8px;
		height: 420px;
		border: solid 2px #EEEEEE;
	}

	#jsp-tiles-wishlist-c .wishlist-image-innerbox {
		border: 1px solid #EEEEEE;
		margin: 0.5em;
		cursor: pointer;
	}

	#jsp-tiles-wishlist-c .wishlist-image-thumbnail {
		margin: 10px 0;
		text-align: center;
	}
	#jsp-tiles-wishlist-c .wishlist-dealer-image-box a .post-exit {
		position: absolute;
		top: 65px;
		left: 0;
		background-color: #8f8f8f;
		width: 100%;
		height: 29px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 2.4;
	}

	#jsp-tiles-wishlist-c .wishlist-image-thumbnail div {
		margin: 0pt auto;
		position: relative;
		height: 160px;
		width: 160px;
	}

	#jsp-tiles-wishlist-c .wishlist-image-thumbnail p {
		margin: 0pt;
		position: relative;
		height: 160px;
		width: 160px;
	}

	#jsp-tiles-wishlist-c .wishlist-image-productname {
		height: 2.8em;
		margin:  0 10px;
		overflow: hidden;
	}

	.wishlist-image-dealer-wrap {
		padding: 0pt 0pt 3px;
		text-align: center;
		color: #666666;
	}

	#jsp-tiles-wishlist-c .wishlist-image-dealer-wrap div {
		margin: 5px 0pt;
		text-align: center;
	}

	#jsp-tiles-wishlist-c .wishlist-image-dealer-wrap .wishlist-image-del {
		padding: 5px 0pt 3px;
		background-color: #EEEEEE;
		text-align: center;
		width: 100%;
	}


	#jsp-tiles-wishlist-c .wishlist-td-left-cell {
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 0 1px;
		background-color: #EEEEEE;
		width: 12%;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-center-cell {
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 0 1px;
		background-color: #FFFFFF;
		width: 21%;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-center-cell input {
		border: solid 1px #CCCCCC;
		padding-left: 3px;
		color:#666666;
	}

	#jsp-tiles-wishlist-c .wishlist-td-right-cell {
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 1px 0 1px;
		width: 21%;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-left-cell {
		backgound-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 0 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-inner-wrap {
		margin: 0pt;
		position: relative;
		height: 160px;
		width: 160px;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-inner-wrap .trade-icon {
		position: absolute;
		top: 0;
		left: 0;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-inner-wrap .status-icon {
		position: absolute;
		top: 0;
		left: -20px;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-center-cell {
		backgound-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 0 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-image-right-cell {
		backgound-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 1px 0 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-left-bottom-cell {
		background-color: #EEEEEE;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 1px 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-center-bottom-cell {
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px 0 1px 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .wishlist-td-right-bottom-cell {
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #999999;
		border-width: 1px;
		word-break: break-all;
	}

	#jsp-tiles-wishlist-c .del-wrap {
		margin: 5px 0;
	}

	#jsp-tiles-wishlist-c .del-text-color {
		color: #666666;
	}

	#jsp-tiles-wishlist-c .selected {
		color: #dc4d4d;
		font-weight: bold;
	}

	#jsp-tiles-wishlist-c .errormsg {
		font-weight: bold;
		font-size: large;
		line-height: 160%;
	}


	#jsp-tules-wishlist-search-box .genre-selected {
		color: #dc4d4d;
		font-weight: bold;
		background-image: url('../img/button/list_bg_left_on.gif');
		background-position: left center;
		background-repeat: no-repeat;
		padding-left:10px;
	}

	#jsp-tules-wishlist-search-box .character-genre-none a {
		padding-left: 15px;
		display:block;
	}

	#jsp-tules-wishlist-search-box .character-genre-none a:hover {
		background-image: url('../img/button/list_bg_left_on.gif');
		background-position: left center;
		background-repeat: no-repeat;
	}

	#jsp-tules-wishlist-search-box .character-genre-none-flat {
		padding:3px 0 3px 5px;
		border-top: solid 1px #ffffff;
		border-left: solid 1px #ffffff;
		border-bottom: solid 1px #ffffff;
		background-color: #ffffff;
	}

	#jsp-tules-wishlist-search-box .character-genre-none-flat a {
		padding-left: 10px;
		display:block;
	}

	#jsp-tules-wishlist-search-box .character-genre-none-flat a:hover {
		background-image: url('../img/button/list_bg_left_on.gif');
		background-position: left center;
		background-repeat: no-repeat;
	}


	/* レコメンド用のcss */


	#tiles-c-content-side-right .side-navi-wrap {
		overflow: hidden;
		width: 200px;
		margin-top: 10px;
	}

	#tiles-c-content-side-right .side-navi-title-image {
		background-image: url("../img/jsp/dealer_side_bar.gif");
		padding: 3px 0;
		border: solid 1px #CCCCCC;
	}


	#tiles-c-content-side-right #recommendBoxItemProduct {
		margin-bottom: 10px;
		padding: 20px 30px 0;
		border-left: solid 1px #CCCCCC;
		border-right: solid 1px #CCCCCC;
		border-bottom: solid 1px #CCCCCC;
		text-align: center;
	}

	#tiles-c-content-side-right #recommendBoxItemDealer {
		margin-bottom: 10px;
		text-align: center;
	}

	#recommendBoxDealer .recommend-item  {
		width: 200px;
		margin: 10px auto 15px;
		text-align: center;
	}

	#recommendBoxDealer .recommend-item .thumbnail {
		width: 120px;
		margin: 0 auto 5px;
		padding: 2px;
	}
	#recommendBoxDealer .recommend-item .thumbnail a {
		display: table-cell;
		border: 1px #cccccc solid;
		width: 120px;
		height: 120px;
		text-align: center;
		vertica-align: middle;
		line-height: 0;
		transition: opacity 0.1s ease-in 0s;
	}
	#recommendBoxDealer .recommend-item .thumbnail a:hover { opacity: 0.8; }
	#recommendBoxDealer .recommend-item .company-name { text-align: center; }

	/* 2011.10.20-検討中リスト用-test03 */
	#jsp-tiles-wishlist-c .itembox dl,
	#jsp-tiles-wishlist-c .itembox dt,
	#jsp-tiles-wishlist-c .itembox dd {
		padding:0;
		margin:0;
	}

	#jsp-tiles-wishlist-c .itembox {
		width: 166px;
		height: auto;
		min-height: 30em;
		margin: 0 0 0 25px;
		text-align:left;
	}
	/* 掲載終了 */
	#jsp-tiles-wishlist-c .itembox .itembox-out-line .item-image-box.end-img { opacity: 0.8; }
	#jsp-tiles-wishlist-c .itembox .itembox-out-line .item-image-box.end-img:before {
		content: '';
		position: absolute;
		left: 0 ;
		top: 0;
		width: 160px;
		height: 160px;
		background-color: rgba(0,0,0,0.2);
	}
	/* 海外 */
	#jsp-tiles-wishlist-c .itembox-en {
		width: 166px;
		height: 35em;
		float: left;
		margin: 0 0 0 25px;
		text-align:left;
	}
	#jsp-tiles-wishlist-c .itembox-inner {
		border: 1px solid #ffffff;
		margin: 1px;
		cursor: pointer;
	}

	#jsp-tiles-wishlist-c .itembox-prelogin {
		width: 200px;
		float: left;
		margin: 6px;
		height: 330px;
	}

	#jsp-tiles-wishlist-c .itembox .checkbox{
			overflow: hidden;
			text-align: left;
		width:160px;
		margin:0 auto;
	}

	#jsp-tiles-wishlist-c .itembox .checkbox dl{
		zoom:1;
		padding-bottom:3px;
	}

	#jsp-tiles-wishlist-c .itembox .checkbox dt{
		float:left;
	}

	#jsp-tiles-wishlist-c .itembox .checkbox dd{
		-moz-margin-start: 0;
		float:right;
	}

	#jsp-tiles-wishlist-c .itembox .checkbox dd .check{
		margin-right:10px;
	}

	#jsp-tiles-wishlist-c .itembox .dealername{
		height:20px;
		line-height:20px;
		overflow:hidden;
		margin: 0;
	}

	#jsp-tiles-wishlist-c .itembox .area{
		height:1em;
		margin-top:3px;
	}

	#jsp-tiles-wishlist-c .itembox .sdship{
		font-size:86%;
	}

	#jsp-tiles-wishlist-c .itembox .price{
		margin: 5px 0 0;
	}

	#jsp-tiles-wishlist-c .itembox .price .slash {
		margin-left: 1px;
	}

	#jsp-tiles-wishlist-c .itembox .price .lot {
			margin-top: 1px;
			display: inline-block;
	}

	#jsp-tiles-wishlist-c .itembox .memobox{
		margin:3px auto 0;
		width:160px;
		height:20px;
	}

	#jsp-tiles-wishlist-c .itembox-en .memobox {
		margin:3px auto 0 0;
		width:160px;
		height:20px;
	}

	#jsp-tiles-wishlist-c .itembox .checkarea{
		text-align:center;
		margin-bottom:5px;
	}

	#jsp-tiles-wishlist-c .itembox .memobox th.favorite img {
		vertical-align:middle;
		padding-right:5px;
	}

	#jsp-tiles-wishlist-c .itembox .memobox td.memober input{
		width:110px;
		border: 1px solid #cccccc;
		color: #666666;
	}

	#jsp-tiles-wishlist-c .itembox-en .memobox td.memober input{
		width:110px;
		border: 1px solid #cccccc;
		color: #666666;
	}

	#jsp-tiles-wishlist-c .itembox .standard {
		margin: 0.5em;
		border: solid 1px #EEEEEE;
		cursor: pointer;
	}

	#jsp-tiles-wishlist-c .itembox .new-item {
		margin: 0.5em;
		border: solid 1px #EEEEEE;
		cursor: pointer;
		background-image: url('../img/jsp/mark_new.gif');
		background-repeat: no-repeat;
	}

	#jsp-tiles-wishlist-c .itembox .price-down {
		margin: 0.5em;
		border: solid 1px #EEEEEE;
		cursor: pointer;
		background-image: url('../img/jsp/mark_pd.gif');
		background-repeat: no-repeat;
	}

	#jsp-tiles-wishlist-c .productname {
		min-height: 2.4em;
		margin: 3px 0 0;
		overflow: hidden;
		line-height:15px;
	}

	#jsp-tiles-wishlist-c .productname img{
		float:left;
		padding-right:5px;
	}

	#jsp-tiles-wishlist-c .productname .title {
		word-break: break-all;
		float: left;
		width: 145px;
	}

	#jsp-tiles-wishlist-c .productname .favorite{
		height:35px;
		float:left;
	}

	#jsp-tiles-wishlist-c .productname a {
			color: #666666;
			line-height: 125%;
	}


	#jsp-tiles-wishlist-c .dealer-status {
			color: #666666;
			padding: 0 0 3px;
		margin: 1px auto 0;
	}

	#jsp-tiles-wishlist-c .dealer-status .dealername-en{
		margin-bottom: 10px;
		height: 2.4em;
	}

	#jsp-tiles-wishlist-c .dealer-status .trading {
			color: #dc4d4d;
			font-weight: bold;
	}

	#jsp-tiles-wishlist-c .dealer-status .applied {
			font-weight: bold;
	}

	#jsp-tiles-wishlist-c .dealer-status .add-wishlist {
			margin: 5px 0;
			text-align: center;
	}



	#jsp-tiles-wishlist-c .thumbnail {
			margin: 0;
			text-align: center;
	}

	#jsp-tiles-wishlist-c .thumbnail div {
			height: 160px;
			margin: 0 auto;
			position: relative;
			width: 160px;
	}

	#jsp-tiles-wishlist-c .thumbnail p {
			height: 160px;
			margin: 0;
			position: relative;
			width: 160px;
	}

	/* /検討中リスト-test03 */

	/**** 2017通過前PJ ****/
	/*絞込み*/
	#jsp-tiles-tradinglist-list .co-product-refine .search-box-ttl .search-box-ttl-txt { font-size: 18px; }
	#jsp-tiles-tradinglist-list .co-product-refine .search-list-box {
		padding-bottom: 12px;
		margin-bottom: 12px;
	}
	#jsp-tiles-tradinglist-list .co-product-refine .refine-search-list .search-list-ttl-sub span {
		font-size: 13px;
		font-weight: bold;
		padding: 0 0 0 5px;
	}
	/*すべて選択ボタン*/
	#jsp-tiles-wishlist-c .wishlist-option-box .chk-wrap .all-select-button {
		color: #333;
		padding: 2px 13px 0 10px;
		border: 1px #333 solid;
		border-radius: 15px;
		font-size: 13px;
		transition: all 0.1s ease-in-out;
		display: block;
		margin-bottom: 3px;
		text-decoration: none;
	}
	#jsp-tiles-wishlist-c .wishlist-option-box .chk-wrap .all-select-button-active {
		text-decoration: none;
		background-color: #333;
		color: #fff;
	}
	/*ペケとバツアイコン*/
	#jsp-tiles-wishlist-c .item-img-box:hover .wishlist-select-icon-clear span,
	#jsp-tiles-wishlist-c .wishlist-dealer-image-box:hover+.wishlist-select-icon-clear span,
	#jsp-tiles-wishlist-c .item-img-box:hover .wishlist-select-icon-clear:hover span,
	#jsp-tiles-wishlist-c .wishlist-dealer-image-box+.wishlist-select-icon-clear span:hover,
	#jsp-tiles-wishlist-c .itembox-out-line .wishlist-select-icon-clear:hover {opacity: 1;}
	
	/*検討中商品が一つもない場合*/
	#jsp-tiles-wishlist-c .non-wish-product {
		text-align: center;
		margin: 55px auto;
	}
	#jsp-tiles-wishlist-c .non-wish-product .first-sentence {margin-bottom: 40px;}
	#jsp-tiles-wishlist-c .non-wish-product .first-sentence .middle-span {
		margin: 15px 0;
		font-size: 21px;
		display: inline-block;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence {
		max-width: 820px;
		margin: 0 auto;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence img {
		margin-top: 10px;
		width: 100%;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .left-box, 
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .right-box {
		width: 50%;
		box-sizing: border-box;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .left-box {
		float: left;
		padding-right: 15px;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .right-box {
		float: right;
		padding-left: 15px;
	}
}


/* SP/TABLET */
@media screen and (max-width: 940px) {
	/* レイアウト（commonのリセットなど） */
	*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.jsp-layout-base-layout,
	.co-plist-layout-wrap{
		width: 100%;
		margin: 0;
	}
	.co-container .co-title1{
		border-bottom: 0px;
		padding-bottom: 10px;
		text-align: center;
		margin: 25px auto 0;
	}
	.co-container .co-title1 span{
		color: #333333;
		padding: 0;
	}
	.listorder-box.upper-order{margin-top: 0;}
	
	#jsp-tiles-wishlist-c .co-product-soldout-m-160 { top: 11vw; }
	#jsp-tiles-wishlist-c .co-product-postexit-m-160 { top: 11vw; }
	#jsp-tiles-wishlist-c .item-box-area .itembox-parts .item-dealer{height: auto; margin-bottom: 5px;}
	.item-box-area .itembox-parts .item-dealer-name a {
		display: block;
		color: #0066cc;
		border: 1px #cccccc solid;
		padding: 0 5px;
		text-align: center;
		height: 2em;
		line-height: 2em;
		overflow: hidden;
		position: absolute;
		bottom: 8px;
		left: 0;
		font-size: 11px;
	}
	#jsp-tiles-wishlist-c .smd-listorder-area {
		border-bottom:1px solid #ddd;
	}
	#jsp-tiles-wishlist-c .smd-listorder-box { margin-bottom: 5px; }
	#jsp-tiles-wishlist-c .listorder-box + .smd-listorder-box {
		border-top: 0;
		padding-top: 0;
		margin-bottom: 0;
	}
	#jsp-tiles-wishlist-c .smd-listorder-box .chk-del-wrap{
		float:left;
		padding: 5px 15px ;
	}
	#jsp-tiles-wishlist-c .wishlist-memo-area {margin-top: 7px;}
	#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents {
		width: 98%;
	}
	#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .sentence {
		width: calc(100% - 17px);
	}
	#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .pencil-icon {
		width: 17px;
	}
	#jsp-tiles-wishlist-c .wishlist-memo-area .memo-contents .pencil-icon > img {
		vertical-align: middle;
		width: 14px;
	}
	#jsp-tiles-wishlist-c .list-bottom-useful {
		margin: 20px;
	}
	/*検討中商品が一つもない場合*/
	#jsp-tiles-wishlist-c .non-wish-product {
		text-align: center;
		margin: 15px auto 30px;
		padding: 20px;
	}
	#jsp-tiles-wishlist-c .non-wish-product .first-sentence {margin-bottom: 40px;}
	#jsp-tiles-wishlist-c .non-wish-product .first-sentence .middle-span {
		margin: 5px 0 15px;
		font-size: 21px;
		display: inline-block;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence {
		margin: 0 auto;
		padding: 0 20px;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence img {
		margin-top: 10px;
		width: 100%;
		max-width: 250px;
	}
	#jsp-tiles-wishlist-c .non-wish-product .first-sentence .middle-span span {
		display: inline-block;
	}
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .left-box, 
	#jsp-tiles-wishlist-c .non-wish-product .second-sentence .right-box {
		margin: 15px;
		display: inline-block;
		vertical-align: top;
	}
	
}

/* SP */
@media screen and (max-width: 670px) {
	#jsp-tiles-wishlist-c .co-product-soldout-m-160 { top: 22vw; }
	#jsp-tiles-wishlist-c .co-product-postexit-m-160 { top: 22vw; }
}


/* TAB/SP時商品を検討中から削除モード
-------------------------------------------------------- */
/* SP/TABLET */
@media screen and (max-width: 940px) {
	#jsp-tiles-wishlist-c .delete-mode-cancel-button {display: none;}
	#jsp-tiles-wishlist-c .wishlist_delete_mode .delete-mode-button {display: none;}
	#jsp-tiles-wishlist-c .wishlist_delete_mode .delete-mode-cancel-button {display: block;}
	#jsp-tiles-wishlist-c .wishlist_delete_mode .smd-listorder a {color: #858585; text-decoration: none; opacity: 0.6;}
	
	/*ペケとバツアイコン*/
	.item-box-area .itembox-parts .item-img-box {position: static;}
	#jsp-tiles-wishlist-c .wishlist_delete_mode .itembox-out-line .wishlist-select-icon-clear,
	#jsp-tiles-wishlist-c .wishlist_delete_mode .itembox-out-line .wishlist-select-icon-check {
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		position: absolute;
		cursor: pointer;
		z-index: 1;
	}
	#productlist-productbox:not(.wishlist_delete_mode) .wishlist-select-icon-clear,
	#productlist-productbox:not(.wishlist_delete_mode) .itembox-out-line .wishlist-select-icon-clear:hover {display: none!important;}
	#jsp-tiles-wishlist-c .wishlist_delete_mode .itembox-out-line .wishlist-select-icon-clear span:not(.remove-check-txt) {
		display: block;
		opacity: 1;
	}
}

/* 出品商品なしor検索結果なし
----------------------------------------------------------------------- */
#no-product-wrap {
	padding: 40px 10px 60px;
	border-bottom: 1px #cccccc solid;
	text-align: center;
	font-size: 82%;
}
#no-product-wrap span { text-indent: 0; }
#no-product-wrap ul { padding: 0; }
#no-product-wrap .search-advice-wrap span { vertical-align: middle; }
/* 出品商品なし */
#no-product-wrap .no-dealer-product {
	font-weight: bold;
	font-size: 15px;
	margin: 20px auto 0;
}
/* 検索結果なし */
#no-product-wrap .no-search-product {
	font-weight: bold;
	font-size: 15px;
	margin: 20px auto;
}
#no-product-wrap .search-reset-link {
	display: inline-block;
	margin: 5px 20px;
}
#no-product-wrap .search-reset-link .delet-result-icn {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-right: 3px;
}
/* メモ編集スライドモーダル
-------------------------------------------------------- */
.co-order-type-mdl .mdl-content-wrap p{
	width: 90%;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
}
.co-order-type-mdl .mdl-memo-area {
	margin-top: 15px;
	border-top: 1px #cccccc solid;
	padding-top: 15px;
}
.co-order-type-mdl textarea,
.co-order-type-mdl .mdl-memo-area p{
	width: 90%;
	max-width: 580px;
	margin: 0 auto 5px;
	display: block;
	height: 3em;
	line-height: 1.3;
}
.co-order-type-mdl .mdl-memo-area p {font-size: 12px; color: #666666; text-align: left;}
.co-order-type-mdl .image-box-wrap {
	position: relative;
	margin: 10px auto;
	width: 160px;
}
.co-order-type-mdl .large-image-absolute {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	height: 160px;
	text-align: center;
}
.co-order-type-mdl .large-image-absolute img {
	max-width: 160px;
	max-height: 160px;
}
.co-order-type-mdl .co-order-type-mdl-footer .co-btn{margin: 0 2% 0 0;}
.co-order-type-mdl .co-order-type-mdl-footer .co-btn:nth-of-type(1){margin: 0 3% 0 2%;}
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue {
	background: #0066cc;
	
}
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue a,
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue a:visited,
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue a:active,
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue a:hover,
.co-order-type-mdl .co-order-type-mdl-footer .co-btn-blue a:link{
	color: #ffffff;
}
/* SP */
@media screen and (max-width: 671px) {
	.co-order-type-mdl textarea{
		height: 4em;
	}
}
/* TAB/SP時絞り込みモーダル
-------------------------------------------------------- */
.co-order-type-mdl .co-order-check-list .co-order-check label:before {
	width: 20px;
	height: 20px;
	background-color: #cccccc;
	margin: 0 5px 0 -2px;
}
.co-order-type-mdl .co-order-check-list .co-order-check:before,
.co-order-type-mdl .co-order-check-list .co-order-check:after {
	content: '';
	position: absolute;
	height: 3px;
	background-color: #ffffff;
}
.co-order-type-mdl .co-order-check-list .co-order-check:before {
	width: 8px;
	-ms-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	transform: rotate(49deg);
	top: 23px;
	left: 13px;
}
.co-order-type-mdl .co-order-check-list .co-order-check:after {
	width: 11px;
	-ms-transform: rotate(-49deg);
	-webkit-transform: rotate(-49deg);
	transform: rotate(-49deg);
	top: 20px;
	left: 17px;
}
#rwd_search_box.co-order-type-mdl .co-order-type-mdl-content .co-order-type-input:not(.co-order-genre-list) li:hover{ background: #ffffff!important;}
/* SP/TABLET */
@media screen and (max-width: 940px) {
	.co-order-type-mdl .co-order-type-mdl-content .co-order-type-cap{width: 7em;}
	.co-order-type-mdl .co-order-type-mdl-content .co-order-type-input {width: calc(100% - 7em);}
	.co-order-type-mdl .co-order-type-mdl-content ul .co-order-check-list,
	.co-order-type-mdl .co-order-type-mdl-content .co-order-radio-list ul{padding: 0;}
	#rwd_search_box.co-order-type-mdl .co-order-type-mdl-content .co-order-radio-list{padding: 0 0 0 10px ;}
	.co-order-type-mdl .co-order-radio-list ul li {
		border: 0;
	}
	.co-order-type-mdl .co-order-type-mdl-content ul .co-order-check-list .co-order-type-cap{vertical-align: top; padding: 15px 0 0 10px;}
	.co-order-type-mdl .co-order-type-mdl-content ul .co-order-check-list ul{padding: 3px 0 0 0;}
	.co-order-type-mdl .co-order-type-mdl-content ul .co-order-check-list ul li{
		border: 0;
		margin: -3px 0 0 10px;
	}
	/* ジャンル開閉のトリガー */
	.co-order-type-mdl .genre-title { display: none; }
	.co-order-type-mdl .genre-on { display: block; }
}